@model TT.Domain.ViewModels.InventoryBonusesViewModel
           @using TT.Domain.ViewModels
            @using TT.Domain.Statics





<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

@{

    int HealthWidth = Convert.ToInt32(Model.Health / Model.MaxHealth * 100);
    if (HealthWidth > 100) { HealthWidth = 100; }
    int ManaWidth = Convert.ToInt32(Model.Mana / Model.MaxMana * 100);
    if (ManaWidth > 100) { ManaWidth = 100; }

}

<div class="specialBox specialBox2">
    <div class="avatarBars">
        <div class="barWrapper">
            <div class="barText">@Model.Health / @Model.MaxHealth willpower</div>
            <div class="barData barWP" style="width: @HealthWidth%"></div>
        </div>

        <div style="padding-right: 20px;"></div>

        <div class="barWrapper">
            <div class="barText">@Model.Mana / @Model.MaxMana mana</div>
            <div class="barData barMP" style="width: @ManaWidth%"></div>
        </div>

        <div style="padding-right: 20px;"></div>
    </div>

    <p>You are carrying <b>@Model.Items.Count(i => !i.dbItem.IsEquipped) / @TT.Domain.Procedures.ItemProcedures.GetInventoryMaxSize(Model.Bonuses)</b> items.</p>
    
    <p>You have used <b>@ViewBag.ItemsUsedThisTurn/1</b> consumable type items this turn.</p>
</div>

<div>
    <p class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>

<div class="containerInner">


    <div style="clear:both;"></div>
    @Html.Partial(MVC.PvP.Views.partial_InventoryEquipped, Model.Items)

    <br /><br />
 
    <div class="row">
        @{

            foreach (TT.Domain.ViewModels.ItemViewModel item in Model.Items)
            {
                @Html.Partial(MVC.PvP.Views.partial_InventoryItem, item)
                
            }

        }
        </div>

    <p>
        <a href="@Url.Action(MVC.Item.ShowStatsTable())">View statistics breakdown</a>
    </p>

@Html.Partial(MVC.PvP.Views.partial.partial_AllBuffsTable, Model.Bonuses)    
</div>
<div class="modal fade" id="itemDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Pet Actions</h4>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>



<script>

    function detail_success() {
        //$('#itemDetailModal').modal('show');
    }

    function detail_failure() {
        $("#fullDetails").html("Failed to load details");
    }

    function detail_wait() {
        $("#fullDetails").html("Loading details...");
    }

</script>



    <style>
        .itemName {
            font-size: 20px;
        }

        .WasPerson {
            font-size: 15px;
            color: chocolate;
            font-style: italic;
        }

        .avatarBars {
            display: -moz-box !important;
        }
    </style>
