@model IEnumerable<TT.Domain.ViewModels.EffectViewModel2>
@{
    ViewBag.Title = "My Effects";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner" style="text-align: center;">
    <h1>Your Level-Up Perks</h1>
    <p>Through experience you have gained some unique traits that help you in your adventures.</p>

    @{
        foreach (var e in Model.Where(e => e.dbEffect.IsPermanent))
        {
            <div class="perkBox">
                <div class="perkBoxTitle"><h3 style="margin-top:0px; color:white;">@e.Effect.FriendlyName</h3></div>
                <p>@e.Effect.Description</p>
                <div class="perkBoxStats">
                    @Html.Partial(MVC.PvP.Views.partial.partial_perkBonus, e.Effect)
                </div>
            </div>
        }
    }

    <h1>Your Curses and Blessings</h1>
    <p>These curses and blessings currently have active effects on your abilities.  They will go away over time.</p>

    @{

        foreach (var e in Model.Where(e => !e.dbEffect.IsPermanent))
        {
            <div class="perkBox">
                <div class="perkBoxTitle"><h3 style="margin-top:0px; color:white;">@e.Effect.FriendlyName</h3></div>
                <p>@e.Effect.Description</p>
                <p>
                    @{
                        if (e.dbEffect.Duration > 0 && e.dbEffect.Duration < 10000)
                        {
                            <span class="effectturnsRemaining">@e.dbEffect.Duration turns of effect remaining with </span>
                        }
                        else if (e.dbEffect.Duration >= 10000)
                        {
                            <span class="effectturnsRemaining">Unknown duration</span>
                        }

                        if (e.dbEffect.Duration < 10000)
                        {
                            <span class="effectcooldownRemaining">@e.dbEffect.Cooldown turns of cooldown</span>
                        }

                    }

                </p>
                <div class="perkBoxStats">
                    @Html.Partial(MVC.PvP.Views.partial.partial_perkBonus, e.Effect)
                </div>
            </div>
                        }

    }
</div>