@model IEnumerable<TT.Domain.ViewModels.ItemViewModel>
@using TT.Domain.ViewModels
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers

@{
    ItemViewModel hat = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Hat && i.dbItem.IsEquipped);
    ItemViewModel shirt = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Shirt && i.dbItem.IsEquipped);

    ItemViewModel undershirt = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Undershirt && i.dbItem.IsEquipped);
    ItemViewModel pants = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Pants && i.dbItem.IsEquipped);
    ItemViewModel underpants = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Underpants && i.dbItem.IsEquipped);
    ItemViewModel shoes = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Shoes && i.dbItem.IsEquipped);

    ItemViewModel pet = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Pet && i.dbItem.IsEquipped);


    ItemViewModel lhand = Model.FirstOrDefault(i => i.Item.ItemType == PvPStatics.ItemType_Accessory && i.dbItem.IsEquipped);

    ItemViewModel rhand;
    try
    {
        rhand = Model.Where(i => i.Item.ItemType == PvPStatics.ItemType_Accessory && i.dbItem.IsEquipped).Skip(1).Single();
    }
    catch
    {
        rhand = null;
    }



}

<div id="fullDetails">

</div>

<div class="row rowP">
    @{

        if (hat != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(hat, true));" title="@hat.Item.FriendlyName--@hat.Item.Description">
                <span class="icon icon-level"><b>@hat.dbItem.Level</b></span>
                <p class="slotName">Hat

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(hat.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>

                

            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Hat</p></div>
        }

        if (shirt != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(shirt, true));" title="@shirt.Item.FriendlyName--@shirt.Item.Description">
                <span class="icon icon-level"><b>@shirt.dbItem.Level</b></span>
                <p class="slotName">Shirt

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(shirt.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Shirt</p></div>
        }

        if (undershirt != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(undershirt, true)); " title="@undershirt.Item.FriendlyName--@undershirt.Item.Description">
                <span class="icon icon-level"><b>@undershirt.dbItem.Level</b></span>
                <p class="slotName">Undershirt

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(undershirt.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Undershirt</p></div>
        }

        if (pants != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(pants, true)); " title="@pants.Item.FriendlyName--@pants.Item.Description">
                <span class="icon icon-level"><b>@pants.dbItem.Level</b></span>
                <p class="slotName">Pants

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(pants.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');">
                <p class="slotName">Pants</p>
            </div>
        }

        if (underpants != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(underpants, true)); " title="@underpants.Item.FriendlyName--@underpants.Item.Description">
                <span class="icon icon-level"><b>@underpants.dbItem.Level</b></span>
                <p class="slotName slotUnderpants">Underpants

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(underpants.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName slotUnderpants">Underpants</p></div>
        }

        if (shoes != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(shoes, true)); " title="@shoes.Item.FriendlyName--@shoes.Item.Description">
                <span class="icon icon-level"><b>@shoes.dbItem.Level</b></span>
                <p class="slotName">Shoes

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(shoes.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Shoes</p></div>
        }

        if (lhand != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(lhand, true)); " title="@lhand.Item.FriendlyName--@lhand.Item.Description">
                <span class="icon icon-level"><b>@lhand.dbItem.Level</b></span>
                <p class="slotName">Acc 1

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(lhand.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Acc 1</p></div>
        }

        if (rhand != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(rhand, true)); " title="@rhand.Item.FriendlyName--@rhand.Item.Description">
                <span class="icon icon-level"><b>@rhand.dbItem.Level</b></span>
                <p class="slotName">Acc 2

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(rhand.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Acc 2</p></div>
        }
        if (pet != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(pet, true)); " title="@pet.Item.FriendlyName--@pet.Item.Description">
                <span class="icon icon-level"><b>@pet.dbItem.Level</b></span>
                <p class="slotName">Pet

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(pet.dbItem.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Pet</p></div>
        }
    }
</div>

<style>
    .slotName{
        position: absolute;
        text-align: center;
        top: 0px;
        width: 70px;
        background: white;
    }

    .slotUnderpants {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    }

    .equipmentMargin{
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .rowP{
        padding: 20px;
    }

</style>