@model TT.Domain.DTOs.Messages.MessageDetail
@using TT.Web.CustomHtmlHelpers

<!--used for ajax in AddAntiForgeryToken()-->
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav" style="width:100%;">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Back to Messages", "Index", "Messages")</li>
                <li>@Html.ActionLink("Reply", "Write", "Messages", new { playerId = Model.Sender.Id, responseTo = Model.Id }, null)</li>
                <li><a id="DeleteLink" href="javascript:void(0)">Delete</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner">
    <div id="originalMessage">
        @Html.ActionLink("Report this message as abusive", "MarkAsAbusive", "Messages", new { id = @Model.Id }, new { @class = "bad", onclick = "return confirm('Are you sure you wish to mark this message as abusive?');" })
        <div class="messageInfoContainer clearfix">
            <span class="messageNicknameContainer">@Model.Sender.GetFullName()</span>:
            <span class="messageTimeContainer">@CharactersHere.DatetimeToTimeago(Model.Timestamp)</span>
        </div>
        <div class="messageTextContainer">
            <p>@Html.Raw(Model.MessageText.Replace("[br]", "<br/>"))</p>
        </div>

        @{
            if (Model.ConversationId != null)
            {
                @Ajax.ActionLink("View full conversation", "ReadConversation", "Messages", new {messageId = Model.Id}, new AjaxOptions {UpdateTargetId = "conversation", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting"}, new {@id = "conversationLink"})
                <br/>
            }
        }
    </div>


    <div id="conversation"></div>

    <div id="realLink" class="deleteMessegeConfirm">
        <span style="color: red; font-weight: bold;">Do you really want to delete this message? If yes then please click link below:</span><br>
        @using (Html.BeginForm("DeleteMessage", "Messages", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("deleteAll", false)
            @Html.HiddenFor(m => m.Id)

            <a id="FormDeleteLink" href="javascript:void(0)">Yes, I want to delete this message</a>
        }
    </div>
    <br/>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#DeleteLink').on('click', function () {
                var confirmation = document.getElementById('realLink');
                if (confirmation.style.display == "none") {
                    confirmation.style.display = "block";
                } else {
                    confirmation.style.display = "none";
                }
            });

            $('#FormDeleteLink').on('click', function () {
                $(this).closest('form')[0].submit();
            });
        });

        function success() {
            $("#conversationLink").hide();
            $("#originalMessage").hide();
        }

        function fail() {
            alert("Juderp!  Internal server error, unable to do this.");
        }

        function waiting() {
            //$("#loadingBox").show();
        }

    </script>
}