<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "Info")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "Info")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "Info")</li>
                <li>@Html.ActionLink("Equipment Helper", "GearTool", "Info")</li>
                <li>@Html.ActionLink("Server Population By Turn", "ServerPopulation", "Info")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">

    Misc Links:  <span class="glyphicon glyphicon-star-empty"></span><a href="https://www.zeemaps.com/map?group=1523025#">Unofficial TT Nuclear Strike Map</a>, <span class="glyphicon glyphicon-star-empty"></span><a href="http://portalz.xyz/newwiki/browse.php">Kevin Portalz's Unofficial TT Wiki</a>



    <h1>Updates, News, and Announcements</h1>
    <h4>We will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    <p>December 12</p>

    <ul>
        <li>New spell, Griffon the Brush Off, submitted by Grypha!  Additional credits go to Griffsnuff for providing lineart.  Graphic is by <a href="http://icaron.deviantart.com/">Icaron.</a>  This spell turns its victim into a Loyal Griffon Familiar!</li>
        <li>New spell, Got Eggs for Days, submitted by Dawn Foley!  Additional credits go to Red Queen for proofreading and Nyx because it will make her laugh. I'm on to you Nyx.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into an egg-laying dragoness!</li>
        <li>New spell, Like, Sew What?, submitted by Annabelle Jumeau! Additional credits go to Meddle for the image.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim into a scandalous crop top!</li>
        <li>New spell, Rein It In, submitted by Annabelle Jumeau!  Additional credits go to Martiandawn for the image.  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a Pretty Pony Headdress!</li>
        <li>New spell, Horse d'oeuvre, submitted by Annabelle Jumeau!  Additional credits go to Martiandawn for the image. Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a Pretty Pony Arm Binder!</li>
        <li>New spell, By Moonlight We Ride, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Additional credits go to Alexander Dantes for help with the concept.  Graphic is by self made.  This spell turns its victim into a Domesticated Centauress, a pet!</li>
        <li>New spell, Quit Horsin' Around!, submitted by Annabelle Jumeau!  Additional credits go to <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into Pony Boots of Prancing!</li>
        <li>New spell, Neigh-Sayer's Pride, submitted by Annabelle Jumeau!  Additional credits go to <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.   Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a pony boy male harness!</li>
        <li>New spell, Neigh-Sayer's Virtue, submitted by Annabelle Jumeau!  Additional credits go to <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.   Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a pony girl female harness!</li>
    </ul>

    <hr />

    <p>December 9</p>

    <ul>
        <li>Added new Jewdewfae encounter.</li>
        <li>New spell, Thanee's Love, submitted by Soul!  Graphic is by <a href="http://kamikazesemmel.deviantart.com/">kamikazesemmel</a>.  This spell turns its victim into Thanee's Necklace!</li>
        <li>New spell, Don't Tread on Me, submitted by Annabelle Jumeau!  Additional credits go to <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a> for the image.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim into a pair of Scandalous Heels!</li>
        <li>New spell, Shake What Ya Got!, submitted by Annabelle Jumeau!  Additional credits go to Meddle for the image. Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim into a scandalous pleated skirt!</li>
        <li>New curse, Puppy Dog Eyes!, by Sammi Wells.  This can be cast when being the Loyal Dog Girl form.</li>
        <li>New curse, Just Giving A Hand, by Breena.  This spell can be cast when being a Fox Maid.</li>
        <li>New blessing, Magical Cat Contract, by Dawn Foley.  This blessing can be cast when keeping a Magical Cat Girl as a pet.</li>
        <li>New Quest, <b>Bookmaiden's Gift</b> by Dawn Foley, has been released for players of any level or gender.  Talk to Rusty to learn where to find it!</li>
    </ul>

    <hr />

    <p>December 8</p>


    <ul>
        <li>New spell, Softshell, submitted by sth!  Additional credits go to Phracia for original spell idea and feedback.  Graphic is by Phracia.  This spell turns its victim into a plush turtle!</li>
        <li>New spell, Hedgy, submitted by Nyx!  Additional credits go to Nerati who helped with half being this was a duo project. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a pet hedgehog!</li>
        <li>New spell, Wardragon Malfunction, submitted by Nyx! A dditional credits go to Gogo, who this form is a present for. Yay.  Graphic is by Gogo Blackwater.  This spell turns its victim into a dragon onesie!</li>
    </ul>

    <hr />

    <p>December 7</p>

    <ul>
        <li><span class="tldr">Alpha Round 28 has started.</span>  The winner of the round will be whoever earns the <b>Dungeon Looter</b> achievement, gained by finding dungeon artifacts.  Note that the dungeon is currently only open to PvP players so choose your desired game mode carefully.</li>
        <li>New spell, Fluffy Friend, submitted by Kirby Sanders!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a pet rabbit!</li>
        <li>New spell, Milkify, submitted by Soul! Additional credits go to <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a> for the art.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into goo girl / cowgirl hybrid!</li>
        <li>New spell, Time to Save the Hero, submitted by Soul!  Additional credits go to Cyber for the art.  Graphic is by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>.  This spell turns its victim into a winged elf girl!</li>
        <li>New spell, Sinking into the Depths, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>! Additional credits go to all the Kantai Collection fans in here, poi. Graphic is self made.  This spell turns its victim into a sunken ship girl!</li>
        <li>New spell, Terror of the Sea, submitted by CyberKaku!  Graphic is by self made.  This spell turns its victim into a scylla creature of Greek mythology!</li>
        <li>New spell, Resistance is Futile, submitted by Annabelle Jumeau!  Additional credits go to Erica Force for proofreading and Cara Doom/JBovinne for the graphic.   Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into an intergalactic fugitive!</li>
        <li>New spell, Cavities, submitted by Nerati Sua!  Additional credits go to Lilith and Dantes.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a cupcake demoness!</li>
        <li>New spell, Melts In Your Mouth... And In Your Hands..., submitted by <a href="http://warlock82.deviantart.com/">Melina Mercy</a>! Additional credits go to Nyx, Larissa, Rowan, and Breena for proofreading, and everyone else that provided encouragement! Graphic is self made.  This spell turns its victim into a cocoa companion, a woman made entirely of chocolate, a pet type!</li>
        <li>New spell, What Hentai Feels Like, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turns its vicim into a kraken girl!</li>
        <li>New spell, Guardian at the Gate, submitted by <a href="http://www.furaffinity.net/user/firefoxzero">Zeke Manning</a>!  Additional credits go to Sigma X (For Art and helping with Text).  Graphic is by <a href="http://www.furaffinity.net/user/sigma-x/">Sigma-X</a>.  This spell turns its victim into a three-headed Cerberus Gate Keeper!</li>
        <li>New blessing, Chocolate Kiss, by <a href="http://warlock82.deviantart.com/">Melina Mercy</a>.  This spell is gained by having the Cocoa Companion as a pet.</li>
        <li>New curse, Bubbly Goo Bath, by Asteron.  This curse is gained by being a Bubbling Blue Goo Boy.</li>
        <li>New blessing, Set Aflame, by Larissa Fay.  This spell is gained by being a Dark Fae.</li>
        <li>New blessing, Squeaky Clean, by Neratiu Suo.  This blessing is gained by using the Sponge reusable consumable.</li>
    </ul>

    <hr />

    <p>December 6</p>

    <ul>
        <li><span class="tldr">Alpha Round 28 is scheduled to begin tomorrow, December 7, at 11:00 pm UTC.</span></li>
        <li>Slight tweaks to the XP levelup requirements to be based off of a hyperbolic function with some rounding.  This should roughly correspond with the existing levelup requirements for levels  1-27, but exact values will vary.</li>
    </ul>

    <hr />

    <p>December 3</p>

    <ul>
        <li>Apologies for long delays between updates; most of the focus in the past few weeks has been on the quest writing tools and their benefits will only be immediately visible to the quest writers, though I believe it will help the writers coordinate and plan out future quests more easily this way.  Alpha Round 28 is roughly scheduled to begin on Monday--stay tuned for a more official release time and date.</li>
        <li>Everyone who earned an achievement badge for Alpha Rounds 26 and 27 should have them back correctly now.  Send me a PM on the forums if you are still missing one or have a badge you don't believe you should.</li>
        <li>As a notice, critical hit chance will soon been nerfed from .35 % per Luck stat to .21 % per Luck stat.</li>
    </ul>

    <hr />

    <p>November 24</p>

    <ul>
        <li>It has been brought to my attention that the badges have been misassigned and may have interfered with previously earned badges in round 26.  I plan to do my best to sort this out in chaos mode.  If you are missing a badge or have one you shouldn't please PM me on the forums with character name and which badges are incorrect.  My apologies!</li>
    </ul>

    <hr />

    <p>November 23</p>

    <ul>
        <li>Alpha Round 27 has ended!  Congratulations to Sammi Wells for taking first place in the The Inanimator achivement!  The game will now enter chaos mode.  Next round will not start until at least a few days after the Thanksgiving holiday is over.</li>
    </ul>

    <hr />

    <p>November 16</p>

    <ul>
        <li>New spell, Are You Being Served?, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>! Graphic is self made.  This spell turns its victim into a chic shopgirl!</li>
        <li>New spell, Steely Resolve, submitted by Larissa Fay!  Additional credits go to Yuki Fae for contributing the concept, ideas, & proofreading - and for pushing me to finish!  And thanks to Melina Mercy for her lovely artwork. Graphic is by <a href="http://warlock82.deviantart.com/">Melina Mercy.</a>  This spell turns its victim into a Celtic sword!</li>
        <li>New curse, Flashover, by Vivien Gemai.  This curse is gained by being the Razing Ruin form!</li>
        <li>New curse, Snake Venom, by sth.  This curse is gained by having the Charmed Snake pet!</li>
        <li>New curse, What Just Happened?, by Nerati Sua.  This curse is gained by being the Living Hair form!</li>
    </ul>

    <hr />


    <p>November 14</p>

    <ul>
        <li>New spell, Human Trials, submitted by Asteron!  Graphic is self made.  This spell turns its victim into a lab coat!</li>
        <li>New tome, Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 9) written by Judoo.  This tome continues the story of Matthias Quackenbrush, the founder of Sunnyglade after being restored from being a tree.  The lorekeeper will keep some of these in stock.</li>
    </ul>

    <hr />

    <p>November 9</p>

    <ul>
        <li>Alpha Round 27 has begun!  The player who earns the achievement <b>The Inanimator</b> will be the one with the era named after him or her.  NOTE:  The round reset again 1 hour later due to an issue with turn updates.  If you made your character in the first hour since the official launch, they will have been deleted.  Apologies for a rough start to the round.</li>
        <li>New introductory quest, Welcome to Sunnyglade.  All players begin in this very short quest that provides some introduction to the game.</li>
        <li>New spell, Immortal Woes, submitted by Nerati Sua!  Additional credits go to Chris and Rora.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a condom, a reuseable consumable item that restores willpower and mana!</li>
        <li>New spell, Sweet Bunny, submitted by Dawn Foley!  Additional credits go to Elyn for assistance and Aurora Ryall for the amazing art!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a regenerating chocolate bunny girl, a reuseable consumable who increases it's user's magicka!</li>
        <li>New spell, Bad Hair Day, submitted by Nerati Sua!  Additional credits go to Aaya. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into living hair, an animate form!</li>
        <li>New spell, To Moo or not to Moo, submitted by Dawn Foley! Additional credits go to Thanks to Powderpuff for the Art! Elyn for proofreading and general help, And Aurora for helping as well!. Graphic is by <a href="https://www.furaffinity.net/user/powderpuff">Geki</a>.  This spell turns its victim into a demonic cow girl!</li>
        <li>New spell, This is Halloween!, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turs its victim into a pumpkin girl!</li>
        <li>New spell, No Love Without a Prey, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self made.  This spell turns its victim into an Eye of Artemis tiara!</li>
        <li>New spell, A Tail of a Time!, submitted by Dawn Foley!  Additional credits go to Aurora for the help!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into an attachable cat tail!</li>
        <li>New spell, La Diosa Serpiente, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turns its victim into a Quetzlcoatl girl!</li>
        <li>New spell, Darkness My Old Friend, submitted by Larissa Fay!  Additional credits go to Jocelyn Dawnbringer for coming up with the form idea and Ninian Fay for the artwork!  Graphic is by <a href="http://luxianne.com/forum/viewtopic.php?f=7&t=655">Ninian Fay</a>.  This spell turns its victim into a dark fae!</li>
        <li>New spell, Year of the Snake, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turns its victim into a Shirohebi Shrine Maiden!</li>
        <li>New spell, Omnibus Familiarum, submitted by Jocelyn Dawnbringer!  Additional credits go to Larissa Fay for co-writing, Nyx for proofreading, correction and suggestions, and Aurora Ryall for art.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into an omnibus's familiar, a pet type!</li>
        <li>New spell, Help Me Help You, submitted by Nerati Sua!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a Possessed Inari Mask!</li>
    </ul>

    <hr />

    <p>November 8</p>

    <ul>
        <li><span class="tldr">Alpha Round 27 is scheduled to begin tomorrow, Monday November 9 at 11:00 PM UTC.</span>  Unfortunately there will not be any significant changes for this upcoming round due to vacation and focusing on bugfixes.</li>
        <li>Quests now support inanimate / animal endings.  However, players are given the option whether or not to accept their fate or return to animate in which case the character is restored to their base form.</li>
    </ul>

    <hr />

    <p>November 3</p>

    <ul>
        <li>Thank you everyone for your patience; as some of you may know I (Judoo) recently returned from a vacation.  This message is a bit delayed but congratulations to Genevieve Moen for earning the Friend of the Fae achievement and having the round named in her honor!  The game has entered chaos mode and will likely start around next Monday the 9th.  Stay tuned for further information.</li>
    </ul>

    <hr />




    <h2><a name="contributorsTable">Contributions and Contributors</a></h2>

    <p>These following artists and authors have spent much time and effort creating unique art and written spells for Transformania Time:</p>

    <h3>Arist Biographies</h3>

    @Html.ActionLink("Aurora Ryall", "AuthorArtistBio", "Settings", new { id = "44c5a42e-dc52-4b36-b850-d6b60fd534fb" }, null)
    <br />
    @Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)
    <br />
    @Html.ActionLink("Blanca (aka Dandelion aka Spacedande)", "AuthorArtistBio", "Settings", new { id = 6196 }, null)
    <br />
    @Html.ActionLink("JBovinne", "AuthorArtistBio", "Settings", new { id = 77 }, null)
    <br />
    @Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)
    <br />
    @Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)
    <br />
    @Html.ActionLink("Meddle", "AuthorArtistBio", "Settings", new { id = 1117 }, null)
    <br />
    @Html.ActionLink("Melina Mercy", "AuthorArtistBio", "Settings", new { id = 14785 }, null)
    <br />
    @Html.ActionLink("Ninian Fay", "AuthorArtistBio", "Settings", new { id = 12223 }, null)
    <br />
    @Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)
    <br />






    <p class="bad">A complete count of all authors and their spell counts can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>

    @*<table id="contributorsTable">

            <th>
                Contributor
            </th>
            <th>
                Contributions
            </th>

            <tr>
                <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
                <td> Many, many graphics</td>
            </tr>
            <tr>
                <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
                <td>Many Graphics!</td>
            </tr>
            <tr>
                <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
                <td>1 Spell, 1 Form, and many Graphics</td>
            </tr>
            <tr>
                <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
                <td>5 Spells, 3 Forms, 2 Items, and many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://babblingfaces.deviantart.com/">Babblingfaces</a></td>
                <td>Many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
                <td>2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
                <td> 2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
                <td>9 spells, 2 forms, 5 items, 2 pets, and several graphics</td>
            </tr>
            <tr>
                <td><a href="http://spacedande.deviantart.com/">Dandelion</a></td>
                <td>1 spell, 1 form, and many graphics</td>
            </tr>
            <tr>
                <td>Curry Senpai</td>
                <td>1 graphic</td>
            </tr>
            <tr>
                <td>Varn1234</td>
                <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
            </tr>
            <tr>
                <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
                <td>13 Spells, 7 Forms, 3 Items, 3 Animals, 1 Curse</td>
            </tr>
            <tr>
                <td>Elynsynos</td>
                <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
            </tr>
            <tr>
                <td>Sun Bro</td>
                <td>1 Spell, 1 Form</td>
            </tr>
            <tr>
                <td>PsychoticPie</td>
                <td>6 Spells, 6 Items</td>
            </tr>
            <tr>
                <td>Arrhae</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>CCWS</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>Zatur</td>
                <td>6 Spells, 4 Items, 1 Animal</td>
            </tr>
            <tr>
                <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
                <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
            </tr>
            <tr>
                <td>Sherry Gray</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
                <td>2 spell, 1 form, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
                <td> 1 spell, 1 item, 1 graphic</td>
            </tr>
            <tr>
                <td>Haretia</td>
                <td>4 spells, 1 form, 3 items</td>
            </tr>
            <tr>
                <td>hachik0048</td>
                <td>1 spell, co-contributor with LexamTheGemFox</td>
            </tr>
            <tr>
                <td>Alessandro Stamegna</td>
                <td>4 spell, 2 forms, 1 animal, 1 item</td>
            </tr>

            <tr>
                <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
                <td>1 spell, 1 Form</td>
            </tr>

            <tr>
                <td>XanKitsu</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Hanna</td>
                <td>8 spells, 1 form, 7 items</td>
            </tr>
            <tr>
                <td>Medli</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Blood Knight</td>
                <td>5 spells, 4 forms, 1 item</td>
            </tr>
            <tr>
                <td>Rust</td>
                <td>2 spell, 1 animal, 1 item</td>
            </tr>
            <tr>
                <td>Archita</td>
                <td>1 spell, 1 animal (revised by Varn)</td>
            </tr>

            <tr>
                <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>themorpher606 (Kevin Gates)</td>
                <td>4 spells, 2 forms, 2 items</td>
            </tr>
            <tr>
                <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
                <td>3 spells, 3 forms</td>
            </tr>
            <tr>
                <td>A /d/eviant</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Arbitrary Hal</td>
                <td>3 spells, 3 items</td>
            </tr>
            <tr>
                <td>Aingelproject667</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>
            <tr>
                <td>Swog</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Faremann</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Christopher</td>
                <td>8 spells, 7 items, 1 pet</td>
            </tr>
            <tr>
                <td>Aidyn Bright</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Kirshwasser</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Draggony</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Sampleguy</td>
                <td>1 spell, 1 animal, 1 graphic</td>
            </tr>
            <tr>
                <td>Berrie Valentine</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Pharlynx</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Julian Chance</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Christine Winters</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Greg Mackenzie</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Estyz</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Swogrider</td>
                <td>2 spells, 1 item, 1 pet</td>
            </tr>
            <tr>
                <td>Ashely Maid</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>BlackTGKitty</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Izz Valentine</td>
                <td>1 spell, 1 curse</td>
            </tr>
            <tr>
                <td>Rayner</td>
                <td>4 spells, 3 forms, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://www.lilysgames.com">Lily</a></td>
                <td>2 spells, 2 items</td>
            </tr>
            <tr>
                <td>Keyne Vangsten</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>GooGirl</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
                <td>2 spells, 2 forms, 2 graphics</td>
            </tr>
            <tr>
                <td>Nyx</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Taenil Auxifur</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Illia Malvusin</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Arnisd</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Mizuho</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Sage Trapp</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Kaitlyn Halliwell</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Rita</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Aethar</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Jackie/Helen Castle</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Pet Forhire</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td><a href="http://lemrith.net">Yassay</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Lazy Loki</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Soren Reus</td>
                <td>2 spells, 1 form, 1 animal</td>
            </tr>
            <tr>
                <td>Madokami</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>G0T0F66</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Jess Ganes</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Mahoney</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Duhad</td>
                <td>10 spells, 1 form, 9 items</td>
            </tr>
            <tr>
                <td>Liahnna</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>

            <tr>
                <td>Jo Jarvis</td>
                <td>1 spell, item</td>
            </tr>
            <tr>
                <td>Asteron</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Alexander Dantes</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Blackarts</td>
                <td>1 spell, 1 form</td>
            </tr>

        </table>*@

    <p>
        If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "Contribution", new { Id = -1 }, null).
    </p>

</div>
