@model IEnumerable<TT.Domain.ViewModels.MindControlViewModel>
@{
    ViewBag.Title = "Mind Control";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">
    <h1>Mind Control</h1>
    <p>Certain spells allow you to possess portions of the minds of other mages, forcing them into actions whether they wish to or not!</p>

</div>

    @{
        if (!Model.Any())
        {
            <p class="bad">You are not mind controlling anyone, nor is anyone mind controlling you.</p>
        }
        else
        {
            <div class="onlinePlayersWrapperBG">
                <div class="row boxContainer">
                    <h3>You are mind controlling:</h3>
                    @{
            foreach (var m in Model.Where(m => m.MindControl.MasterId == ViewBag.MyId))
            {
                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>
                                @Html.Partial(MVC.PvP.Views.Player_Partial, m.Victim)
                                <span><b>@m.TypeFriendlyName</b> ( @m.MindControl.TurnsRemaining turns remaining.  Used @m.MindControl.TimesUsedThisTurn/@TT.Domain.Procedures.MindControlProcedures.GetCommandLimitOfType(m.MindControl.Type) this turn.)</span>
                                <span>@Html.Partial(MVC.NPC.Views.partial.CommandLinks, m)</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
                    }

                </div>
            </div>

    <div class="onlinePlayersWrapperBG">
        <div class="row boxContainer">
            <h3>You are being mind controlled by:</h3>
            @{
            foreach (var m in Model.Where(m => m.MindControl.VictimId == ViewBag.MyId))
            {
                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>
                                @Html.Partial(MVC.PvP.Views.Player_Partial, m.Master)
                                <span><b>@m.TypeFriendlyName</b> ( @m.MindControl.TurnsRemaining turns remaining.  Used @m.MindControl.TimesUsedThisTurn/@TT.Domain.Procedures.MindControlProcedures.GetCommandLimitOfType(m.MindControl.Type) this turn.)</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
            }

        </div>
    </div>

        }

}







