@model IEnumerable<TT.Domain.ViewModels.MindControlViewModel>
@{
    ViewBag.Title = "Mind Control";
}

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result">@ViewBag.Result</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>

@*<div class="specialBox specialBox2">
        <p>...</p>
    </div>*@

<div class="containerInner">
    <h1>Mind Control</h1>
    <p>Certain spells allow you to possess portions of the minds of other mages, forcing them into actions whether they wish to or not!</p>

</div>

    @{
        if (!Model.Any())
        {
            <p class="bad">You are not mind controlling anyone, nor is anyone mind controlling you.</p>
        }
        else
        {
            <div class="onlinePlayersWrapperBG">
                <div class="row boxContainer">
                    <h3>You are mind controlling:</h3>
                    @{
            foreach (TT.Domain.ViewModels.MindControlViewModel m in Model.Where(m => m.MindControl.MasterId == ViewBag.MyId))
            {
                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>
                                @Html.Partial(MVC.PvP.Views.Player_Partial, m.Victim)
                                <span><b>@m.TypeFriendlyName</b> ( @m.MindControl.TurnsRemaining turns remaining.  Used @m.MindControl.TimesUsedThisTurn/@TT.Domain.Procedures.MindControlProcedures.GetCommandLimitOfType(m.MindControl.Type) this turn.)</span>
                                <span>@Html.Partial(MVC.NPC.Views.partial.CommandLinks, m)</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
                    }

                </div>
            </div>

    <div class="onlinePlayersWrapperBG">
        <div class="row boxContainer">
            <h3>You are being mind controlled by:</h3>
            @{
            foreach (TT.Domain.ViewModels.MindControlViewModel m in Model.Where(m => m.MindControl.VictimId == ViewBag.MyId))
            {
                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>
                                @Html.Partial(MVC.PvP.Views.Player_Partial, m.Master)
                                <span><b>@m.TypeFriendlyName</b> ( @m.MindControl.TurnsRemaining turns remaining.  Used @m.MindControl.TimesUsedThisTurn/@TT.Domain.Procedures.MindControlProcedures.GetCommandLimitOfType(m.MindControl.Type) this turn.)</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
            }

        </div>
    </div>

        }

}







