@model IEnumerable<TT.Domain.Items.DTOs.ItemDetail>

@{
    ViewBag.Title = "Sell Item";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.TradeWithMerchant("shirt"))">Back to Purchase List</a></li>
}
<p>You can sell your items to Lindella here.</p>

<hr />

@{
    foreach (var item in Model.OrderByDescending(i => i.Level))
    {
        <h3>
            @{
        if (item.Level > 0)
        {
            <span>Level @item.Level</span>
        }
            }

            @item.ItemSource.FriendlyName <span> (@item.GetFullName())</span>
        </h3>
        <p>
            You will receive:  @TT.Domain.Procedures.ItemProcedures.GetCostOfItem(item, "sell") Arpeyjis
            <a href="@Url.Action(MVC.NPC.Sell(item.Id))">Sell</a>
        </p>

        <hr />
    }
}
