@model IEnumerable<TT.Domain.ViewModels.ItemViewModel>
@using TT.Domain.ViewModels
@using TT.Web.CustomHtmlHelpers

<p>You can sell your items to Lindella here.</p>

<p><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></p>
<p><a href="@Url.Action(MVC.NPC.TradeWithMerchant("shirt"))">Back to Purchase List</a></p>

<hr />

@{
    foreach (ItemViewModel item in Model.OrderByDescending(i => i.dbItem.Level))
    {
        <h3>
            @{
        if (item.dbItem.Level > 0)
        {
            <span>Level @item.dbItem.Level</span>
        }
            }

            @item.Item.FriendlyName <span> (@item.dbItem.GetFullName())</span>
        </h3>
        <p>
            You will receive:  @TT.Domain.Procedures.ItemProcedures.GetCostOfItem(item, "sell") Arpeyjis
            <a href="@Url.Action(MVC.NPC.Sell(item.dbItem.Id))">Sell</a>
        </p>

        <hr />
    }
}

<p><a href="@Url.Action(MVC.NPC.TradeWithMerchant("shirt"))">Back to Purchase List</a></p>
<p><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></p>
