@model TT.Domain.ViewModels.WuffieTradeViewModel
@using TT.Domain.ViewModels
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Buy Pet";
}

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
                <li><a href="@Url.Action(MVC.NPC.SellPetList())">Sell Your Pet</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div>
    <p class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>

@*<div class="specialBox specialBox2">
    <p>...</p>
</div>*@

<div class="containerInner">
    <p>You can purchase pets and familiars from Wüffie, poor creatures who have been left behind by their owners and would otherwise roam the streets as feral creatures.  Having spent many years as a pet herself, Wüffie will gladly buy and sell all manners of animals and creatures and make sure they're well cared for.</p>

    @{
        if (Model.PlayerHasPet)
        {
            <p class="playerCleansingNotification">You will not be able to purchase anything from Wüffie since you do not have room to carry anything else in your inventory.</p>
        }
    }

  <h3>You currently have @Model.Money <span title="Arpeyjis" class="icon icon-money"></span> Arpeyjis to spend.</h3>

    <span>Jump to page:</span>

    @{
        for (int i = 0; i < Model.Paginator.MaxPageNumber; i++)
        {
            <a href="@Url.Action(MVC.NPC.TradeWithPetMerchant(i))" class="@Model.Paginator.GetStylingClass(i)">@(i + 1) | </a>
        }
    }

    <span><i>@Model.Paginator.TotalCount total pets</i></span>


    <div id="fullDetails">

    </div> 
    <div class="row boxContainer">
        @{
            foreach (ItemViewModel i in Model.Pets.OrderBy(i => i.dbItem.dbName).ThenByDescending(i => i.dbItem.Level))
            {
                @Html.Partial(MVC.PvP.Views.partial_ShopkeeperItem, i)
            }
        }
    </div>
</div>


<script>

    function detail_success() {
        //$('#itemDetailModal').modal('show');
    }

    function detail_failure() {
        $("#fullDetails").html("Failed to load details");
    }

    function detail_wait() {
        $("#fullDetails").html("Loading details...");
    }

</script>

<style>
    .price {
        margin-bottom: 15px;
        color: darkblue;
        font-weight: 700;
    }

    
        #fullDetails{
            height: 200px;
            resize:vertical;
            overflow-y: scroll;
        }
</style>