@model IEnumerable<TT.Domain.Items.DTOs.ItemDetail>
@using TT.Domain.Models
@using TT.Domain.Statics
@{
    ViewBag.Title = "Buy Item";
}

@section scripts
{
    <script src="@Links.Scripts.itemDetailModal_js"></script>
    <script>
        $(document).ready(function () {
            $('#filtersoul').css('visibility', 'visible');
        });
        $("#filtersoul input:radio").change(function () {
            var selectedVal = $("#filtersoul input:radio:checked").val();
            var valsMap = {
                "all": "div",
                "souled0": ".icon-souled0",
                "souled1": ".icon-souled1",
                "souled2": ".icon-souled2"
            }
            if (selectedVal == "unsouled") {
                $(".charaBox").each(function (index) {
                    if ($(this).find(".icon-souled0, .icon-souled1, .icon-souled2").length) {
                        $(this).css("display", "none");
                    }
                    else {
                        $(this).css("display", "");
                    }
                });
            } else {
                $(".charaBox").each(function (index) {
                    if ($(this).find(valsMap[selectedVal]).length) {
                        $(this).css("display", "");
                    }
                    else {
                        $(this).css("display", "none");
                    }
                });
            }
            

        });
    </script>
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.SellList())">Sell Something</a></li>
}

<div class="containerInner">

    <h1>Purchase from Lindella</h1>

    <p>You can purchase clothing and items that were once fellow mages like you from Lindella, as well as a variety of non-human magical consumable items that will help you from ending up in a similar fate from your enemies. Please keep in mind that some of Lindella's formerly-human merchandise may not be fond of their new inanimate lifestyle or their owners and change back after struggling against the magic trapping them long enough. No refunds!</p>

    <p>You currently have <b>@ViewBag.MyMoney</b> <span title="Arpeyjis" class="icon icon-money"></span> Arpeyjis to spend.</p>

    <br>

    <p><b><a href="@Url.Action(MVC.NPC.SellList())">Sell Something</a></b></p>

    <p style="text-align: center;">
        <br>
        Show by type:<br>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Hat))">Hats / Headwear</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Shirt))">Shirts and Dresses</a></td>
                <td> <a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Undershirt))">Bras and Undershirts</a></td>
            </tr>
            <tr>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Pants))">Skirts and Pants</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Underpants))">Underwear</a></td>
                <td> <a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Shoes))">Shoes</a></td>
            </tr>
            <tr>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Accessory))">Accessories</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Consumable_Reuseable))">Reusable Consumables</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Consumable))">Consumables</a></td>
            </tr>
            <tr>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Rune))">Runes</a></td>
                <td></td>
                <td></td>
            </tr>

        </table>


    </p>
    <div id="fullDetails">

    </div>
    <br>
    <form id="filtersoul" action="" style="visibility:hidden;">
        <div style="text-align: center;">
            <span style="white-space:nowrap;margin:5px;">
                <input type="radio" name="filter" value="all" id="filter-all" checked="">
                <label for="filter-all">
                    All
                </label>
            </span>
            <span style="white-space:nowrap;margin:5px;">
                <input type="radio" name="filter" value="souled0" id="filter-souled0">
                <label for="filter-souled0">
                    <span class="icon icon-souled0"></span>
                    Recently Online
                </label>
            </span>
            <span style="white-space:nowrap;margin:5px;">
                <input type="radio" name="filter" value="souled1" id="filter-souled1">
                <label for="filter-souled1">
                    <span class="icon icon-souled1"></span>
                    Online Today
                </label>
            </span>
            <span style="white-space:nowrap;margin:5px;">
                <input type="radio" name="filter" value="souled2" id="filter-souled2">
                <label for="filter-souled2">
                    <span class="icon icon-souled2"></span>
                    Online Within Last 3 Days
                </label>
            </span>
            <span style="white-space:nowrap;margin:5px;">
                <input type="radio" name="filter" value="unsouled" id="filter-unsouled">
                <label for="filter-unsouled">
                    Dormant Soul
                </label>
            </span>
        </div>
    </form>
    <br>
    <div class="row boxContainer">

        @{
            foreach (var i in Model.OrderBy(i => i.dbName).ThenByDescending(i => i.Level))
            {
                @Html.Partial(MVC.PvP.Views.partial_ShopkeeperItem, i)
            }
        }
    </div>
</div>

<style>
    td {
        width: 25%;
    }
</style>