@model TT.Domain.ViewModels.Assets.CreateRestockItemViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.RestockItem.List())">Back</a></li>
}

<div class="containerInner">

    <h1>Create Restock Item</h1>

    @using (Html.BeginForm(MVC.RestockItem.CreateSend(), FormMethod.Post))
    {

        <btn class="glyphicon glyphicon-question-sign helpButton">
            @Ajax.ActionLink("Click here to show list of all items", MVC.Info.AllItems(), new AjaxOptions { UpdateTargetId = "formsBox", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail" }, new { @class = "" })
        </btn>

        <div id="formsBox"></div>

        <label>Item Id</label>
        @Html.TextBox("BaseItemId")

        <br>

        <label>Bot Id</label>
        @Html.TextBox("BotId")

        <br>

        <label>Minimum number in inventory before restocking:</label>
        @Html.TextBox("AmountBeforeRestock", Model.AmountBeforeRestock)

        <br>

        <label>Maximum number to restock to:</label>
        @Html.TextBox("AmountToRestockTo", Model.AmountToRestockTo)

        <br>

        <input type="submit" value="Save" />

    }

    <hr />

    <span>Sample:</span>
    <div id="display" style="border: 1px solid black;"></div>

</div>

<style>
      textarea {
        height: 800px;
    }
</style>