@model TT.Domain.ViewModels.Assets.UpdateRestockItemViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.RestockItem.List())">Back</a></li>
}

<div class="containerInner">

    <h1>Edit Restock Item</h1>

    @using (Html.BeginForm(MVC.RestockItem.EditSend(), FormMethod.Post))
    {
        @Html.Hidden("RestockItemId", Model.RestockItem.Id)

        <btn class="glyphicon glyphicon-question-sign helpButton">
            @Ajax.ActionLink("Click here to show list of all items", MVC.Info.AllItems(), new AjaxOptions { UpdateTargetId = "formsBox", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail" }, new { @class = "" })
        </btn>

        <div id="formsBox"></div>

        <label>Item Id</label>
        @Html.TextBox("BaseItemId", Model.RestockItem.BaseItem.Id)
        <i>Current: @Model.RestockItem.BaseItem.FriendlyName</i>

        <br>

        <label>Bot Id</label>
        @Html.TextBox("BotId", Model.RestockItem.BotId)
        <i>Current: @Model.RestockItem.BotId</i>

        <br>

        <label>Minimum number in inventory before restocking:</label>
        @Html.TextBox("AmountBeforeRestock", Model.RestockItem.AmountBeforeRestock)

        <br>

        <label>Maximum number to restock to:</label>
        @Html.TextBox("AmountToRestockTo", Model.RestockItem.AmountToRestockTo)

        <br>

        <input type="submit" value="Save">

    }



</div>

<style>
      textarea {
        height: 800px;
    }
</style>