@model IEnumerable<TT.Domain.DTOs.Assets.RestockItemDetail>
@using TT.Domain.DTOs.Assets

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>


<div class="containerInner">
    <h1>Restock Items</h1>

    @Html.ActionLink("New RestockItem", "Create", "RestockItem")

    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Item Name</td>
            <td>NPC ID</td>
            <td>Amount before restock</td>
            <td>Restock to</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>

        @{
            foreach (RestockItemDetail r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.BaseItem.FriendlyName</td>
                    <td>@r.NPC.Id</td>
                    <td>@r.AmountBeforeRestock</td>
                    <td>@r.AmountToRestockTo</td>
                    <td>@Html.ActionLink("[Edit]", "Edit", "RestockItem", new {Id = r.Id}, null)</td>
                    <td>@Html.ActionLink("[Delete]", "Delete", "RestockItem", new {Id = r.Id}, new {onclick = "return confirm('Are you sure you want to delete this?')", @class = ""})</td>
                </tr>
            }
        }


        </tbody>

    </table>

    @Html.ActionLink("New RestockItem", "Create", "RestockItem")
</div>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }
</style>