@using TT.Domain.Assets.DTOs
@model IEnumerable<TT.Domain.Assets.DTOs.RestockItemDetail>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">
    <h1>Restock Items</h1>

    <a href="@Url.Action(MVC.RestockItem.Create())">New RestockItem</a>

    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Item Name</td>
            <td>BotId</td>
            <td>Amount before restock</td>
            <td>Restock to</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>

        @{
            foreach (RestockItemDetail r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.BaseItem.FriendlyName</td>
                    <td>@r.BotId</td>
                    <td>@r.AmountBeforeRestock</td>
                    <td>@r.AmountToRestockTo</td>
                    <td><a href="@Url.Action(MVC.RestockItem.Edit(r.Id))">[Edit]</a></td>
                    <td><a href="@Url.Action(MVC.RestockItem.Delete(r.Id))" onclick="return confirm('Are you sure you want to delete this?')" class="">[Delete]</a></td>
                </tr>
            }
        }


        </tbody>

    </table>

    <a href="@Url.Action(MVC.RestockItem.Create())">New RestockItem</a>
</div>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }
</style>