@model TT.Domain.Items.DTOs.ItemDetail

@using TT.Domain.Statics
@using TT.Domain.ViewModels
@using TT.Web.CustomHtmlHelpers

<div class="portrait col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(Model.ItemSource.ItemType, Model.ItemSource.PortraitUrl, true));">
    @CharactersHere.PrintItemTypeIcon(Model.ItemSource.ItemType)
    @CharactersHere.PrintSouledIcon(Model)
</div>

<b>
    @Model.ItemSource.FriendlyName @Html.Partial(MVC.Item.Views.partial.RuneDetails, Model)


    @{

        if (Model.Level > 0)
        {
            <span>(Lvl @Model.Level)</span>
        }

        if (Model.IsEquipped)
        {
            <span> (Equipped)</span>
        }

        if (!Model.VictimName.IsNullOrEmpty())
        {
            <span class="formerly">Formerly <a href="@Url.Action(MVC.PvP.LookAtPlayerItem(Model.VictimName))">@Model.GetFullName()</a></span>
            @CharactersHere.PrintPermanencyIcon(Model.IsPermanent)
        }

    }

    <br />
</b>


@Model.ItemSource.Description <br />

<div class="bonuses">

    <ul>
        @{
            if (!Model.ItemSource.GivesEffect.IsNullOrEmpty())
            {
                <li>Gives the @CharactersHere.GetEffectFriendlyName(@Model.ItemSource.GivesEffect) effect</li>
            }
        }

    </ul>
    
    @{
        foreach (var rune in Model.Runes)
        {
            @Html.Partial(MVC.Item.Views.partial.RuneStats, new ItemRuneDetailViewModel(rune))
        }
    }

</div>