@model TT.Domain.ViewModels.ItemViewModel

@using TT.Web.CustomHtmlHelpers

<div class="portrait col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@CharactersHere.GetImageURL(Model, true));">
    @CharactersHere.PrintItemTypeIcon(Model.Item)
    @CharactersHere.PrintSouledIcon(Model)
</div>

<b>
    @Model.Item.FriendlyName
  

    @{

    if (Model.dbItem.Level > 0)
    {
        <span>(Lvl @Model.dbItem.Level)</span>
    }

    if (Model.dbItem.IsEquipped == true)
    {
            <span> (Equipped)</span>
        }

        if (@Model.dbItem.VictimName != "")
        {
            <span class="formerly">Formerly @Html.ActionLink(Model.dbItem.GetFullName(), "LookAtPlayerItem", "PvP", new { vicname = Model.dbItem.VictimName }, null)</span>
            @CharactersHere.PrintPermanencyIcon(Model)
        }

    }

    <br />
</b>


@Model.Item.Description <br />

<div class="bonuses">

    <ul>
        @{

            if (@Model.Item.GivesEffect != null && @Model.Item.GivesEffect != "")
            {
                <li>Gives the @CharactersHere.GetEffectFriendlyName(@Model.Item.GivesEffect) effect</li>
            }

            if (@Model.Item.HealthBonusPercent != 0)
            {
                <li>Extra willpower % maximum:  @CharactersHere.GetBuffedStat(Model, Model.Item.HealthBonusPercent)</li>
            }
            if (@Model.Item.ManaBonusPercent != 0)
            {
                <li>Extra mana % maximum: @CharactersHere.GetBuffedStat(Model, Model.Item.ManaBonusPercent)</li>
            }
            if (@Model.Item.HealthRecoveryPerUpdate != 0)
            {
                <li>Willpower recovery per update: @CharactersHere.GetBuffedStat(Model, Model.Item.HealthRecoveryPerUpdate)</li>
            }
            if (@Model.Item.ManaRecoveryPerUpdate != 0)
            {
                <li>Mana recovery per update: @CharactersHere.GetBuffedStat(Model, Model.Item.ManaRecoveryPerUpdate)</li>
            }
            if (@Model.Item.SneakPercent != 0)
            {
                <li>Sneak chance percent: @CharactersHere.GetBuffedStat(Model, Model.Item.SneakPercent)</li>
            }
            if (@Model.Item.SpellResistancePercent != 0)
            {
                <li>Spell resistance bonus percent: @CharactersHere.GetBuffedStat(Model, @Model.Item.SpellResistancePercent)</li>
            }
            if (@Model.Item.MeditationExtraMana != 0)
            {
                <li>Extra mana recovering from meditating: @CharactersHere.GetBuffedStat(Model, @Model.Item.MeditationExtraMana)</li>
            }
            if (@Model.Item.CleanseExtraHealth != 0)
            {
                <li>Extra willpower recovered from cleansing: @CharactersHere.GetBuffedStat(Model, @Model.Item.CleanseExtraHealth)</li>
            }
            if (@Model.Item.InstantHealthRestore != 0)
            {
                <li>Willpower restored from eating or drinking: @CharactersHere.GetBuffedStat(Model, @Model.Item.InstantHealthRestore)</li>
            }
            if (@Model.Item.InstantManaRestore != 0)
            {
                <li>Mana restored from eating or drinking: @CharactersHere.GetBuffedStat(Model, @Model.Item.InstantManaRestore)</li>
            }
            if (@Model.Item.MoveActionPointDiscount != 0.0M)
            {
                <li>Action point discount when moving: @CharactersHere.GetBuffedStat(Model, @Model.Item.MoveActionPointDiscount)</li>
            }
            if (@Model.Item.ExtraSkillCriticalPercent != 0)
            {
                <li>Extra chance of spell critical hits: @CharactersHere.GetBuffedStat(Model, @Model.Item.ExtraSkillCriticalPercent)</li>
            }
            if (@Model.Item.ReuseableHealthRestore != 0)
            {
                <li>Willpower restored from eating or drinking from this: @CharactersHere.GetBuffedStat(Model, @Model.Item.ReuseableHealthRestore)</li>
            }
            if (@Model.Item.ReuseableManaRestore != 0)
            {
                <li>Mana restored from eating or drinking from this: @CharactersHere.GetBuffedStat(Model, @Model.Item.ReuseableManaRestore)</li>
            }
            if (@Model.Item.EvasionPercent != 0)
            {
                <li>Percent chance to evade an attack: @CharactersHere.GetBuffedStat(Model, @Model.Item.EvasionPercent)</li>
            }
            if (@Model.Item.EvasionNegationPercent != 0)
            {
                <li>Percent negation of opponent's ability to evade a spell: @CharactersHere.GetBuffedStat(Model, @Model.Item.EvasionNegationPercent)</li>
            }
            if (@Model.Item.SpellExtraTFEnergyPercent != 0.0M)
            {
                <li>Extra transformation energy damage percent: @CharactersHere.GetBuffedStat(Model, @Model.Item.SpellExtraTFEnergyPercent)</li>
            }
            if (@Model.Item.SpellExtraHealthDamagePercent != 0.0M)
            {
                <li>Extra willpower damage dealt from spells: @CharactersHere.GetBuffedStat(Model, @Model.Item.SpellExtraHealthDamagePercent)</li>
            }
            if (@Model.Item.CleanseExtraTFEnergyRemovalPercent != 0.0M)
            {
                <li>Extra transformation energy percent removed when cleansing: @CharactersHere.GetBuffedStat(Model, @Model.Item.CleanseExtraTFEnergyRemovalPercent)</li>
            }
            if (@Model.Item.SpellMisfireChanceReduction != 0.0M)
            {
                <li>Misfire percent chance reduction: @CharactersHere.GetBuffedStat(Model, @Model.Item.SpellMisfireChanceReduction)</li>
            }
            if (@Model.Item.SpellHealthDamageResistance != 0.0M)
            {
                <li>Willpower damage reduction when hit by spells: @CharactersHere.GetBuffedStat(Model, @Model.Item.SpellHealthDamageResistance)</li>
            }
            if (@Model.Item.SpellTFEnergyDamageResistance != 0.0M)
            {
                <li>Transformation energy reduction when hit by spells: @CharactersHere.GetBuffedStat(Model, @Model.Item.SpellTFEnergyDamageResistance)</li>
            }
            if (@Model.Item.ExtraInventorySpace != 0.0M)
            {
                <li>Extra inventory space: @CharactersHere.GetBuffedStat(Model, @Model.Item.ExtraInventorySpace)</li>
            }


            
            
            if (@Model.Item.Discipline != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Discipline"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Discipline)</li>
            }

            if (@Model.Item.Perception != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Perception"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Perception)</li>
            }

            if (@Model.Item.Charisma != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Charisma"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Charisma)</li>
            }

            if (@Model.Item.Fortitude != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Fortitude"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Fortitude)</li>
            }

            if (@Model.Item.Agility != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Agility"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Agility)</li>
            }

            if (@Model.Item.Allure != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Allure"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Allure)</li>
            }

   

            if (@Model.Item.Magicka != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Magicka"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Magicka)</li>
            }

            if (@Model.Item.Succour != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Succour"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Succour)</li>
            }

            if (@Model.Item.Luck != 0.0F)
            {
                 <li>@CharactersHere.PrintStatDescriptionPopup("Luck"): @CharactersHere.GetBuffedStat(Model, @Model.Item.Luck)</li>
            }






        }

    </ul>

</div>