@model tfgame.dbModels.Models.QuestStart
@using tfgame.Statics



@using (Ajax.BeginForm("QuestStartSend", "QuestWriter", new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" }))
{

    @Html.HiddenFor(m => m.StartState)

    if (Model.IsLive == true)
    {
        <h4 class="good">This quest is live and can be started by any eligible player.</h4>
    }
    else
    {
        <h4 class="bad">This quest is not live and cannot be started by any player.</h4>
    }


    <br /><br />

    if (User.IsInRole(PvPStatics.Permissions_Admin) == true)
    {
        <p>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            @Ajax.ActionLink("Mark as Live", "MarkQuestAsLive", "QuestWriter", new { Id = Model.Id, live = true }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "good" })
        </p>


        <p>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            @Ajax.ActionLink("Mark as Not Live", "MarkQuestAsLive", "QuestWriter", new { Id = Model.Id, live = false }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "bad" })
        </p>
    }

    <br /><br />

    <label>Quest Name:</label>
    @Html.TextBoxFor(m => m.Name)

    <br /><br />

    @*<label>Quest Database Name:</label>
    @Html.TextBoxFor(m => m.dbName)*@

    <br /><br />

    <label>Location:</label>
    @Html.TextBoxFor(m => m.Location)

    <br /><br />

    <btn class="glyphicon glyphicon-question-sign helpButton">
        @Ajax.ActionLink("Click here to show list of all locations", "AllLocations", "Info", null, new AjaxOptions { UpdateTargetId = "locationsBox", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail" }, new { @class = "" })
    </btn>

    <div id="locationsBox" style="background-color: #cdcdff"></div>

    <br /><br />

    <label>Minimum Start Turn:</label>
    @Html.TextBoxFor(m => m.MinStartTurn)

    <br /><br />

    <label>Maximum Start Turn:</label>
    @Html.TextBoxFor(m => m.MaxStartTurn)

    <br /><br />

    <label>Minimum Start Level:</label>
        @Html.TextBoxFor(m => m.MinStartLevel)

        <br /><br />

        <label>Maximum Start Level:</label>
        @Html.TextBoxFor(m => m.MaxStartLevel)

        <br /><br />

        <label>Required Gender to start:</label>
        @Html.DropDownListFor(m => m.RequiredGender, new SelectList(
                  new List<Object>{
                      new { value = (int)QuestStatics.Gender.Any  , text = "Any"  },
                       new { value = (int)QuestStatics.Gender.Male  , text = "Male"  },
                        new { value = (int)QuestStatics.Gender.Female  , text = "Female"  },
                    },
                  "value",
                  "text",
                   2))

        <br /><br />

        <label>Prerequisite Quest Id:</label>
        @Html.TextBoxFor(m => m.PrerequisiteQuest)

        <br /><br />



    if (Model.Id > 0 && ViewBag.firstState != null)
    {
        @*<p>@Html.ActionLink("GO TO STARTING STATE", "QuestState", "QuestWriter", new { Id = ViewBag.firstState.Id, QuestId = Model.Id, ParentStateId = -1 }, null)</p>*@

        <p>@Ajax.ActionLink("STARTING QUEST STATE -- " + ((tfgame.dbModels.Models.QuestState)ViewBag.firstState).QuestStateName, "QuestState", "QuestWriter", new { Id = ViewBag.firstState.Id, QuestId = Model.Id, ParentStateId = -1 }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })</p>

    }
    else
    {
        <p class="bad">No starting state created yet</p>
    }


    <br /><br />


    @Html.HiddenFor(m => m.Id)

    <br />
        <input type="submit" class="btn btn-chat" value="Send" />

}

<br /><br />





<style>
    input, textarea {
        width: 100%;
    }
</style>