@model tfgame.ViewModels.DuelPlayersViewModel
@using tfgame.ViewModels

    <nav class="navbar navbar-default outsideContainer navbarTT2">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div>
        <p class="infoMessage result"></p>
        <p class="infoMessage error"></p>
        <p class="infoMessage suberror"></p>
    </div>


    <div class="containerInner">
        <h1>Duel!</h1>
        <p>
            You are participating in a duel with the following players:

            <ul>

                @{
                    foreach (PlayerFormViewModel p in Model.Combatants)
                    {
                        <li>@Html.ActionLink(p.Player.GetFullName(), "LookAtPlayer", "PvP", new { id = p.Player.Id }, null)</li>
                    }
                }
            </ul>
        </p>

    <p>This duel began on turn <b>@Model.Duel.StartTurn</b> and it is now turn <b>@ViewBag.CurrentTurn</b>.  There are <b class="bad">@(tfgame.Statics.PvPStatics.MaximumDuelTurnLength - (ViewBag.CurrentTurn - @Model.Duel.StartTurn))</b> turns remaining in this duel before it ends in a no-winner.</p>


        <p>If both players have expended all their attacks, click @Html.ActionLink("here","AdvanceTurn","Duel") to reset attacks and cleanse/meditate limits.</p>

    </div>