@model IEnumerable<TT.Domain.ViewModels.EffectViewModel2>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvP.MyInventory())">Back to Inventory</a></li>
}

<div class="containerInner">
    <h1>Remove a curse</h1>
    <p>You can use your Hex-B-Gone Moisturizer to remove one of the curses afflicting your body!  Which curse would you like to have removed?</p>

    @{
        foreach (TT.Domain.ViewModels.EffectViewModel2 effect in Model.OrderBy(x => x.Effect.FriendlyName))
        {
            <h3>@effect.Effect.FriendlyName (@effect.dbEffect.Duration turns of effect remaining)</h3>
            <a href="@Url.Action(MVC.Item.RemoveCurseSend(effect.dbEffect.dbName, (int)ViewBag.itemToUseId))">Remove this curse</a>
            <hr />
        }
    }

</div>