@model tfgame.ViewModels.PlayerNameViewModel

<script src="~/Scripts/jquery-ui-1.10.4.js"></script>

<h1>Rename Player / Change Form</h1>

@Ajax.ActionLink("Help", "AllForms", "Info", null, new AjaxOptions { UpdateTargetId = "modal", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "launchModal", OnFailure = "launchLocationListModalFail" }, new { @class = "attackLink" })

@using (Html.BeginForm("RenamePlayerSend", "PvPAdmin", FormMethod.Post))
{
    <span>Id:</span>
    @Html.TextAreaFor(m => m.Id)    <br />    <br />

    <span>FirstName:</span>
    @Html.TextAreaFor(m => m.NewFirstName)    <br />    <br />

    <span>LastName:</span>
    @Html.TextAreaFor(m => m.NewLastName)    <br />    <br />


    <span>Form:</span>
    @Html.TextAreaFor(m => m.NewForm)    <br />    <br />

    <input type="submit" value="Send" />
}

<div id="modal" style="display: none;" class="ui-widget-content ui-draggable helpModal">LOCATIONS:  </div>

<script>
    function launchModal() {
        $("#modal").show();
    }
</script>