@model IEnumerable<tfgame.dbModels.Models.Contribution>

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<table>
    <thead>
    <th>Submitter</th>
    <th>Spell Name</th>
    <th>Form Name</th>
    <th>Item Name</th>
    <th>Approve?</th>
    <th>Snoop</th>
    </th>

    <tbody>

        @{
            foreach (tfgame.dbModels.Models.Contribution c in Model)
            {
                <tr>
                    <td>@c.SubmitterName</td>
                    <td>@c.Skill_FriendlyName</td>
                    <td>@c.Form_FriendlyName</td>
                    <td>@c.Item_FriendlyName</td>
                    <td>@Html.ActionLink("Approve", "ApproveContribution", "PvPAdmin", new { id = c.Id }, null)</td>
                    <td>@Html.ActionLink("Snoop", "Contribute", "PvP", new { Id = c.Id }, null)</td>
                </tr>
            }
        }
    </tbody>
</table>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>