@model IEnumerable<TT.Domain.Models.Contribution>
@using TT.Domain.Models

<head>

    <link href="~/Content/PvP.css" rel="stylesheet" />

</head>

@Html.ActionLink("Back to game", "Play", "PvP")

<div class="result">
    @Html.Raw(ViewBag.Result)
</div>
<div class="error">
    @ViewBag.ErrorMessage
</div>
<div class="suberror">
    @ViewBag.SubErrorMessage
</div>

<h1>Contributions Reviewed but Awaiting Implementation</h1>

<h4>
    <p>On this page are all of the contributions that have been <b>marked as ready and approved by an admin</b> but have not yet been added into the game.  Spells on this page will show a form and item/pet description as well as any miscellaneous notes left by the author and proofreaders.  People on the artist whitelist the chance to claim a graphic for a spell if they so desire by clicking on the links in the "Graphic by Artist" box.  Once a graphic is ready, please provide a link to the image source in the box on the Contribution page that says "Is there an artist with whom you have arranged to do this artwork?" near the bottom of the form.  When spells are reviewed for release, that is where admins look to see which listing have URLs.</p>
    <p>Generally, spells are released within the first half of a live round in batches of several spells at once.  Spells approved later in the rounds or in chaos mode, or spells whose graphics are only recently available, </p>
</h4>

<table>

    <thead>
        <tr>
            <th width="10%">
                Spell Author, Name, and Mobility Type
            </th>

            <th width ="30%">
                Form Description
            </th>
            <th width="30%">
                Animal/Item Description
            </th>
            <th width="20%">Notes</th>
            <th width="10%">
                Graphic by Artist
            </th>
        </tr>
    </thead>

    <tbody>

        @{
            foreach (Contribution c in Model)
            {
                <tr>
                    <td>

                        @{
                if (c.SubmitterUrl != null && c.SubmitterUrl != "")
                {
                    <a href="@c.SubmitterUrl">@c.SubmitterName</a>
                }
                else
                {
                    @c.SubmitterName
                }

                        }
                        <p>
                            <span style="color: darkgreen;">
                                @c.Skill_FriendlyName
                            </span>
                        </p>

                        <p>
                            <span style="color: blue;">@c.Form_MobilityType</span>
                        </p>
                        <p>
                            Form/Item name:<br>
                           <b>@c.Form_FriendlyName</b>
                        </p>
                    </td>
                    <td>
                        @c.Form_Description
                    </td>
                    <td>
                        
                        @c.Item_Description
                    </td>

                    <td>@c.Notes</td>

                    <td>
                        @{

                try
                {
                    @Html.ActionLink(c.AssignedToArtist, "ContributeSetGraphicStatus", "Contribution", new { id = c.Id }, null)
                }
                catch
                {
                    @Html.ActionLink("(none)", "ContributeSetGraphicStatus", "Contribution", new { id = c.Id }, null)
                }
                        }

                    </td>

                </tr>
            }
        }

    </tbody>

</table>

@Html.ActionLink("Back to game", "Play", "PvP")

<style>
    table {
        border: 1px solid black;
        width:100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        font-size:12px;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

    tr:nth-child(odd) {
        background-color: lightgray;
    }

    td:nth-child(4), td:nth-child(5) {
        word-break: break-all;
    }

    td {
        padding: 3px;
        text-align: center;
        border: 1px solid darkblue;
        font-size:11px;
    }
</style>