@model tfgame.ViewModels.Quest.QuestsAtLocationViewModel
    @using tfgame.dbModels.Models

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result"></p>
    <p class="infoMessage error"></p>
    <p class="infoMessage suberror"></p>
</div>

<div class="containerInner">

    <h1>Available Quests (@Model.AvailableQuests.Count())</h1>

    @{
        foreach (QuestStart s in Model.AvailableQuests)
        {
            <div style="border: 1px solid black">
                <p>@Html.ActionLink("Begin Quest:  " + s.Name, "StartQuest", "Quest", new { Id = s.Id }, null)</p>
                <p>Minimum player level:  @s.MinStartLevel</p>
                <p>Maximum player level:  @s.MaxStartTurn</p>
                <p>Minimum game turn:  @s.MinStartTurn</p>
                <p>Maximum game turn:  @s.MaxStartTurn</p>
            </div>
        }
    }

    <h1>All Quests (@Model.AllQuests.Count())</h1>

    @{
        foreach (QuestStart s in Model.AvailableQuests)
        {
            <div style="border: 1px solid black">
                <p><b>@s.Name</b></p>
                <p>Minimum player level:  @s.MinStartLevel</p>
                <p>Maximum player level:  @s.MaxStartTurn</p>
                <p>Minimum game turn:  @s.MinStartTurn</p>
                <p>Maximum game turn:  @s.MaxStartTurn</p>
            </div>
        }
    }

</div>