@model tfgame.ViewModels.BuffBox



<h3>Bonuses from items worn or equipped:</h3>
<ul>
    @{
        if (@Model.HealthBonusAmount != 0)
        {
            <li>Extra health:  @Model.HealthBonusAmount</li>
        }
        if (@Model.ManaBonusAmount != 0)
        {
            <li>Extra health:  @Model.ManaBonusAmount</li>
        }
        if (@Model.HealthRecoveryPerUpdate != 0)
        {
            <li>Willpower recovery per update:  @Model.HealthRecoveryPerUpdate</li>
        }
        if (@Model.ManaRecoveryPerUpdate != 0)
        {
            <li>Mana recovery per update:  @Model.ManaRecoveryPerUpdate</li>
        }
        if (@Model.SneakPercent != 0)
        {
            <li>Sneak chance percent:  @Model.SneakPercent</li>
        }
        if (@Model.SpellResistancePercent != 0)
        {
            <li>Spell resistance bonus percent:  @Model.SpellResistancePercent</li>
        }
        if (@Model.MeditationExtraMana != 0)
        {
            <li>Extra mana recovering from meditating:  @Model.MeditationExtraMana</li>
        }
        if (@Model.CleanseExtraHealth != 0)
        {
            <li>Extra willpower recovering from cleansing:  @Model.CleanseExtraHealth</li>
        }
        if (@Model.ExtraSkillCriticalPercent != 0)
        {
            <li>Extra critical hint percent chance:  @Model.ExtraSkillCriticalPercent</li>
        }
        if (@Model.MoveActionPointDiscount != 0.0M)
        {
            <li>Action point discount when moving:  @Model.MoveActionPointDiscount</li>
        }
    }

</ul>