<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "PvP")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "PvP")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">
    <h1>Updates, News, and Announcements</h1>
    <h4>I will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    <p>April 18</p>

    <ul>
        <li>New tome, Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 7) written by Judoo.  Lindella will keep some of these in stock.</li>
        <li>Added a new Jewdewfae encounter that takes place at Extended Universe Comics (Gaming Room).</li>
    </ul>

    <hr />

    <p>April 17</p>

    <ul>
        <li>Alpha Round 19 has begun!</li>
        <li>Sneak is now capped at %75 chance of success.  Sneak should be reworked for next round so this is a temporary measure.</li>
        <li>New spell, Lift With Your Legs..., submitted by Troodon!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a pair of cargo pants!</li>
        <li>New spell, Koala-ty Control, submitted by Breena Shadow!  Additional credits go to Demona for the idea.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into an emo koala girl!</li>
        <li>New spell, Reverse Chiromancy, submitted by Not Alex! Additional credits go to Alex for proof-reading.  Also thanks to GraceKitsu for writing the spell discovery text.  JBovinne for creating the image that served as the inspiration (and graphics) for this spell.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a pair of black latex opera gloves!</li>
    </ul>

    <p>April 16</p>

    <ul>
        <li>Alpha Round 19 is scheduled to begin tomorrow, April 17 at 10:00PM UTC.</li>
        <li>Added many new chat colors.</li>
    </ul>

    <hr />

    <p>April 12-13</p>

    <ul>
        <li>There will likely be few to no updates to the game during this upcoming round as combat mechanics and item / form stats are taken an extensive look at.  (Please contribute to the ongoing discussion here: <a href="http://luxianne.com/forum/viewtopic.php?f=9&t=704">http://luxianne.com/forum/viewtopic.php?f=9&t=704</a>. )</li>
        <li>Here are the plans for Alpha round 19:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>Disable PvP-P mode switching.</li>
            <li><span class="good">COMPLETE:  </span>Decrease spawn rate and amount of dungeon artifacts significantly.  Force the dungeon to change more frequently.</li>
            <li><span class="good">COMPLETE:  </span>The amount of TF energy buildup should now be displayed on attack text.</li>
            <li><span class="good">COMPLETE:  </span>Players will take some increased WP damage if they have too much TF energy on them (125%+ of TF energy required for a given transformation and scaling up further at 150%.)  This is a temporary measure.</li>
            <li><span class="good">COMPLETE:  </span>Rerolling players now have the option of keeping their old name.  If their name is a match to an existing account of theirs, it will be given a roman numeral as part of the last name to indicate the "generation" of the player.  This only works up to 10 generations.  Make sure to reserve your name if you have not done so already.</li>
        </ul>
    </ul>

    <hr />

    <p>April 10</p>

    <ul>
        <li>Alpha Round 18 has ended with Parker Page with the most dungeon points!  The game will now enter chaos mode.  Alpha Round 19 will likely begin on Monday; I'll post an exact time later.  </li>
        <li>
       
    </ul>

    <p>April 4</p>

    <ul>
        <li>Covenant leaders can now transfer leadership to another member directly now.  This functionality, as well as quite a lot of project and code cleanup, is thanks to Transformania Time's <b>new back end developer Arrhae</b> who has been with us since Round 1.</li>
        <li>New spell, Sbiten, submitted by <a href="http://gemai.deviantart.com/">Vivien Gemai</a>!  Additional credits go to JBovinne for the picture, Kacie for the integrated proofreading process of the spell and Ninian for her RP with Runa.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a Pernicious Pixie!</li>
    </ul>

    <hr />

    <p>April 2</p>


    <ul>
        <li>New spell, Waltzing in the Moon Light, submitted by Duhad! Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>. Additional credits go to Elyn for proofreading. This spell changes victim into another part of Gothic Set...</li>
        <li>New spell, A key to a heart, submitted by Ninian! Additional credits go to Dakota for proofreading. Graphic is by <a href="http://luxianne.com/forum/viewtopic.php?f=7&t=655">Ninian</a>.  This spell transforms its victim into a mechanical ballerina!</li>
        <li>New spell, Who watches the watchmen, submitted by Ninian! Additional credits go to Dakota for proofreading. Graphic is by <a href="http://luxianne.com/forum/viewtopic.php?f=7&t=655">Ninian</a>.  This spell transforms its target into a mechanical toy soldier!</li>
</ul>

    <hr />

    <p>March 30</p>


    <ul>
        <li>New spell, Nyat Right Now, Nya?, submitted by Dawn Foley!  Additional credits go to Nyx for existing, Lux for suggestions and Lex Fairchild.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a lazy catgirl!</li>
    </ul>

    <hr />

    <p>March 29</p>
    <ul>
        <li>Struggling is now possible again in the dungeon.  However, the probability of recovery is greatly lowered as long as the owner remains online in the dungeon.</li>
        <li>When creating a new character you will see an option for migrating all your old letters.  This is checked by default.  Keep this selected if you want all of your sent and received letters to automatically be moved to the new player.</li>
        <li>New spell, Gift of the Dragons, submitted by Troodon!  Additional credits go to Calem for inspiring this!  Graphic is by <a href="http://www.furaffinity.net/view/16093610/">Blekarotva</a>.  This spell turns its victim into a dragon-winged adventurer!</li>
        <li>New spell, Weaponized Wub, submitted by Luxican!  Additional credits go to some random person in the general chat for coming up with a name, and thanks to Meddle for making the image!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>. This spell turns its victim into a love potion... love potion number 9!</li>
        <li>New spell, A Lovely Pair, submitted by Breena Shadow!  Additional credits go to Socks for helping a lot with texts.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a pair of latex stockings!</li>
    </ul>

    <hr />

    <p>March 26</p>

    <ul>
        <li>The rat thieves bosses have had their maximum willpower halved.</li>

    </ul>

    <hr />

    <p>March 25</p>

    <ul>
        <li>New spell, Latex of Both Worlds, submitted by Dawn Foley!  Additional credits go to Red Queen for Proofreading, Lysandra Tillman for the name, and Nyx for putting up with my idiocy.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a shapeshifing latex girl!</li>
        <li>New spell, Moonage Daydream, submitted by Troodon!  Additional credits go to David Bowie for the inspiration and thanks to Alexander Dantes for the form name. Graphic is by <a href="http://www.furaffinity.net/user/danielkay/">Daniel Kay</a>.  This spell turns its victim into a androgynous space reptilian creature!</li>
        <li>New spell, Sweet Cake Surprise , submitted by Berrie! Additional credits go to maamaaa~. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a strawberry cheesecake, a reusable consumable item!  Eating a slice gives the "Sugar Rush" effect.</li>
    </ul>

    <hr />

    <p>March 23</p>

    <ul>
        <li>Alpha Round 18 has started!</li>
        <li>New spell, I Can't Believe It's Not on a Finger!, submitted by LastChance12! Graphic is self-made.  This spell turns its victim into a nipple ring!</li>
        <li>New spell, Shrug It Off, submitted by <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a>! Additional credits go to Blanca-D for commissioning and being so patient. Graphic is by <a href="http://blanca-d.deviantart.com/">Blanca (aka Dandelion)</a>. </li>
        <li>New spell, All the World We Cannot See, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>! Additional credits go to Babblingfaces and Mr. DNA and Dr. Otto for the original comic that inspired this spell.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a recruiter for the Vergnügen Korps' Mistress Race.</li>
        <li>New spell, Mare's Matron, submitted by <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a>! Additional credits go to Crissa Kentvar and Wessley puppy for proofing and caster PoV conversion.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a centaur mare!</li>
        <li>New spell, Booty-licious, submitted by Jo Jarvis!  Additional credits go to  Demona and Skyler for the idea, Kacie for the quality control, and butts everywhere for the confidence. Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into... a joke.  Sorry, the butt of a joke.  Actually, just a butt!</li>
        <li>New graphic for the Dungeon Artifact by <a href="http://luxianne.deviantart.com/">Luxianne</a>.</li>
        <li>New spell, Brassiere De Aimer, submitted by Asteron!  Additional credits go to Luxianne for the idea.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a Gothic Brassiere!</li>
    </ul>

    <hr />

    <p>March 17-22</p>

    <ul>
        <li><span class="tldr">Alpha Round 18 is scheduled to begin tomorrow, March 23 at 10:00pm UTC.</span></li>
        <li>Alpha Round 17 has ended!  Thank you all for your patience while I have been working on the new PvP dungeon mechanics.  The game has now entered chaos mode for a few days while we prepare for round 18's start with the launch of the dungeon.  The dungeon is now PvP exclusive.</li>
        <li>Here are the plans for Alpha round 18 relating to the new PvP dungeon:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>Custom spell, Vanquish, used against the dungeon demons.  This can only be cast against demons, and only Vanquish and Weaken can be used against them.  You should learn this spell immediately upon entering the dungeon for the first time.  (If you are in the dungeon already you'll have to leave and re-enter to learn it.)</li>
            <li><span class="good">COMPLETE:  </span>You may now only enter the dungeon from two locations, the intersections Street: Main Street and Sunnyglade Drive Intersection and Street: Main Street and E. 9th Avenue Intersection.  You must now also be in PvP mode for this and it will take 30 action points to deter spamming.  You can leave the dungeon from anywhere but must not have been in combat in the past half hour.  Entering and exiting the dungeon will return you to a random location.</li>
            <li><span class="good">COMPLETE:  </span>Statistics to record artifacts found, dungeon demons defeated, movements made in the dungeon, and dungeon points stolen from other players.</li>
        </ul>
        <li>Other plans:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>You should be able to stay online a bit longer before being logged out (however there still is usually once or twice a day when the memory is flushed and everyone gets logged off.)</li>

            <li><span class="good">COMPLETE:  </span>AP Movement discount should now be clamped at .66 instead of .9 .</li>
        </ul>
        <li>New graphic for the dungeon demon by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.</li>
    </ul>

    <hr />



    <h2>Contributions and Contributors</h2>

    <p>These following artists and authors have spent much time and effort creating unique art and written spells for Transformania Time:</p>

    <h3>Arist Biographies</h3>

    @Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)
    <br />
    @Html.ActionLink("Blanca (aka Dandelion aka Spacedande)", "AuthorArtistBio", "Settings", new { id = 6196 }, null)
    <br />
    @Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)
    <br />
    @Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)
    <br />
    @Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)
    <br />

    <p class="bad">A complete count of all authors and their spell counts can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>

    @*<table id="contributorsTable">

            <th>
                Contributor
            </th>
            <th>
                Contributions
            </th>

            <tr>
                <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
                <td> Many, many graphics</td>
            </tr>
            <tr>
                <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
                <td>Many Graphics!</td>
            </tr>
            <tr>
                <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
                <td>1 Spell, 1 Form, and many Graphics</td>
            </tr>
            <tr>
                <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
                <td>5 Spells, 3 Forms, 2 Items, and many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://babblingfaces.deviantart.com/">Babblingfaces</a></td>
                <td>Many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
                <td>2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
                <td> 2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
                <td>9 spells, 2 forms, 5 items, 2 pets, and several graphics</td>
            </tr>
            <tr>
                <td><a href="http://spacedande.deviantart.com/">Dandelion</a></td>
                <td>1 spell, 1 form, and many graphics</td>
            </tr>
            <tr>
                <td>Curry Senpai</td>
                <td>1 graphic</td>
            </tr>
            <tr>
                <td>Varn1234</td>
                <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
            </tr>
            <tr>
                <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
                <td>13 Spells, 7 Forms, 3 Items, 3 Animals, 1 Curse</td>
            </tr>
            <tr>
                <td>Elynsynos</td>
                <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
            </tr>
            <tr>
                <td>Sun Bro</td>
                <td>1 Spell, 1 Form</td>
            </tr>
            <tr>
                <td>PsychoticPie</td>
                <td>6 Spells, 6 Items</td>
            </tr>
            <tr>
                <td>Arrhae</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>CCWS</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>Zatur</td>
                <td>6 Spells, 4 Items, 1 Animal</td>
            </tr>
            <tr>
                <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
                <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
            </tr>
            <tr>
                <td>Sherry Gray</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
                <td>2 spell, 1 form, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
                <td> 1 spell, 1 item, 1 graphic</td>
            </tr>
            <tr>
                <td>Haretia</td>
                <td>4 spells, 1 form, 3 items</td>
            </tr>
            <tr>
                <td>hachik0048</td>
                <td>1 spell, co-contributor with LexamTheGemFox</td>
            </tr>
            <tr>
                <td>Alessandro Stamegna</td>
                <td>4 spell, 2 forms, 1 animal, 1 item</td>
            </tr>

            <tr>
                <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
                <td>1 spell, 1 Form</td>
            </tr>

            <tr>
                <td>XanKitsu</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Hanna</td>
                <td>8 spells, 1 form, 7 items</td>
            </tr>
            <tr>
                <td>Medli</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Blood Knight</td>
                <td>5 spells, 4 forms, 1 item</td>
            </tr>
            <tr>
                <td>Rust</td>
                <td>2 spell, 1 animal, 1 item</td>
            </tr>
            <tr>
                <td>Archita</td>
                <td>1 spell, 1 animal (revised by Varn)</td>
            </tr>

            <tr>
                <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>themorpher606 (Kevin Gates)</td>
                <td>4 spells, 2 forms, 2 items</td>
            </tr>
            <tr>
                <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
                <td>3 spells, 3 forms</td>
            </tr>
            <tr>
                <td>A /d/eviant</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Arbitrary Hal</td>
                <td>3 spells, 3 items</td>
            </tr>
            <tr>
                <td>Aingelproject667</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>
            <tr>
                <td>Swog</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Faremann</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Christopher</td>
                <td>8 spells, 7 items, 1 pet</td>
            </tr>
            <tr>
                <td>Aidyn Bright</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Kirshwasser</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Draggony</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Sampleguy</td>
                <td>1 spell, 1 animal, 1 graphic</td>
            </tr>
            <tr>
                <td>Berrie Valentine</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Pharlynx</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Julian Chance</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Christine Winters</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Greg Mackenzie</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Estyz</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Swogrider</td>
                <td>2 spells, 1 item, 1 pet</td>
            </tr>
            <tr>
                <td>Ashely Maid</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>BlackTGKitty</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Izz Valentine</td>
                <td>1 spell, 1 curse</td>
            </tr>
            <tr>
                <td>Rayner</td>
                <td>4 spells, 3 forms, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://www.lilysgames.com">Lily</a></td>
                <td>2 spells, 2 items</td>
            </tr>
            <tr>
                <td>Keyne Vangsten</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>GooGirl</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
                <td>2 spells, 2 forms, 2 graphics</td>
            </tr>
            <tr>
                <td>Nyx</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Taenil Auxifur</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Illia Malvusin</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Arnisd</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Mizuho</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Sage Trapp</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Kaitlyn Halliwell</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Rita</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Aethar</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Jackie/Helen Castle</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Pet Forhire</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td><a href="http://lemrith.net">Yassay</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Lazy Loki</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Soren Reus</td>
                <td>2 spells, 1 form, 1 animal</td>
            </tr>
            <tr>
                <td>Madokami</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>G0T0F66</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Jess Ganes</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Mahoney</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Duhad</td>
                <td>10 spells, 1 form, 9 items</td>
            </tr>
            <tr>
                <td>Liahnna</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>

            <tr>
                <td>Jo Jarvis</td>
                <td>1 spell, item</td>
            </tr>
            <tr>
                <td>Asteron</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Alexander Dantes</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Blackarts</td>
                <td>1 spell, 1 form</td>
            </tr>

        </table>*@

    <p>
        If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "PvP", new { Id = -1 }, null).
    </p>

</div>
