<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "PvP")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "PvP")</li>
                <li>@Html.ActionLink("Contributor Bios", "ContributorBioList", "Contribution")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">
    <h1>Updates, News, and Announcements</h1>
    <h4>I will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>


    <p>February 11</p>

    <ul>
        <li>New spell, Rebel Yell, submitted by <a href="http://christytgcaps.blogspot.com/">Christy D</a>!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a punk girl!</li>
        <li>New spell, Teh Rie, submitted by Madokami!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a shy blue-haired girl!</li>
        <li>New spell, Queen's Apparel, submitted by Asteron!  Additional credits go to Elynsynos for proofreading.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell transforms its victim into a gothic crown!</li>
        <li>New spell, Sufficiently Advanced Technology, submitted by Troodon!  Graphic is by <a href="http://themorpher606.deviantart.com/">Kevin Portalz</a>  (as he calls himself in TT; aka Morpher606).  This spell turns its victim into a laptop computer!</li>
        <li>New spell, Hoodwinked, submitted by Ashton Martyn!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  Extra thanks to Christopher Smith whom the author was put in touch with.  This spell transforms its victim into a pink latex hood!</li>
        <li>New spell, Snowblind Love, submitted by Alexander Dantes!  Additional credits go to PFH, Jack Bruce, Peter Horif, Nora Kitsu, and the entire population of New-Zealand (seriously!), Livia Victor, the 'Twinsunes', Reith Opref, Elynsynos, the abstract idea of solitude and Peri Efroth.  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into an arctic fox, a fuzzy pet!</li>
        <li>New item:  Tome:  Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 6).  This is a consumable type item that will give the reader an immediate XP bonus.  This only works once per book.  You can find these rare books from random searches or buy them form Lindella (later to be moved to a different friendly NPC).</li>


    </ul>

    <hr />

    <p>Feburary 8</p>

    <ul>
        <li>Location enchanting now gives some XP proportional to your level and how much enchantment power you do.</li>
        <li>Added two new RP tags, Monstergirl/boy and Mythical.</li>
        <li> <a href="http://lindella.net16.net/wiki/">Kevin Portalz has been working on a wiki tool for the game to keep track of spells, forms, items, and more.  Check it out here</a>.  He is looking for a new site to host this data on; if you are interested in helping out please contact him.</li>
    </ul>


    <hr />

    <p>February 7</p>

    <ul>
        <li>New spell, Harey Kiri, submitted by Rust!  Additional credits and the graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a katana-wielding bunny girl bimbo!</li>
        <li>New spell, Plushling!, submitted by <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a>! Additional credits go to Crevan for the Caster POV conversion. Graphic is by Katie Frill.  This spell transforms its victim into a miniature plushie version of the witchling Circine Milton.</li>
        <li>New spell, Street Kombat, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>! Additional credits go to <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a> for proofreading.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a master of the martial arts.</li>
        <li>New spell, Sporty Spitfire, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>! Additional credits go to Luna Castle and Anne Onymous for moral support, and to Alexander Dantes for encouraging her to scrap everything and start over with an idea she truly liked.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a tomboyish girl.</li>
        <li>New spell, Queen of the Nile, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>!  Additional credits go to <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a> fo proofreading. Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a cursed and veangful (yet sexy) mummy. </li>
        <li><span class="tldr">NOTE:</span>  Enchanting locations will yield some XP soon, likely somewhere between 1 and 5 points per enchantment.  I just want to give fair warning before too many players focus their time and attacks on this to hold back if they wish.</li>
    </ul>

    <hr />

    <p>February 6</p>

    <ul>
        <li><span class="tldr">Alpha Round 16 has started!</span></li>
        <li>New spell, Pain in the Ass, submitted by Hanna! Additional credits go to Martiandawn, Christopher, Tigsune and Hanna's boots. Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a curse-cleansing butt plug.</li>
        <li>New type of covenant furniture, the Rustic Oak Bookshelf which produces Standard Pocket Spellbooks.</li>
        <li>Many new covenant flags are now available (of a significantly better quality the ones I made) thanks to Ninian!</li>
        <li>New spell, Nun of the Above, submitted by Varn! . Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a holy nun.</li>
        <li>New spell, Nun of the Below, submitted by Varn! . Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a... not as holy... nun!</li>
        <li>New spell, Rise of the Elves, submitted by Kirby Sanders!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into an elven hero!</li>
        <li>New spell, Dwells in the Dark, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>! . Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell transforms its victim into a frightful Gloom.</li>
        <li>New spell, The Brain, submitted by Elynsynos with Judoo as a collaborator!  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Nerdy Mousegirl!  (Technically this came out late last round as a part of the upcoming mouse sisters boss event.)</li>
        <li>New spell, Pinky!, submitted by Judoo with Elynsynos as a collaborator!  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Bimbo Mousegirl!  (Technically this came out late last round as a part of the upcoming mouse sisters boss event.)</li>
        <li>New spell, Pinup Attack, submitted by Alessandro Stamegna! Additional credits go to Martiandawn, Varn, Babblingfaces, and of course Meddle.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim into a sexy pinup bunnygirl.</li>
        <li>New spell, Scourge of the Seven Seas, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>!  Graphic is by J<a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell transforms its victim into a pirate.</li>
        <li>New curse, Mana Deprivation, by Vivien Gemai.  This is a castable curse by the Agile Zombie Aide.</li>
        <li>New location-specific mixed curse / blessing, Mana Intoxication, by Vivien Gemai.</li>
    </ul>

    <hr />

    <p>February 4</p>

    <ul>
        <li>Added a new game mode, SuperProtection, which disables all spells cast against you by other players (including animate ones.)  You can move freely back and forth between Protection and SuperProtection.  In order to enter PvP mode you must first move to Protection mode and abide by existing conditions.</li>
        <li>You can now view all players on your blacklist.  Additionally, you can change whether or not the blacklist applies to both stopping attacks or stopping attacks AND messaging.</li>
        <li>Alpha Round 16 is likely to start on Friday; I will provide more details on exactly when later.  The PvP leaderboard and PvP score are being removed again, but the game mode will continue to exist for any who want to enter it.</li>
    </ul>

    <hr />

    <p>February 1</p>

    <ul>
        <li>Congratulation to Nerati Suo for ending the round with the most PvP score.  I will not be changing the game to chaos mode at first as I am still hoping to release the new mouse twins bosses before next round begins and want to keep player levels still close to what it would be normally near turn 2000.  <b>UPDATE:  </b>  The mouse sisters are "live" but are still a work in progress--there's no victory condition yet and functionality has yet to be implemented.</li>
    </ul>

    <hr />

    <p>January 31</p>

    <ul>
        <li>Pushed a couple minor bugfixes.  Mainly, enchanted locations should actually give Arpeyjis now.</li>
        <li><span class="tldr">The RP tag system has been reworked.</span>  Instead of being a binary on / off configuration, you can now click through various levels to show your relative like or dislike for that theme.  Unfortunately this new format is incompatible with the old one so all existing tags have been reset.  (You may need to clear your cache if clicking on the RP tags don't do anything.) </li>
    </ul>

    <hr />

    <p>January 26</p>


    <ul>
        <li>New feature for PvP mode players:  You can now Enchant all non-safeground locations to slowly convert it over to your covenant's side.  Your covenant will be able to automatically collect Arpeyjis from the locations you control every 3 turns, scaling to how many locations you have enchanted.  Enchanting takes up an attack point, converting the location to your covenant's side a bit at a time (how much you convert it is based off of your level.)  You'll also receive notification when you gain or lose an enchantment in the covenant log.</li>
        <li>Leaving protection mode and entering PvP mode will give you a 3-turn attack debug (but will boost your defenses a little to make up for your vulnerability.)</li>
        <li>Covenant leaders can now set a covenant flag on the covenant administration page.  I will add more flags in the future.</li>
    </ul>

    <hr />

    <p>January 25</p>


    <ul>
        <li>New spell, Shadow Walking, submitted by Soul! Additional credits go to King Leoric gave the original idea.  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell transforms its victim into a loyal ninja girl.</li>
        <li>New spell, Build-A-Dragon, submitted by Claxxoon!  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a living plushie dragon, a pet.</li>
        <li>New spell, Lethal Love, submitted by Rust!  Additional credits go to Kiara.  Graphic is by Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a loving sweetheart.  Sort of...</li>
    </ul>

    <hr />

    <p>January 22</p>

    <ul>
        <li>New spell, Klendathu Barada Nikto, submitted by Peter Horif!  Additional credits go to Phracia and Elynsynos. Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into an oddly seductive insectoid alien, an animate form. </li>
        <li>New spell, Walk on the Wild Side, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self made.  This spell turns its victim into a pair of butt-stomping boots, part of the Night Huntress outfit.</li>
        <li>New spell, On the Edge of Darkness, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>! Graphic is self made.  This spell turns its victim into a double-bladed war axe, part of the Night Huntress outfit.</li>
        <li>New spell, Between Darkness and Light, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self made.  This spell turns its victim into lewd leather thong, part of the Night Huntress outfit.</li>
        <li>New spell, Into the Heart of Darkness, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self made.  This spell turns its victim into a pair of leather bracers, part of the Night Huntress outfit.</li>
        <li>New spell, I See a Bad Moon Rising, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!   Graphic is self made.  This spell turns its victim into a leather skirt little more than an ass wrap, part of the Night Huntress outfit.</li>
        <li>New spell, Along the Mountains of the Moon, submitted by... you guessed it... <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  This spell turns its victim into a leather bra, part of the Night Huntress outfit.</li>
    </ul>


    <hr />

    <p>January 20</p>

    <ul>
        <li>Four new consumable type items:  spellbooks named Lil' Pocket Spellbook, Essential Pocket Spellbook, Standard Pocket Spellbook, and Comprehensive Pocket Spellbook.  These spellbooks will teach whoever reads them a few spells they did not previously know.  These different types of book teach the user a different number of random spells depending on their rarity and price.</li>
        <li>New consumable type item, the Hex-B-Gone Moisturizer, which is capable of removing certain curses cast by other players and gained from location curses.  NOTE:  Only a few select curses can be removed at this time; curses need to be individually flagged as to whether or not they are removable (stronger curses from bosses will be immune to removal) and by default most will not be; I will update curses over time to have the right flag.  Lindella will stock these in the future.</li>
    </ul>


    <hr />

    <p>January 18</p>

    <ul>
        <li><a href="http://i.imgur.com/gR2C9Cq.png">Click here to see some fanart by Katie Frill!</a></li>
        <li>Updated How To Play page and the <a href="http://transformaniatime.com/PvP/FAQ">FAQ</a>.</li>
        <li>New effect, Tentacle Tie-up, by Varn.  This curse is castable by taming the Tentacled Terror pet.</li>
        <li>New curse, Soul Sear, by Varn.  This curse is castable by being an Iniquitous Omnibus.</li>
        <li>New curse, Ass Fancier, by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This curse is castable by being a Gyrating Temptress.</li>
        <li>New curse, Feebled, by Izz Valentine.  This curse is castable by equipping the Wizard's Wand.</li>
        <li>New blessing, Something Fishy..., by themorpher606.  This blessing is found from searching in a particular location.</li>
        <li>New curse, Aromatically Muddled, by Rust.  This curse is castable by being a Femboi Skunk.</li>
        <li>New curse, Go for the Eyes, Boo!, by Varn.  his curse is castable by being a Quixotic Ranger.</li>
    </ul>

    <hr />


    <p>January 15</p>

    <ul>
        <li>Players now gain a small debuff upon being mind controlled.</li>
        <li>The rat thieves should use a new custom spell new that turns their victim into a golden rat trophy.  Art is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.</li>
    </ul>

    <hr />

    <p>January 14</p>

    <ul>

        <li>Alpha Round 15 is now live!  As a reminder, PvP score is once again active and the round will be named after the first place on the PvP leaderboard (being animate is not a requirement.)</li>
        <li>New spell, Estrus, submitted by <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a>!  Graphic is by <a href="http://www.furaffinity.net/user/uys/">UYS</a>.  This spell turns its victim into a lustry anthro mare.</li>
        <li>New spell, Decision 2015, submitted by Varn!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a Sunnyglade City Councilman.</li>
        <li>New spell, Vine Entangle, submitted by <a href="http://cyberkaku.deviantart.com/">Cyberkaku</a>!  Graphic is self-made.  This spell turns its victim into a parasitic vine girl.</li>
        <li>New spell, Tamagotcha!, submitted by Alexander Dantes!  Additional credits go to Shelly Kitsu, The Headless Mannequin Formerly Known As Doom, Pet For Hire, Luxianne, Kevin Portalz, and Elynsynos. Graphic is a collaboration between <a href="http://jbovinne.deviantart.com/">jbovinne</a> and <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a little electronic toy.</li>
        <li>New spell, Rubber Love, submitted by Christopher!  Additional credits go to Camren Doss (BabblingFaces) as the co writer on this collaborative project, alongside its artist and proofreader. Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a rubber love doll, a pet type.</li>
        <li>New spell, Tiger Tail Trouble, submitted by Sekki! . Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a wild tiger girl!</li>
        <li>New spell, Where are the Plates?, submitted by <a href="http://cyberkaku.deviantart.com/">Cyberkaku</a>!  Graphic is self made.  This spell turns its victim into a veangeful ghost girl.</li>
        <li>New spell, The Shinny Blue Line, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a> with extra thanks to Babblingfaces for the idea and art.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a much-needed authority figure, a beat cop... of sorts!</li>
        <li>New spell, Going Bowling, submitted by River! Additional credits go to The Kitsu family.  Graphic is by <a href="http://roxanne13579.deviantart.com/">Roxanne246810 (Yuki Kitsu, Rachael Winston)</a>.  This spell turns its victim into a goldfish mermaid, a pet.</li>
        <li>New spell, Marble Beauty, submitted by LastChance12!  Graphic is self-made.  This spell turns its victim into an animate yet immobile form, a marble statue.</li>
    </ul>

    <hr />

    <p>January 9-13</p>

    <ul>
        <li>Alpha Round 14 has ended.  The game will be in chaos mode for a few days; my current goal is to get round 15 started early next week.</li>
        <li>New merchant, Wuffie the Soul Pet Vender, who acts like Lindella but buys and sells pets.  She has her own patrol route but generally stays in the same region longer.  Look for her in outdoors environments where she can grave her pets.  (Graphic is pending.)</li>
        <li>Items and pets that sit around abandoned for too long will go to Lindella's and Wuffie's inventories.  In the future items and pets that site around the their inventories too long may be deleted from the game.</li>
        <li>Here are the plans for Alpha round 15:</li>
        <ul>
            <li><span class="good">MOSTLY FINISHED:  </span>Add some more higher level perks levelup perks, a new tier at level 8 at one at level 6.  Also add prerequisites for the higher level perks back in.</li>
            <li><span class="good">MOSTLY FINISHED:  </span>Mind control mechanics.  There will be a few different spells that take over certain parts of the victim's abilities, ie the ability to cleanse, meditate, move, attack, force them to strip and drop their inventory, and others.  Only the ability to command your victim to move will be active at the start of the round; I will work on releasing more mind control spells as the round progresses after letting people test them out on the test server.</li>
            <li><span class="good">FINISHED:  </span>Reintroduce and tweak PvP score.  The rules for gaining PvP score have been changed so that PvP score is given to the victor (but is still removed from the victim) if the level difference between the two players is less than or equal to 3.  This includes both the base Level*10 score gain as well as the PvP score stealing gain.  Additionally, a PvP mode player being inanimated by a friend in Protection will lose double PvP score.</li>
            <li><span class="good">FINISHED:  </span>Update Donna with new spells.  She will likely choose her spell based on the turn number.</li>
            <li><span class="good">FINISHED:  </span>Increase WP for all bosses except rat thieves.</li>
            <li><span class="good">FINISHED:  </span>Establish updated balancing rules for effect contributions.  The new acceptable balance score is set at -500.  Negative modifiers and caps are now disabled on the effect balance calculator tool.</li>
        </ul>
        <li>First and last character names are each limited to 12 characters long instead of 30 now.</li>
        <li>The base amount of WP recovered from cleansing has been dropped a little.</li>
        <li><span class="tldr">USING A PROTECTION MODE ALT TO CARRY YOUR EXTRA GEAR IS NOT PERMITTED AND IS AGAINST THE RULES.</span>  Don't do it--I don't want to disallow anyone from having alts because of this mechanic being openly abused.</li>
        <li>As a shout out for a friend, <a href="http://lexam-the-gem-fox.deviantart.com/">Circine Milton / LexamTheGemFox</a> is in need of some money and needs to make some cash quickly.  Circine's offering to write spells or stories as comisisons.  Please help him out by reading more <a href="http://lexam-the-gem-fox.deviantart.com/journal/EMERGENCY-COMMISSIONS-OPEN-506733962">here</a>.</li>
        <li><span class="tldr">Alpha Round 15 is scheduled to start tomorrow January 14, at 17:00 UTC.</span></li>
    </ul>

    <hr />

    <p>January 5</p>
    <ul>
        <li>There was an issue with the second ingame poll in which all responses marked as "gay" in the sexual orientation question were being recorded down as "lesbian".  The problem should be fixed; however, if you had either one marked down or originally please double check to see if your correct response is still on the form.  Thanks!</li>
        <li>Various UI updates:  inanimate and animal players should be able to see offline players now after clicking the link.  Moved pet actions into a popup modal.  Location logs should not be reversed for anyone anymore.</li>
    </ul>

    <hr />

    <p>January 3</p>

    <ul>
        <li>Animals and items should now have their turn counter timer work again properly.</li>
        <li>Bugfix for not being able to doubleclick on names in chat when someone had an @@ in a post.</li>
        <li><span class="tldr">There is a new poll up that focuses on real-life information about yourself!</span>  As a reminder, all responses are optional and results are anonymous.</li>
    </ul>

    <hr />

   

   


    <h2>Contributions</h2>

    <p>I'd like to thank the following people, public players, for their contributions toward this game:</p>

    <h3>Arist Biographies</h3>

    @Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)<br />
    @*@Html.ActionLink("Spacedande", "AuthorArtistBio", "Settings", new { id = 6196 }, null)<br />*@
    @Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)<br />
    @Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)<br />
    @Html.ActionLink("Spacedande", "AuthorArtistBio", "Settings", new { id = 6196 }, null)<br />
    @Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)<br />

    <p class="bad">The counts below are out of date.  An alternate credits table is in process and can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>

    <table id="contributorsTable">

        <th>
            Contributor
        </th>
        <th>
            Contributions
        </th>

        <tr>
            <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
            <td> Many, many graphics</td>
        </tr>
        <tr>
            <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
            <td>Many Graphics!</td>
        </tr>
        <tr>
            <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
            <td>1 Spell, 1 Form, and many Graphics</td>
        </tr>
        <tr>
            <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
            <td>5 Spells, 3 Forms, 2 Items, and many graphics!</td>
        </tr>
        <tr>
            <td><a href="http://babblingfaces.deviantart.com/">Babblingfaces</a></td>
            <td>Many graphics!</td>
        </tr>
        <tr>
            <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
            <td>2 Graphics</td>
        </tr>
        <tr>
            <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
            <td> 2 Graphics</td>
        </tr>
        <tr>
            <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
            <td>9 spells, 2 forms, 5 items, 2 pets, and several graphics</td>
        </tr>
        <tr>
            <td><a href="http://spacedande.deviantart.com/">Dandelion</a></td>
            <td>1 spell, 1 form, and many graphics</td>
        </tr>
        <tr>
            <td>Curry Senpai</td>
            <td>1 graphic</td>
        </tr>
        <tr>
            <td>Varn1234</td>
            <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
        </tr>
        <tr>
            <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
            <td>13 Spells, 7 Forms, 3 Items, 3 Animals, 1 Curse</td>
        </tr>
        <tr>
            <td>Elynsynos</td>
            <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
        </tr>
        <tr>
            <td>Sun Bro</td>
            <td>1 Spell, 1 Form</td>
        </tr>
        <tr>
            <td>PsychoticPie</td>
            <td>6 Spells, 6 Items</td>
        </tr>
        <tr>
            <td>Arrhae</td>
            <td>1 Spell, 1 Item</td>
        </tr>
        <tr>
            <td>CCWS</td>
            <td>1 Spell, 1 Item</td>
        </tr>
        <tr>
            <td>Zatur</td>
            <td>6 Spells, 4 Items, 1 Animal</td>
        </tr>
        <tr>
            <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
            <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
        </tr>
        <tr>
            <td>Sherry Gray</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
            <td>2 spell, 1 form, 1 item</td>
        </tr>
        <tr>
            <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
            <td> 1 spell, 1 item, 1 graphic</td>
        </tr>
        <tr>
            <td>Haretia</td>
            <td>4 spells, 1 form, 3 items</td>
        </tr>
        <tr>
            <td>hachik0048</td>
            <td>1 spell, co-contributor with LexamTheGemFox</td>
        </tr>
        <tr>
            <td>Alessandro Stamegna</td>
            <td>4 spell, 2 forms, 1 animal, 1 item</td>
        </tr>

        <tr>
            <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
            <td>1 spell, 1 Form</td>
        </tr>

        <tr>
            <td>XanKitsu</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Hanna</td>
            <td>8 spells, 1 form, 7 items</td>
        </tr>
        <tr>
            <td>Medli</td>
            <td>2 spells, 1 form, 1 item</td>
        </tr>
        <tr>
            <td>Blood Knight</td>
            <td>5 spells, 4 forms, 1 item</td>
        </tr>
        <tr>
            <td>Rust</td>
            <td>2 spell, 1 animal, 1 item</td>
        </tr>
        <tr>
            <td>Archita</td>
            <td>1 spell, 1 animal (revised by Varn)</td>
        </tr>

        <tr>
            <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>themorpher606 (Kevin Gates)</td>
            <td>4 spells, 2 forms, 2 items</td>
        </tr>
        <tr>
            <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
            <td>3 spells, 3 forms</td>
        </tr>
        <tr>
            <td>A /d/eviant</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Arbitrary Hal</td>
            <td>3 spells, 3 items</td>
        </tr>
        <tr>
            <td>Aingelproject667</td>
            <td>3 spells, 2 forms, 1 item</td>
        </tr>
        <tr>
            <td>Swog</td>
            <td>2 spells, 1 form, 1 item</td>
        </tr>
        <tr>
            <td>Faremann</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Christopher</td>
            <td>8 spells, 7 items, 1 pet</td>
        </tr>
        <tr>
            <td>Aidyn Bright</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Kirshwasser</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Draggony</td>
            <td>2 spells, 2 forms</td>
        </tr>
        <tr>
            <td>Sampleguy</td>
            <td>1 spell, 1 animal, 1 graphic</td>
        </tr>
        <tr>
            <td>Berrie Valentine</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Pharlynx</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Julian Chance</td>
            <td>1 spell, 1 animal</td>
        </tr>
        <tr>
            <td>Christine Winters</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Greg Mackenzie</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Estyz</td>
            <td>1 spell, 1 animal</td>
        </tr>
        <tr>
            <td>Swogrider</td>
            <td>2 spells, 1 item, 1 pet</td>
        </tr>
        <tr>
            <td>Ashely Maid</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>BlackTGKitty</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Izz Valentine</td>
            <td>1 spell, 1 curse</td>
        </tr>
        <tr>
            <td>Rayner</td>
            <td>4 spells, 3 forms, 1 item</td>
        </tr>
        <tr>
            <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td><a href="http://www.lilysgames.com">Lily</a></td>
            <td>2 spells, 2 items</td>
        </tr>
        <tr>
            <td>Keyne Vangsten</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>GooGirl</td>
            <td>1 spell, 1 pet</td>
        </tr>
        <tr>
            <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
            <td>2 spells, 2 forms, 2 graphics</td>
        </tr>
        <tr>
            <td>Nyx</td>
            <td>2 spells, 2 forms</td>
        </tr>
        <tr>
            <td>Taenil Auxifur</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Illia Malvusin</td>
            <td>2 spells, 1 form, 1 item</td>
        </tr>
        <tr>
            <td>Arnisd</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Mizuho</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Sage Trapp</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Kaitlyn Halliwell</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Rita</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Aethar</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Jackie/Helen Castle</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Pet Forhire</td>
            <td>1 spell, 1 animal</td>
        </tr>
        <tr>
            <td><a href="http://lemrith.net">Yassay</a></td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Lazy Loki</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Soren Reus</td>
            <td>2 spells, 1 form, 1 animal</td>
        </tr>
        <tr>
            <td>Madokami</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>G0T0F66</td>
            <td>1 spell, 1 item</td>
        </tr>
        <tr>
            <td>Jess Ganes</td>
            <td>1 spell, 1 form</td>
        </tr>
        <tr>
            <td>Mahoney</td>
            <td>2 spells, 2 forms</td>
        </tr>
        <tr>
            <td>Duhad</td>
            <td>10 spells, 1 form, 9 items</td>
        </tr>
        <tr>
            <td>Liahnna</td>
            <td>3 spells, 2 forms, 1 item</td>
        </tr>

        <tr>
            <td>Jo Jarvis</td>
            <td>1 spell, item</td>
        </tr>
        <tr>
            <td>Asteron</td>
            <td>1 spell, 1 pet</td>
        </tr>
        <tr>
            <td>Alexander Dantes</td>
            <td>1 spell, 1 pet</td>
        </tr>
        <tr>
            <td>Blackarts</td>
            <td>1 spell, 1 form</td>
        </tr>

    </table>

    <p>
        If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "PvP", new { Id = -1 }, null).
    </p>

</div>
