@Html.ActionLink("Back to game", "Play", "PvP")

<h1>Updates, News, and Announcements</h1>

@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "PvP")
@Html.ActionLink("News Archive", "GameNews_Archive", "PvP")
@Html.ActionLink("Contributor Bios", "ContributorBioList", "Contribution")

<h4>I will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

<p><i>If the update date is given as today but there is no update listed here then the update was likely a bugfix that may not have warranted a post here.</i></p>

<p>November 9</p>

<ul>
    <li>New spell, Tale as Old as Time, submitted by Liahnna! Additional credits go to <a href="http://martiandawn.deviantart.com/">Martiandawn</a>, Kaitlyn Halliwell and Annie for bouncing ideas off them, and <a href="http://martiandawn.deviantart.com/">Martiandawn</a> for proofreading.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into the Belle of the Ball, quite the beauty queen.</li>
    <li>New spell, Sweet Surrender, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a> with their own graphic.  This spell transforms its victim into a Collared Lap Girl, a pet type spell.</li>
    <li>New spell, Welcome to the Dollhouse, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is by Babblingfaces.  This spell transforms its victim into a woman either human or doll--or perhaps both.</li>
</ul>

<hr />

<p>November 6</p>

<ul>
    <li>The new boss is now summonable over in the Treasure Chest stage.  Her name is Lady Lovebringer, PHD and her intent is bring on the Bimbocalypse, a highly contagious virus that transforms its victims into her own personal bimbo army.  Keep an eye out for vials of the antivirus that will be airdropped around the town every other turn as they will be important in defeating her and her plague.  A very big thanks to Babblingfaces for doing all of the graphics for this boss event!</li>
    <li>There is now a link on the Contribute page and that allows you to message the author of a contribution (this is for the sake of proofreaders and artists being able to get in touch with the authors more easily.)  This link also exists when editing the artist assignment on the "Spells Approved but Awaiting Implementation" page.</li>
</ul>

<hr />

<p>November 2</p>

<ul>
    <li>My apologies for a slow update cycle; work on the bimbo boss is underway and should be ready to be go before the end of the round.</li>
    <li>New spell, Ground Under Foot, submitted by Duhad! Additional credits go to JBovinne.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  The spell turns a defeated mage into a pair of heeled boots that, in turn, stomp on more mages.</li>
    <li>New spell, Princess Topper, submitted by Duhad! Additional credits go to JBovinne.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell transforms its victim into a pretty amathyst tiara.</li>
    <li>New spell, Icarus' Dream, submitted by Mahoney!  Additional credits go to Taenil Auxifur for the spell name.  Graphic is by Babblingfaces.  This spell transforms its victim into a winged harpy straight from Greek mythology.</li>
</ul>

<hr />

<p>October 29</p>

<ul>
    <li>New spell, Love on Heels, submitted by Duhad! Additional credits go to Meddle.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into a pair of cupid heels.</li>
    <li>New spell, Dragon's Seamstress, submitted by Duhad!  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell transforms its victim into a silk dress adorned with the imagery of eastern dragons.</li>
    <li>New spell, Big Hearted Lover, submitted by Duhad!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into a heart-themed bra.</li>
</ul>

<hr />

<p>October 28</p>

<ul>
    <li>Alpha round 12 has begun!  Look at the October 24th news for a list of updates for the round.</li>
    <li>New spell, Struttin', submitted by Christopher!  Additional credits go to Hanna, Shannon, Cathryn and Kaitlyn for discussion and Cara for the image.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a pair of intimidating leather boots.</li>
    <li>New spell, To the Fairest, submitted by Hanna!  Additional credits go to Christopher and <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into a chaotic jester.</li>
    <li>New spell, Sweater Kittens, submitted by Duhad!  Additional credits go to Meddle for the art.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into a comfy knitted bra, just like the kind grandma used to make!</li>
    <li>New spell, Naughty Knitted Nethers, submitted by Duhad!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into a pair of knitted panties to go along with the bra.</li>
    <li>New spell, Rock the Night Away, submitted by <a href="http://jbovinne.deviantart.com/">jbovinne</a> with his own graphic!  This spell transforms its victim into a stone-skin animated, and very horny, gargoyle girl.</li>
    <li>New spell, Love Box, submitted by Duhad!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell transforms its victim into a heart-shaped thong!</li>
</ul>

<hr />

<p>October 24</p>

<ul>
    <li>Congrats to Jess Ganes for winning Alpha Round 11!  Tomorrow the game will enter chaos mode while I work on finishing up some new covenant features--as long as it doesn't degrade experience too badly I believe I can keep it running with the upgraded server.</li>
    <li>Here are my current goals for next round:</li>
    <ul>
        <li><span class="bad">POSTPONED:  </span>Refactor effects code which should allow me to add in the long-waiting contributed effects far more quickly and easily without needing to publish to the server.</li>
        <li><span class="good">DONE:  </span>Expand round length from 2000 turns to 3000.  This is an experiment and may be reverted later.</li>
        <li><span class="good">DONE:  </span>Covenant safegrounds:  These will act as a home base of sorts for a covenant, costing a few thousand Arpeyjis to establish.  Covenants can only establish one per round and cannot move it once it is set.  Valid safeground locations are currently all non-street locations.  A covenant must have five or more animate players level 3 or higher in order to establish a safeground.</li>
        <li><span class="good">DONE:  </span>Covenant furniture:  These are pieces of furniture made out of transformed NPC volunteers.  They are leased out to covenants for a certain amount of time and a the cost of some Arpeyjis.  Using a piece of furniture will give the user a certain bonus, including an action point reserve boost, giving them an effect, or giving them an item.  Furniture will need time to recharge between uses.</li>
        <li><span class="good">DONE:  </span>Covenant safegrounds can be upgraded to hold more pieces of furniture.  Each upgrade costs more than the previous.  A covenant must have five or more animate players level 3 or higher in order to upgrade their safeground.</span></li>
        <li><span class="good">DONE:  </span>Covenant activity logs:  Similar to location logs or a player's recent actions log, this will record various happenings within a covenant such as when members join or leave, when a safeground is established, money is transferred,  new furniture leased, or existing covenant furniture used.</li>
        <li><span class="good">DONE:  </span>Player blacklist:  Sort of like an inverse friend list, putting someone on your blacklist will stop them from being able to send you messages or request you as a friend.  They also will no longer be able to attack you when you are in Protection mod.</li>
        <li><span class="good">DONE:  </span>The negative base struggle chance when a player turns inanimate or animal has been halved to -6% times player level.</li>
        <li><span class="good">DONE:  </span>Lindella will no longer purchase items that are not permanent (consumables being an exception since they are not the result of a transformation.)</li>
        <li><span class="good">DONE:  </span>Slightly decreased the amount of Arpeyjis gained from random searches (but not the probability of the event.)</li>
        <li><span class="good">DONE:  </span>Lindella will keep consumable type items that she has bought from players in her inventory for much longer now.</li>
        <li><span class="good">DONE:  </span>Experience earned from casting spells at higher levels have a smaller dropoff than before and begin at a later level.</li>
    </ul>
</ul>

<hr />

<p>October 20</p>

<ul>
    <li>Casting Weaken against Valentines offers an immediate 20XP reward instead of 10XP.  In case you didn't know that attacking him earned you XP, and I am sure many did not, there is new a message in your player action log stating such.</li>
    <li>Using consumable items that restored Willpower or Mana should now tell you what your updated WP and Mana amount is in the result text.</li>
</ul>

<hr />

<p>October 19</p>

<ul>
    <li>The attack modal now has filters that will quickly filter through all of your spells and only show/hide the category you want.  Additionally, it will only show animate spells as options when casting against a non-friend Protection player.</li>
</ul>

<hr />

<p>October 18</p>

<ul>
    <li>Two new findable consumable items, Fire Fritters Barricade Brownie Bites.  These items give you more damage and more defense, respectively.</li>
</ul>

<hr />

<p>October 16</p>

<ul>
    <li>You can now see what effects other players have by click on the "View Effects" link on the Look At Player page.</li>
</ul>

<hr />

<p>October 15</p>

<ul>
    <li>Nicknames should appear in chat as well as on the Friends page now.</li>
    <li>New findable but rare consumable item: the Classic Me! Restorative Lotion that can instantly restore any animate mage back to their base form, as well as cleanse out over a quarter of their total TF energies.</li>
</ul>

<hr />

<p>October 14</p>

<ul>
    <li>You should be able to see what special permissions you have on your settings page if you have any.  Special permissions include whether or not a player is on the multiple account whitelist (used for couples who play while living in the same building), proofreaders list, and artists list.  Please make a post on the forums if functionality has changed any as the code behind how these permissions are set up has been changed.</li>
    <li>Added another Jewdewfae encounter at the athletics track.</li>
</ul>

<hr />

<p>October 13</p>

<ul>
    <li>Nicknames should now appear for players who are eligible to set them and have done so (Tier 2 donators).  Additionally, the Tier 3 extra message count and no automatic deletion has gone into effect although bio limit has not yet been changed.</li>
    <li>Jewdewfae will move a little more often and give on average a little more XP.  She will also leave a location early if she spends too many turns pass in one place, which should be between 8 and 9 hours.</li>
</ul>

<hr />

<p>October 12</p>

<ul>
    <li>Added another Donation reward on Paypal for $7/mo pledges that allows players to freely set a nickname up to 20 characters.  This can be done on the Settings page.  It is possible to set it now but it will not appear to others in the game quite yet.  There is also the option to Verify your donation status which will look up in the database your donation records and should assign the appropriate tier instantly.  This is done automatically at character creation, but if you up a pledge or donate mid-round that link is how to force it to update, assuming I have added that information into the database.</li>
   
</ul>

<hr />

<p>October 11</p>

<ul>
    <li>New spell, Sweet Dreams Are Made of This, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim into a pink latex dress.</li>
    <li>New spell, Tongue Twister, submitted by G0T0F66! Additional credits go to Thanks to Ani and Arrhae for proofreading and to BabblingFaces for creating the graphics.  Graphic is by BabblingFaces.  This spell transforms its victim into a rather unique tongue.</li>
    <li>New spell, Serpent Strike, submitted by Jess Ganes!  Additional credits go to Valentine Family, Elyn Kitsu, and Cara Doom. Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell transforms its victim into a half-woman half-snake creature. </li>
    <li>New spell, Soft 'n Sweet, submitted by Mahoney! Additional credits go to Rita Coker for the patronage to provide the image, Animate MeFreely for the proofreading, and Melodi, Cara, and Vivian for advice.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell transforms its victim into an animate gummy woman.</li>

</ul>

<hr />

<p>October 10</p>

<ul>
    <li>Alpha Round 11 has started on the new server, <a href="http://transformaniatime.com/">http://transformaniatime.com</a>.  (Chances are you are on it it now.  If not, know that it will be used for primary round gameplay.  The old server will be kept around for testing purposes only.)</li>
    <li>New spell, Jawtastic!, submitted by Illia Malvusin!  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a dripping shark girl swimmer.</li>
    <li>New spell, Mothball, written by myself (Judoo).  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into an evasive fuzzy moth girl.</li>
    <li>New spell, Amazonian Allure, submitted by Varn!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim onto a muscle-bound Amazonian sporting something... manly.</li>
    <li>New spell, I Am Jack's Spell, submitted by Varn!  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim onto a pillow-wielding sorority sister.</li>
    <li>New spell, Veni, Vidi, Venti!, submitted by <a href="http://gemai.deviantart.com/">Vivien Gemai</a>!  Additional credits go to Finley Gage for the roleplay that inspired it; dj-neko for the picture that inspired it, and Animate Mefreely for the proofreading.  Graphic is by <a href="http://dj-neko.deviantart.com/">dj-neko</a>.  This spell turns its victim into a sylph, an elemental spirit.</li>
    <li>Changed the yellow box at the top of the main play page to show number of players and how many of them are online.  In this case, online means the last time the player loaded up the Play page, not strictly spending AP, which is the other method that determines whether a player is attackable or not.</li>
    <li>The Friends page now shows the last activity of your friends instead of whether their character is Online (attackable) or not, using instead the new timestamp mentioned above.</li>
    <li>Players spawn with a full action point reserve now.</li>

</ul>

<hr />

<p>October 9</p>

<ul>
    <li>For those who missed the notifications or have not heard, the new round is scheduled to start tomorrow, Friday October 10 at 7:00pm Eastern Standard Time on the <a href="http://transformaniatime.com/">new, upgraded server</a>. The server has been upgraded to a plan that currently costs $120 monthly but should be sufficient for a good while and hopefully be adequate for future growth.  If you are working on any contributions, please continue to use this site.  When round 11 launches, I will copy the database over once again; from there on out please use the new server for all contribution submissions.</li>
    <li>A number of forms and items have been updated, both for spelling/grammar and their bonus values to reflect recent changes to the balance values.</li>
    <li>The levelup perks have been balanced using a score of close to 35.  This effects some levelup perks very drastically and others quite little; be sure to look at the new values before making a choice.</li>
    <li>A new Item leaderboard exists showing the top 100 items, their old human names, item type, and whether or not they are permanently sealed into the form.</li>
    <li>Location log messages will not be deleted before their 1 hour (up to 70 minutes, technically) expiration.  This is a bit of a test to see if the new server will be able to handle it and this may be reverted if it causes noticeable problems.</li>
    <li>I would also like to continue to thank Mizuho of <a href="http://luxianne.deviantart.com/">Luxianne.com</a> for his ongoing efforts and accomplishments in some long-needed UI updates.  Anything that looks better than it used to, you can thank him for!</li>
</ul>

<hr />

<p>October 5</p>

<ul>
    <li>With the other site up and running, I have spent some time looking into resource usage on the server as the new server seems to get its turns stuck.  The current plan is to try and upgrade the server a step higher--thank to the amount pledged on Patreon the cost is already covered.</li>
    <li>A little bit of good news:  Jewfewfae the Perverted Fairy is now up and live. Approach her in the correct form and play with her and she will reward you with some of her fairy magic that manifests itself as experience.  She will give out more experience to the first players who satisfy her requirements and the amount she gives will decrease each time down to a minimum of 15 XP.  Playing with her costs 5 AP.  After playing with a certain amount of people she will grow tired of her current fetish and relocate to a new location, desiring a new form for her partners to play with her in.  Players can only play with her once until she decides to relocate.</li>
      <li>Because of Jewfewfae requiring frequent form changes, the XP loss from being changed from one animate form to another has been removed (but not the mana loss.)</li>
</ul>

<hr />

<p>October 4</p>

<ul>
    <li>Unfortunately the server migration has hit another snag, this time relating to migrating the database.  I am waiting for tech support to get back to me.  This will likely mean that the next round will either have to be delayed longer or start on the old server while the new one is still worked on.  I will provide more information later.</li>
    <li>Changed a couple balance values; expect some items to be rebalanced soon.</li>
    <li>Made some UI changes to the main play pages thanks to Mizuho of <a href="http://luxianne.deviantart.com/">Luxianne.com</a>.  He will be assisting in development in the future so now is a good time to welcome him officially to the project!  I also made some changes to the Write message page so it tells you how many characters you have remaining.</li>
    <li>Transformania Time's <a href="http://www.patreon.com/TransformaniaTimeGame">Patreon</a> has reached $117 a month in pledges.  Once again thank you all to everyone who has pledged.</li>
</ul>

<hr />

<p>October 3</p>

<ul>
    <li>The new site appears to be running--a few more fixes are required and then I will give out the link.  I believe the new round is on track to start sometime around Sunday afternoon but I will release a more concerete date at a later time.  As always thanks for your patience.</li>
    <li>The pledges from September's Patreon have been collected--thank you very much to everyone who pledged!  Here is what I was able to collect, copied from Patreon:  +$69.60 processed to your account from your patrons.  $78.00 Pledged / $4.50 CC Fees / $3.90 Patreon.  The server bill is set at $75 monthly, so the cost has been just about completely covered.  I will likely be implementing a couple new donation bonuses for higher donation tiers.</li>
</ul>

<hr />

<p>September 29</p>

<ul>
    <li>Because the time between rounds may be a little lengthy again, I would like to share my current goals to accomplish before the start of next round.  They include:
    <ul>
        <li>Migrate to the new server.  As the Donate? page specifies, I am planning on upgrading the server to use Arvixe's ASP.Net VPS plan, which although may not be as powerful as initially hoped, it will be isolated from other sites using too much bandwidth and RAM.  This means that performance should be regularly as stable as the site usually is during non-peak hours where turn updates average some 50-80 seconds to complete.  I will spend a round or two evaluating whether the new plan is sufficient, whether the plan will need to be upgraded again, or if an entirely new hosting company will be necessary.</li>
        <li>A more minor rebalancing of item stats.  Currently Move Action Point Discount and extra transformation energy % removed when cleansing are under focus and will be made significantly more expensive.</li>
        <li>Some experimenting on new ways to handle turn updates.  I have some ideas on how to make them run faster, or at least change it so that the bulky portion of the update (calculating each player's WP and Mana regeneration) is done less obtrusively.</li>
        <li>Item leaderboard.  Hopefully for real this time.</li>
        </ul>
    </li>
</ul>

<hr />

<p>September 28</p>

<ul>
    <li>Alpha Round 10 has ended with Cole Kurtz in first place on the PvP leaderboard.  The game will be inbetween rounds for a while as a new, faster hosting service is set up.</li>
</ul>

<hr />


<h2>Contributions</h2>

<p>I'd like to thank the following people, public players, for their contributions toward this game:</p>

<table id="contributorsTable">

    <th>
        Contributor
    </th>
    <th>
        Contributions
    </th>

    <tr>
        <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
        <td> Many, many graphics</td>
    </tr>
    <tr>
        <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
        <td>Many Graphics!</td>
    </tr>
    <tr>
        <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
        <td>1 Spell, 1 Form, and many Graphics</td>
    </tr>
    <tr>
        <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
        <td>5 Spells, 3 Forms, 2 Items, and 9 Graphics</td>
    </tr>
    <tr>
        <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
        <td>2 Graphics</td>
    </tr>
    <tr>
        <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
        <td> 2 Graphics</td>
    </tr>
    <tr>
        <td>Curry Senpai</td>
        <td>1 graphic</td>
    </tr>
    <tr>
        <td>Varn1234</td>
        <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
    </tr>
    <tr>
        <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
        <td>12 Spells, 7 Forms, 2 Items, 3 Animals, 1 Curse</td>
    </tr>
    <tr>
        <td>Elynsynos</td>
        <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
    </tr>
    <tr>
        <td>Sun Bro</td>
        <td>1 Spell, 1 Form</td>
    </tr>
    <tr>
        <td>PsychoticPie</td>
        <td>6 Spells, 6 Items</td>
    </tr>
    <tr>
        <td>Arrhae</td>
        <td>1 Spell, 1 Item</td>
    </tr>
    <tr>
        <td>CCWS</td>
        <td>1 Spell, 1 Item</td>
    </tr>
    <tr>
        <td>Zatur</td>
        <td>6 Spells, 4 Items, 1 Animal</td>
    </tr>
    <tr>
        <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
        <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
    </tr>
    <tr>
        <td>Sherry Gray</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
        <td>2 spell, 1 form, 1 item</td>
    </tr>
    <tr>
        <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
        <td> 1 spell, 1 item, 1 graphic</td>
    </tr>
    <tr>
        <td>Haretia</td>
        <td>4 spells, 1 form, 3 items</td>
    </tr>
    <tr>
        <td>hachik0048</td>
        <td>1 spell, co-contributor with LexamTheGemFox</td>
    </tr>
    <tr>
        <td>Alessandro Stamegna</td>
        <td>4 spell, 2 forms, 1 animal, 1 item</td>
    </tr>

    <tr>
        <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
        <td>1 spell, 1 Form</td>
    </tr>

    <tr>
        <td>XanKitsu</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Hanna</td>
        <td>8 spells, 1 form, 7 items</td>
    </tr>
    <tr>
        <td>Medli</td>
        <td>2 spells, 1 form, 1 item</td>
    </tr>
    <tr>
        <td>Blood Knight</td>
        <td>5 spells, 4 forms, 1 item</td>
    </tr>
    <tr>
        <td>Rust</td>
        <td>2 spell, 1 animal, 1 item</td>
    </tr>
    <tr>
        <td>Archita</td>
        <td>1 spell, 1 animal (revised by Varn)</td>
    </tr>
    <tr>
        <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
        <td>8 spells, 2 forms, 5 items, 1 pet</td>
    </tr>
    <tr>
        <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>themorpher606 (Kevin Gates)</td>
        <td>4 spells, 2 forms, 2 items</td>
    </tr>
    <tr>
        <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
        <td>3 spells, 3 forms</td>
    </tr>
    <tr>
        <td>A /d/eviant</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Arbitrary Hal</td>
        <td>3 spells, 3 items</td>
    </tr>
    <tr>
        <td>Aingelproject667</td>
        <td>2 spells, 2 forms</td>
    </tr>
    <tr>
        <td>Swog</td>
        <td>2 spells, 1 form, 1 item</td>
    </tr>
    <tr>
        <td>Faremann</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Christopher</td>
        <td>8 spells, 7 items, 1 pet</td>
    </tr>
    <tr>
        <td>Aidyn Bright</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Kirshwasser</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Draggony</td>
        <td>2 spells, 2 forms</td>
    </tr>
    <tr>
        <td>Sampleguy</td>
        <td>1 spell, 1 animal, 1 graphic</td>
    </tr>
    <tr>
        <td>Berrie Valentine</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Pharlynx</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Julian Chance</td>
        <td>1 spell, 1 animal</td>
    </tr>
    <tr>
        <td>Christine Winters</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Greg Mackenzie</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Estyz</td>
        <td>1 spell, 1 animal</td>
    </tr>
    <tr>
        <td>Swogrider</td>
        <td>2 spells, 1 item, 1 pet</td>
    </tr>
    <tr>
        <td>Ashely Maid</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>BlackTGKitty</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Izz Valentine</td>
        <td>1 spell, 1 curse</td>
    </tr>
    <tr>
        <td>Rayner</td>
        <td>4 spells, 3 forms, 1 item</td>
    </tr>
    <tr>
        <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td><a href="http://www.lilysgames.com">Lily</a></td>
        <td>2 spells, 2 items</td>
    </tr>
    <tr>
        <td>Keyne Vangsten</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>GooGirl</td>
        <td>1 spell, 1 pet</td>
    </tr>
    <tr>
        <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
        <td>2 spells, 2 forms, 2 graphics</td>
    </tr>
    <tr>
        <td>Nyx</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>BabblingFaces</td>
        <td>4 graphics</td>
    </tr>
    <tr>
        <td>Taenil Auxifur</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Illia Malvusin</td>
        <td>2 spells, 1 form, 1 item</td>
    </tr>
    <tr>
        <td>Arnisd</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Mizuho</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Sage Trapp</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Kaitlyn Halliwell</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Rita</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Aethar</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Jackie/Helen Castle</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Pet Forhire</td>
        <td>1 spell, 1 animal</td>
    </tr>
    <tr>
        <td><a href="http://lemrith.net">Yassay</a></td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Lazy Loki</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Soren Reus</td>
        <td>2 spells, 1 form, 1 animal</td>
    </tr>
    <tr>
        <td>Madokami</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>G0T0F66</td>
        <td>1 spell, 1 item</td>
    </tr>
    <tr>
        <td>Jess Ganes</td>
        <td>1 spell, 1 form</td>
    </tr>
    <tr>
        <td>Mahoney</td>
        <td>2 spells, 2 forms</td>
    </tr>
    <tr>
        <td>Duhad</td>
        <td>8 spells, 8 items</td>
    </tr>
    <tr>
        <td>Liahnna</td>
        <td>1 spell, 1 form</td>
    </tr>

</table>

<p>
    If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "PvP", new { Id = -1 }, null).
</p>

@Html.ActionLink("Back to game", "Play", "PvP")


<style>
    td {
        border: 1px solid gray;
        text-align: center;
        min-width: 150px;
    }

    tr {
        border: 1px solid gray;
        text-align: center;
    }

    th {
        border: 1px solid gray;
        text-align: center;
    }

    table {
        text-align: center;
    }

    li {
        margin-bottom: 8px;
    }
</style>
