<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "PvP")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "PvP")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "PvP")</li>
                <li>@Html.ActionLink("Contributor Bios", "ContributorBioList", "Contribution")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">
    <h1>Updates, News, and Announcements</h1>
    <h4>I will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    <p>March 17-22</p>

    <ul>
        <li><span class="tldr">Alpha Round 18 is scheduled to begin tomorrow, March 23 at 10:00pm UTC.</span></li>
        <li>Alpha Round 17 has ended!  Thank you all for your patience while I have been working on the new PvP dungeon mechanics.  The game has now entered chaos mode for a few days while we prepare for round 18's start with the launch of the dungeon.  The dungeon is now PvP exclusive.</li>
        <li>Here are the plans for Alpha round 18 relating to the new PvP dungeon:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>Custom spell, Vanquish, used against the dungeon demons.  This can only be cast against demons, and only Vanquish and Weaken can be used against them.  You should learn this spell immediately upon entering the dungeon for the first time.  (If you are in the dungeon already you'll have to leave and re-enter to learn it.)</li>
            <li><span class="good">COMPLETE:  </span>You may now only enter the dungeon from two locations, the intersections Street: Main Street and Sunnyglade Drive Intersection and Street: Main Street and E. 9th Avenue Intersection.  You must now also be in PvP mode for this and it will take 30 action points to deter spamming.  You can leave the dungeon from anywhere but must not have been in combat in the past half hour.  Entering and exiting the dungeon will return you to a random location.</li>
            <li><span class="good">COMPLETE:  </span>Statistics to record artifacts found, dungeon demons defeated, movements made in the dungeon, and dungeon points stolen from other players.</li>
        </ul>
        <li>Other plans:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>You should be able to stay online a bit longer before being logged out (however there still is usually once or twice a day when the memory is flushed and everyone gets logged off.)</li>
        </ul>
        <li>New graphic for the dungeon demon by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.</li>
    </ul>

    <hr />

    <p>March 12</p>

    <ul>
        <li>New graphic for the Trueshot Truffles by <a href="http://luxianne.deviantart.com/">Mizuho</a>.</li>
    </ul>

    <hr />


    <p>March 9</p>

    <ul>
        <li>The leaderboard now shows game modes again.  Also they should say the correct round number now.  Oops.</li>
    </ul>

    <hr />

    <p>March 8</p>

    <ul>
        <li>New spell, Am I Bugging You?, by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>.  This is the third mind control spell and successfully controlling a person with it prevents them from being able to meditate.  In addition, the mind controller can force the victim to "demeditate" twice per turn which has the effect of lowering the victim's mana as much as they would normally benefit from it.</li>
        <li>Covenants should receive notices in the logs when someone dispells their enchantment on a location that specifies who did it and which covenant they belong to.</li>
    </ul>

    <hr />

    <p>March 7</p>

    <ul>
        <li>New spell, Take Back the Night, submitted by Grace Kitsu!  Additional credits go to Christopher, Tigsune, Dantes for proofreading and motivating, and Parker Page for the idea. Graphic is by <a href="http://blanca-d.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Ravening Hunter!</li>
        <li>New spell, Gentlemen of Class, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>!  Additional credits go to JBovinne for the art of the whole set.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a set of Gentleman's suit and vest.</li>
        <li>New spell, Back To The Drawing Board, submitted by Alexander Dantes!  Additional credits go to the most boring church ever for inspiration to write this on Christmas of all days.  Elyn smote commas and wacko sentences for great justice.  Graphic is by <a href="http://blanca-d.deviantart.com/">Dandelion</a>.  This spell turns its victim into a whiteboard and marker!</li>
    </ul>

    <hr />

    <p>March 3</p>

    <ul>
        <li>Mizu made various updates to the inanimate and pet play page UI.  The RP tags have also been restyled.</li>
        <li>New spell, In the Light of the Moon, submitted by Troodon!  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a fierce she-wolf!</li>
        <li>New spell, Floral Upholding, submitted by Passerby! Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a silky bikini top!</li>
        <li>New spell, Floral Underlining, submitted by Passerby! . Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a silky bikini thong to accompany the top!</li>
        <li>New spell, The Things We Learn from History, submitted by Ashley Valentine!  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turs its target into a pair of elegant gothic stockings!</li>
        <li>New curse, Fried Magical Circuits!, by Alexander Dantes.  This powerful but costly curse is gained from keeping the Mana Ray as a pet.</li>
    </ul>

    <hr />



    <p>March 1</p>

    <ul>
        <li>New spell, Take a Load Off!, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  This is the second Mind Control type spell; casting it against your victim prevents them from picking anything up from the ground and also allows the controller to force their victim to drop a random belonging, worn or not, once per turn!</li>
        <li>New spell, Good Girl!, submitted by Nyx! Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a Loyal Dog Girl!</li>
        <li>New spell, Me and My Shadow..., submitted by Passerby!  Additional credits go to Christy; you got your way. Graphic is by <a href="http://blanca-d.deviantart.com/">Dandelion</a>.  This spell turns its victim into a helpful Living Shadow, a pet type.</li>
        <li>New spell, Firefox, submitted by Nyx!  Additional credits go to Melodi for the request.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a Red Panda Boi!</li>
        <li>New spell, Manta Style, submitted by Peter Horif!  Additional credits go to Alexander Dantes for original idea and writing the curse, Phracia for demanding I not credit them and proofreading, other people for popping in and reading over it even though I'm not sure who all that includes (sorry!).  Graphic is by <a href="http://blanca-d.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Mana Ray, a pet!</li>
    </ul>

    <hr />

    <p>February 28</p>

    <ul>
        <li>New graphic for Brother Lujako the apprentice rat thief by <a href="http://luxianne.deviantart.com/">Luxianne</a>.</li>
    </ul>


    <hr />

    <p>February 27</p>

    <ul>
        <li>Alpha Round 17 has started!</li>
        <li>New spell, Siren's Carving, submitted by LastChance12!  Graphic is self made.  This spell turns its victim into a mermaid amulet!</li>
        <li>New spell, Run For the Hills!, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>!  Additional credits go to Luxianne for art and Mizuho for setting things up and Judoo for the idea.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a pair of running shoes!</li>
        <li>New spell, Panty Raiden, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>!  Additional credits go to JBovinne for art, concept and name.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a guardian of Sunnyglade!</li>
        <li>New spell, Kufuku no Kitsune, submitted by Troodon!  Graphic is by <a href="http://www.furaffinity.net/user/danielkay/">Daniel Kay</a>.  This spell turns its victim into a Gluttonous Kitsune!</li>
        <li>New spell, Garden Variety, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>! Additional credits go to Luna for brainstorming with me and to Dande for being ever so patient with the ups and downs this spell went through.  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Pocket Waifu, a pet.</li>
        <li>New lore book, One Flew Over the Psycho’s Head, written by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>.</li>
        <li>Lindella pays less for most items now.</li>
        <li>Covenants will collect Arpeyjis from the territories they control each hour instead of each half hour.  However they will collect twice as much.  Mostly this is to help declutter the covenant log.</li>
    </ul>


    <hr />

    <p>February 24-25</p>

    <ul>

        <li><span class="tldr">Alpha Round 17 is scheduled to begin tomorrow, February 27, at 10pm UTC.</span></li>
        <li>Alpha Round 16 has ended!  The game will enter chaos mode for a few days before the world is reset and round 17 begins.</li>
        <li>Here are the plans for Alpha round 17:</li>
        <ul>
            <li><span class="good">COMPLETE?  NOT WELL TESTED.  </span>Remove the contract duration aspect of covenant furniture so they are one-time purchases instead of temporary leases.  Expect pricing to adjust accordingly as well as safegrounds to hold fewer furniture.</li>
            <li><span class="bad">POSTPONED:  </span>Add non-wandering Librarian NPC who buys and sells spell books and tomes.  Most likely she'll be in the bookstore at all times.</li>
            <li><span class="good">COMPLETE:  </span>Enchantments level in neutral zones now start out at 75 instead of 150.  Casting an enchantment on a location with a level of 100 won't yield any XP.  XP gain from enchanting is now capped at 5 XP.</li>
            <li><span class="bad">ONGOING:  </span>Add more statistics types.</li>
            <li><span class="good">COMPLETE:  </span>Add location enchantment-related level up perks, increasing enchantment power slightly (an extra point per cast most likely).  There are three of these perks available at levels 3, 7, and 11 that allow you to deal 1, 2, or 3 extra enchantment damage respectively.</li>
        </ul>
        <li>If you are interested in writing and submitted a Tome (a consumable book that gives XP after being read, limit once per book per round).  There is already one such tome in the game, "Tome:  Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 6)".  Tomes are a way of providing "official" lore to TT so the reviewing process will be much more restrictive.  Please contact me on the forums for more details.</li>
        <li><b>New spell out...  Maybe?</b></li>
        <li>New art for Sister Lujienne Seekshadow by <a href="http://luxianne.deviantart.com/">Luxianne</a>!</li>
        <li>Playing with Jewdewfae gives up to 75xp instead of 50xp.  Reading a lore book gives 35xp instead of 50xp.</li>
    </ul>

    <hr />

    <p>February 22</p>

    <ul>
        <li>Added item detail links (seen as [+] on portrait graphics) to the Look at Player page.  Also, the items in your inventory should now be sorted by consumable types first, then reusable consumables, then the rest.  Each grouping is ordered alphabetically.</li>
        <li>Added some round statistics (a possible precursor for an achievement system).  You can see these on the Look at Player pages.  There is also a link to see your own on the Settings page.</li>
        <li><b>New February 22 2015:  If your spell or form is a parody or reference to copyrighted material, please contact Judoo on the forums for an extended approval process first as it is far more likely the contribution will need heavier modieration to comply with legalities.</b></li>
        <li>Removed the turn 1800 limitation for entering PvP mode.</li>
    </ul>


    <hr />

    <p>February 19</p>

    <ul>
        <li>Reworked inventory page.  Also updates the purchase pages for Lindella and Wuffie.</li>
        <li>Location enchanting now costs 3AP and 10 mana.  It also won't always round down to 0 now, so at level 5 you'll enchant for 2.5 points instead of just 2.</li>
        <li>Everyone should get logged out after 2 hours of inactivity.  This is an experiment to see if it helps increase server stability and help reduce incidents where everyone gets logged out at once.</li>
    </ul>

    <hr />

    <p>February 17</p>

    <ul>
        <li>New spell, No Limbs? No Problem!, submitted by Anne O.! Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a limbless pillow girl, an accessory.</li>
        <li>New spell, Witch's Brim, submitted by Misty Dream!   Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a witch's hat!</li>
        <li>New spell, Fur Without Murder, submitted by Troodon!  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a living fuzzy mink.</li>
    </ul>

    <hr />

    <p>February 16</p>

    <ul>

        <li>New spell, Easy Ride, submitted by hypnoslut!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a pink bicycle!</li>
        <li>New spell, Crooooaaak, submitted by Nyx!  Graphic is by Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell transforms its victim into a cute frog girl!</li>
        <li>New spell, Sake Kai Tanuki, submitted by Troodon!  Additional credits go to Thanks to Red Queen for proofreading!  Also, thanks to Kacie Cross for helping to come up with the name of the form. Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into Tanuki with a few extra pounds.</li>
        <li>New spell, Further Enhanced Magical Acuity Learning Experiment, submitted by Anne O.!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a mad female scientist!</li>
        <li>New spell, Seal of Honor, submitted by Rust!  Additional credits go to Dande and Kacie for the idea. Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a sailor seal girl!</li>
        <li>New spell, Lilitu Yah Shaddai, submitted by Christopher!  Additional credits go to Camren for co writing, image and design.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a demonic concubine, a pet type.</li>
        <li>New spell, Cream of the Crop, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self made.  This spell turns its victim into a riding cropy!</li>
        <li>New spell, Candyman's Companion, submitted by Varn!  Graphic is by Alessandro Stamegna.  This spell turns its victim into a Queen of the Toombah Goombahs!</li>
        <li>New spell, Barely Tolerated, submitted by Troodon!  Graphic is by <a href="http://www.furaffinity.net/user/danielkay/">Daniel Kay</a>.  This spell turns its victim into an irritable grizzly bear maid.</li>
        <li>New castable curse, Tentacle Torment, by Varn.  This spell is gained from having the Tentacled Terror kept as a pet.</li>
        <li>New castable curse, Unfortunate Heat, by Taenil Auxifur.  This spell is gained from being a Bitch in Heat.</li>
        <li>New curse, Cage of Memories, by Vivien Gemai.  This spell is gained from being a Great Fairy.</li>
        <li>New curse, Chained Emotions, by Vivien Gemai.  This spell is gained from being a Great Fairy.</li>

    </ul>

    <hr />


    <p>February 11</p>

    <ul>
        <li>New spell, Rebel Yell, submitted by <a href="http://christytgcaps.blogspot.com/">Christy D</a>!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a punk girl!</li>
        <li>New spell, Teh Rie, submitted by Madokami!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a shy blue-haired girl!</li>
        <li>New spell, Queen's Apparel, submitted by Asteron!  Additional credits go to Elynsynos for proofreading.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell transforms its victim into a gothic crown!</li>
        <li>New spell, Sufficiently Advanced Technology, submitted by Troodon!  Graphic is by <a href="http://themorpher606.deviantart.com/">Kevin Portalz</a>  (as he calls himself in TT; aka Morpher606).  This spell turns its victim into a laptop computer!</li>
        <li>New spell, Hoodwinked, submitted by Ashton Martyn!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  Extra thanks to Christopher Smith whom the author was put in touch with.  This spell transforms its victim into a pink latex hood!</li>
        <li>New spell, Snowblind Love, submitted by Alexander Dantes!  Additional credits go to PFH, Jack Bruce, Peter Horif, Nora Kitsu, and the entire population of New-Zealand (seriously!), Livia Victor, the 'Twinsunes', Reith Opref, Elynsynos, the abstract idea of solitude and Peri Efroth.  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into an arctic fox, a fuzzy pet!</li>
        <li>New item:  Tome:  Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 6).  This is a consumable type item that will give the reader an immediate XP bonus.  This only works once per book.  You can find these rare books from random searches or buy them form Lindella (later to be moved to a different friendly NPC).</li>


    </ul>

    <hr />

    <p>Feburary 8</p>

    <ul>
        <li>Location enchanting now gives some XP proportional to your level and how much enchantment power you do.</li>
        <li>Added two new RP tags, Monstergirl/boy and Mythical.</li>
        <li> <a href="http://lindella.net16.net/wiki/">Kevin Portalz has been working on a wiki tool for the game to keep track of spells, forms, items, and more.  Check it out here</a>.  He is looking for a new site to host this data on; if you are interested in helping out please contact him.</li>
    </ul>


    <hr />

    <p>February 7</p>

    <ul>
        <li>New spell, Harey Kiri, submitted by Rust!  Additional credits and the graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a katana-wielding bunny girl bimbo!</li>
        <li>New spell, Plushling!, submitted by <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a>! Additional credits go to Crevan for the Caster POV conversion. Graphic is by Katie Frill.  This spell transforms its victim into a miniature plushie version of the witchling Circine Milton.</li>
        <li>New spell, Street Kombat, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>! Additional credits go to <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a> for proofreading.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a master of the martial arts.</li>
        <li>New spell, Sporty Spitfire, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>! Additional credits go to Luna Castle and Anne Onymous for moral support, and to Alexander Dantes for encouraging her to scrap everything and start over with an idea she truly liked.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a tomboyish girl.</li>
        <li>New spell, Queen of the Nile, submitted by <a href="https://www.youtube.com/user/Duhad8">Duhad</a>!  Additional credits go to <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a> fo proofreading. Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a cursed and veangful (yet sexy) mummy. </li>
        <li><span class="tldr">NOTE:</span>  Enchanting locations will yield some XP soon, likely somewhere between 1 and 5 points per enchantment.  I just want to give fair warning before too many players focus their time and attacks on this to hold back if they wish.</li>
    </ul>

    <hr />

    <p>February 6</p>

    <ul>
        <li><span class="tldr">Alpha Round 16 has started!</span></li>
        <li>New spell, Pain in the Ass, submitted by Hanna! Additional credits go to Martiandawn, Christopher, Tigsune and Hanna's boots. Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a curse-cleansing butt plug.</li>
        <li>New type of covenant furniture, the Rustic Oak Bookshelf which produces Standard Pocket Spellbooks.</li>
        <li>Many new covenant flags are now available (of a significantly better quality the ones I made) thanks to Ninian!</li>
        <li>New spell, Nun of the Above, submitted by Varn! . Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a holy nun.</li>
        <li>New spell, Nun of the Below, submitted by Varn! . Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell transforms its victim into a... not as holy... nun!</li>
        <li>New spell, Rise of the Elves, submitted by Kirby Sanders!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into an elven hero!</li>
        <li>New spell, Dwells in the Dark, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>! . Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell transforms its victim into a frightful Gloom.</li>
        <li>New spell, The Brain, submitted by Elynsynos with Judoo as a collaborator!  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Nerdy Mousegirl!  (Technically this came out late last round as a part of the upcoming mouse sisters boss event.)</li>
        <li>New spell, Pinky!, submitted by Judoo with Elynsynos as a collaborator!  Graphic is by <a href="http://spacedande.deviantart.com/">Dandelion</a>.  This spell turns its victim into a Bimbo Mousegirl!  (Technically this came out late last round as a part of the upcoming mouse sisters boss event.)</li>
        <li>New spell, Pinup Attack, submitted by Alessandro Stamegna! Additional credits go to Martiandawn, Varn, Babblingfaces, and of course Meddle.  Graphic is by <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a>.  This spell turns its victim into a sexy pinup bunnygirl.</li>
        <li>New spell, Scourge of the Seven Seas, submitted by <a href="http://clippedtales.tumblr.com/">Kacie Cross</a>!  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell transforms its victim into a pirate.</li>
        <li>New curse, Mana Deprivation, by Vivien Gemai.  This is a castable curse by the Agile Zombie Aide.</li>
        <li>New location-specific mixed curse / blessing, Mana Intoxication, by Vivien Gemai.</li>
    </ul>

    <hr />

    <p>February 4</p>

    <ul>
        <li>Added a new game mode, SuperProtection, which disables all spells cast against you by other players (including animate ones.)  You can move freely back and forth between Protection and SuperProtection.  In order to enter PvP mode you must first move to Protection mode and abide by existing conditions.</li>
        <li>You can now view all players on your blacklist.  Additionally, you can change whether or not the blacklist applies to both stopping attacks or stopping attacks AND messaging.</li>
        <li>Alpha Round 16 is likely to start on Friday; I will provide more details on exactly when later.  The PvP leaderboard and PvP score are being removed again, but the game mode will continue to exist for any who want to enter it.</li>
    </ul>

    <hr />

    <p>February 1</p>

    <ul>
        <li>Congratulation to Nerati Suo for ending the round with the most PvP score.  I will not be changing the game to chaos mode at first as I am still hoping to release the new mouse twins bosses before next round begins and want to keep player levels still close to what it would be normally near turn 2000.  <b>UPDATE:  </b>  The mouse sisters are "live" but are still a work in progress--there's no victory condition yet and functionality has yet to be implemented.</li>
    </ul>

    <hr />








    <h2>Contributions and Contributors</h2>

    <p>These following artists and authors have spent much time and effort creating unique art and written spells for Transformania Time:</p>

    <h3>Arist Biographies</h3>

    @Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)
    <br />
    @Html.ActionLink("Blanca (aka Dandelion aka Spacedande)", "AuthorArtistBio", "Settings", new { id = 6196 }, null)
    <br />
    @Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)
    <br />
    @Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)
    <br />
    @Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)
    <br />

    <p class="bad">A complete count of all authors and their spell counts can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>

    @*<table id="contributorsTable">

            <th>
                Contributor
            </th>
            <th>
                Contributions
            </th>

            <tr>
                <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
                <td> Many, many graphics</td>
            </tr>
            <tr>
                <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
                <td>Many Graphics!</td>
            </tr>
            <tr>
                <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
                <td>1 Spell, 1 Form, and many Graphics</td>
            </tr>
            <tr>
                <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
                <td>5 Spells, 3 Forms, 2 Items, and many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://babblingfaces.deviantart.com/">Babblingfaces</a></td>
                <td>Many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
                <td>2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
                <td> 2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
                <td>9 spells, 2 forms, 5 items, 2 pets, and several graphics</td>
            </tr>
            <tr>
                <td><a href="http://spacedande.deviantart.com/">Dandelion</a></td>
                <td>1 spell, 1 form, and many graphics</td>
            </tr>
            <tr>
                <td>Curry Senpai</td>
                <td>1 graphic</td>
            </tr>
            <tr>
                <td>Varn1234</td>
                <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
            </tr>
            <tr>
                <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
                <td>13 Spells, 7 Forms, 3 Items, 3 Animals, 1 Curse</td>
            </tr>
            <tr>
                <td>Elynsynos</td>
                <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
            </tr>
            <tr>
                <td>Sun Bro</td>
                <td>1 Spell, 1 Form</td>
            </tr>
            <tr>
                <td>PsychoticPie</td>
                <td>6 Spells, 6 Items</td>
            </tr>
            <tr>
                <td>Arrhae</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>CCWS</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>Zatur</td>
                <td>6 Spells, 4 Items, 1 Animal</td>
            </tr>
            <tr>
                <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
                <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
            </tr>
            <tr>
                <td>Sherry Gray</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
                <td>2 spell, 1 form, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
                <td> 1 spell, 1 item, 1 graphic</td>
            </tr>
            <tr>
                <td>Haretia</td>
                <td>4 spells, 1 form, 3 items</td>
            </tr>
            <tr>
                <td>hachik0048</td>
                <td>1 spell, co-contributor with LexamTheGemFox</td>
            </tr>
            <tr>
                <td>Alessandro Stamegna</td>
                <td>4 spell, 2 forms, 1 animal, 1 item</td>
            </tr>

            <tr>
                <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
                <td>1 spell, 1 Form</td>
            </tr>

            <tr>
                <td>XanKitsu</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Hanna</td>
                <td>8 spells, 1 form, 7 items</td>
            </tr>
            <tr>
                <td>Medli</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Blood Knight</td>
                <td>5 spells, 4 forms, 1 item</td>
            </tr>
            <tr>
                <td>Rust</td>
                <td>2 spell, 1 animal, 1 item</td>
            </tr>
            <tr>
                <td>Archita</td>
                <td>1 spell, 1 animal (revised by Varn)</td>
            </tr>

            <tr>
                <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>themorpher606 (Kevin Gates)</td>
                <td>4 spells, 2 forms, 2 items</td>
            </tr>
            <tr>
                <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
                <td>3 spells, 3 forms</td>
            </tr>
            <tr>
                <td>A /d/eviant</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Arbitrary Hal</td>
                <td>3 spells, 3 items</td>
            </tr>
            <tr>
                <td>Aingelproject667</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>
            <tr>
                <td>Swog</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Faremann</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Christopher</td>
                <td>8 spells, 7 items, 1 pet</td>
            </tr>
            <tr>
                <td>Aidyn Bright</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Kirshwasser</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Draggony</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Sampleguy</td>
                <td>1 spell, 1 animal, 1 graphic</td>
            </tr>
            <tr>
                <td>Berrie Valentine</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Pharlynx</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Julian Chance</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Christine Winters</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Greg Mackenzie</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Estyz</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Swogrider</td>
                <td>2 spells, 1 item, 1 pet</td>
            </tr>
            <tr>
                <td>Ashely Maid</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>BlackTGKitty</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Izz Valentine</td>
                <td>1 spell, 1 curse</td>
            </tr>
            <tr>
                <td>Rayner</td>
                <td>4 spells, 3 forms, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://www.lilysgames.com">Lily</a></td>
                <td>2 spells, 2 items</td>
            </tr>
            <tr>
                <td>Keyne Vangsten</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>GooGirl</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
                <td>2 spells, 2 forms, 2 graphics</td>
            </tr>
            <tr>
                <td>Nyx</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Taenil Auxifur</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Illia Malvusin</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Arnisd</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Mizuho</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Sage Trapp</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Kaitlyn Halliwell</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Rita</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Aethar</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Jackie/Helen Castle</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Pet Forhire</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td><a href="http://lemrith.net">Yassay</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Lazy Loki</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Soren Reus</td>
                <td>2 spells, 1 form, 1 animal</td>
            </tr>
            <tr>
                <td>Madokami</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>G0T0F66</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Jess Ganes</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Mahoney</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Duhad</td>
                <td>10 spells, 1 form, 9 items</td>
            </tr>
            <tr>
                <td>Liahnna</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>

            <tr>
                <td>Jo Jarvis</td>
                <td>1 spell, item</td>
            </tr>
            <tr>
                <td>Asteron</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Alexander Dantes</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Blackarts</td>
                <td>1 spell, 1 form</td>
            </tr>

        </table>*@

    <p>
        If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "PvP", new { Id = -1 }, null).
    </p>

</div>
