@model IEnumerable<tfgame.ViewModels.SimpleItemLeaderboardViewModel>
@using tfgame.dbModels.Models
@using tfgame.Statics
@using tfgame.CustomHtmlHelpers
@using tfgame.ViewModels

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
</head>

@Html.ActionLink("Back to game", "Play", "PvP")<br />
@Html.ActionLink("View PvP Leaderboard", "PvPLeaderboard", "PvP")<br />
@Html.ActionLink("View XP Leaderboard", "Leaderboard", "PvP")

<h1>Item Leaderboard -- Alpha Round 10</h1>

<p>These are the most powerful once-human items and pets in the town.  Some may be able to revert their old human forms but many have embraced their new existence as personal pets and belongings.  Treat them kindly should you come to posses them!</p>


<table>

    <thead>
        <th>Rank</th>
    <th>Human Name</th>
    <th>Item Type</th>
    <th>Level</th>
    </thead>

    <tbody>

        @{
            int rank = 1;
        }

        @foreach (SimpleItemLeaderboardViewModel p in Model)
        {
            <tr>
                <td>
                    @rank
                </td>
                <td>
                   @Html.ActionLink(p.Item.VictimName, "LookAtPlayerItem", "PvP", new { vicname = p.Item.VictimName}, null)
                   @CharactersHere.PrintItemTypeIcon(p.StaticItem)
                    @CharactersHere.PrintPermanencyIcon(p.Item)
                </td>
                <td>
                    @p.StaticItem.FriendlyName
                </td>
                <td>
                    @p.Item.Level
                </td>
            </tr>
            rank++;
        }

    </tbody>



</table>




<p>
    @Html.ActionLink("View PvP Leaderboard", "PvPLeaderboard", "PvP")<br />
    @Html.ActionLink("Back to game", "Play", "PvP")<br />
    @Html.ActionLink("View XP Leaderboard", "Leaderboard", "PvP")
</p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>

<script>
    $("tr td:contains('@ViewBag.MyName')").each(function () {
        $(this).parent('tr').css("background-color", "pink");
    });

</script>
