@model IEnumerable<tfgame.dbModels.Models.Player>
@using tfgame.dbModels.Models
@using tfgame.Statics
@using tfgame.CustomHtmlHelpers

<p style="text-align: center; margin-top:0px;">
    @Html.ActionLink("Back to game", "Play", "PvP") @Html.ActionLink("View Item Leaderboard", "ItemLeaderboard", "PvP")
</p>
<div class="specialBox">XP Leaderboard -- Alpha Round 16</div>
<div class="specialBox">These are the most experienced magic casters in the town.</div>
<div class="containerInner">
    <table>

        <thead>
            <tr>
                <th style="width:15px">#</th>
                <th class="leaderBoardName">Name</th>
                <th class="leaderBoardCovenant mobile">Covenant</th>
                <th class="leaderBoardForm mobile">Form</th>
                <th>Mobility</th>
                <th>Lvl</th>
                <th>Exp</th>
            </tr>
        </thead>
        <tbody>

            @{
                int rank = 1;
            }

            @foreach (Player p in Model)
            {
                <tr>
                    <td style="width:15px">
                        @rank
                    </td>
                    <td>
                        @Html.ActionLink(p.GetFullName(), "LookAtPlayer", "PvP", new { id = p.Id }, null)
                        <span class="icon-@p.Gender"></span>
                        @*@CharactersHere.PrintRPIcon(p)*@
                    </td>
                    <td class="mobile">
                        @CharactersHere.GetCovenantInfoShort(p)
                    </td>
                    <td class="mobile">
                        @FormStatics.GetForm(p.Form).FriendlyName
                    </td>
                    <td>
                        @{
                if (p.Mobility == "full")
                {
                    <span style="color: green">Animate</span>
                }
                else if (p.Mobility == "animal")
                {
                    <span style="color: red">Animal</span>
                }
                else
                {
                    <span style="color: red">Inanimate</span>
                }
                        }
                    </td>

                    <td>
                        @p.Level
                    </td>
                    <td>
                        @p.XP
                    </td>
                </tr>
                rank++;

            }

        </tbody>



    </table>
</div>


<script>
    $("tr td:contains('@ViewBag.MyName')").each(function () {
        $(this).parent('tr').css("background-color", "pink");
    });

</script>
