@model IEnumerable<tfgame.dbModels.Models.Player>
@using tfgame.dbModels.Models
@using tfgame.Statics
@using tfgame.CustomHtmlHelpers

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
             <li>@Html.ActionLink("View Item Leaderboard", "ItemLeaderboard", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="specialBox"><b>XP Leaderboard -- Alpha Round 16</b><br />
    These are the most experienced magic casters in the town</div>

<div class="containerInner">
    <table>

        <thead>
            <tr>
                <th style="width:15px">#</th>
                <th class="leaderBoardName">Name</th>
                <th class="leaderBoardCovenant mobile">Covenant</th>
                <th class="leaderBoardForm mobile">Form</th>
                <th>Mobility</th>
                <th>Lvl</th>
                <th>Exp</th>
            </tr>
        </thead>
        <tbody>

            @{
                int rank = 1;
            }

            @foreach (Player p in Model)
            {
                <tr>
                    <td style="width:15px">
                        @rank
                    </td>
                    <td>
                        @Html.ActionLink(p.GetFullName(), "LookAtPlayer", "PvP", new { id = p.Id }, null)
                        <span class="icon-@p.Gender"></span>
                        @*@CharactersHere.PrintRPIcon(p)*@
                    </td>
                    <td class="mobile">
                        @CharactersHere.GetCovenantInfoShort(p)
                    </td>
                    <td class="mobile">
                        @FormStatics.GetForm(p.Form).FriendlyName
                    </td>
                    <td>
                        @{
                if (p.Mobility == "full")
                {
                    <span style="color: green">Animate</span>
                }
                else if (p.Mobility == "animal")
                {
                    <span style="color: red">Animal</span>
                }
                else
                {
                    <span style="color: red">Inanimate</span>
                }
                        }
                    </td>

                    <td>
                        @p.Level
                    </td>
                    <td>
                        @p.XP
                    </td>
                </tr>
                rank++;

            }

        </tbody>



    </table>
</div>

<style>
    .leaderBoardName {
        width: auto;
    }

    .leaderBoardCovenant {
        width: 20%;
    }

    .leaderBoardForm {
        width: 30%;
    }

    table {
        padding: 3px;
        border: 1px solid black;
        width: 100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        padding: 0px;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
        padding: 2px 0px 2px 0px;
    }

    .dark {
        background-color: #CCCCCC;
    }

    tr.dark:nth-child(odd) {
        background-color: #B8B8B8;
    }

    .mobile {
    }

    @@media screen and (max-width: 767px) {
        .mobile {
            display: none;
        }
    }
</style>

<script>
    $("tr td:contains('@ViewBag.MyName')").each(function () {
        $(this).parent('tr').css("background-color", "pink");
    });

</script>
