@model IEnumerable<tfgame.dbModels.Models.DbStaticEffect>
@using tfgame.ViewModels

@Html.ActionLink("Back to game", "Play", "PvP")

<center style="margin-bottom: 10px;">
    Your experiences have allowed you to choose a perk that will permanently boost your abilities.  Which perk do you want?<br /><br />
    You have <b>@ViewBag.PerksRemaining</b> unused perks remaining.<br />
</center>
<center>
    @{
        foreach (tfgame.dbModels.Models.DbStaticEffect e in Model)
        {
            <div class="perkBox">
                <h3>@e.FriendlyName</h3>
                <p>@e.Description</p>
                @Html.Partial("partial/partial_perkBonus", e.ToStaticEffect())
                @Html.ActionLink("Choose this perk!", "ChoosePerk", "PvP", new { perk = e.dbName }, null)
            </div>
        }
    }
</center>

@Html.ActionLink("Back to game", "Play", "PvP")