@model tfgame.ViewModels.PlayerFormItemsSkillsViewModel
@using tfgame.ViewModels
@using tfgame.Procedures
@using tfgame.CustomHtmlHelpers
@using tfgame.Statics

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav" style="width:100%;">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                
                @{
    if (Model.PlayerForm.Player.MembershipId != -1)
    {
        <p>
            @{
        if (ViewBag.HasBio)
        {
            <li>@Html.ActionLink("View Bio", "ViewBio", "Settings", new { id = Model.PlayerForm.Player.MembershipId }, null)</li>
        }
        if (ViewBag.HasArtistAuthorBio)
        {
            <li>@Html.ActionLink("View Artist/Author Bio", "AuthorArtistBio", "Settings", new { id = Model.PlayerForm.Player.MembershipId }, null)</li>
        }
     }

            @{
        if (Model.PlayerForm.Player.MembershipId > 0)
        {
            <li>@Html.ActionLink("View Statistics", "PlayerStats", "Settings", new { id = Model.PlayerForm.Player.MembershipId }, null)</li>
            <li>@Html.ActionLink("Send a Message", "Write", "PvP", new { playerId = Model.PlayerForm.Player.Id, responseTo = -1 }, null)</li>
    <li>@Html.ActionLink("Add Friend", "AddFriend", "PvP", new { playerId = Model.PlayerForm.Player.Id }, null)</li>
                <li>@Html.ActionLink("Blacklist player", "ToggleBlacklistOnPlayer", "Settings", new { id = Model.PlayerForm.Player.Id }, null)</li>
        }
            <li>@Html.ActionLink("View Effects", "ViewEffects", "PvP", new { id = Model.PlayerForm.Player.Id }, null)</li>
            }
            </p>
    }
    else
    {
            <p style="color: red;">&nbsp; </p>
    }
            }
</ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




@{
    if (Model.PlayerForm.Player.MembershipId != -1)
    {
        <p>
            &nbsp; 
        </p>
    }
    else
    {
        <div>
            <p class="infoMessage error">This player has chosen to create a new character and cannot be messaged or have a friend request sent to them.</p>
        </div>
    }
}

<div class="containerInner">

    <center>
        <div class="leftDisplay" style="background-image: url(../../Images/PvP/portraits/@Model.PlayerForm.Form.PortraitUrl);">
            <span class="icon-level"><b>@Model.PlayerForm.Player.Level</b></span>
            <span class="icon-@Model.PlayerForm.Player.Gender" style="float:right;"></span>
            <span class="iconPortrait">
                @CharactersHere.PrintDonatorIcon(Model.PlayerForm.Player.ToDbPlayer())
                @CharactersHere.PrintRPIcon(Model.PlayerForm.Player.ToDbPlayer())
                @CharactersHere.PrintPvPIcon(Model.PlayerForm.Player.ToDbPlayer())
            </span>
        </div>
        <div class="rightDisplay">
            <h1 style="margin-top: 0px; text-align: center;">@Model.PlayerForm.Player.GetFullName()</h1>
            <center>
                @CharactersHere.GetCovenantInfo(Model.PlayerForm.Player.ToDbPlayer())
                @{
                    if (ViewBag.TimeUntilLogout > 0 && Model.PlayerForm.Player.MembershipId > 0)
                    {<p class="good">Online for @ViewBag.TimeUntilLogout more minutes</p>}
                    else if (Model.PlayerForm.Player.MembershipId > 0)
                    {<p class="bad">Offline</p>}
                }
                <span class="health">Willpower:  @Model.PlayerForm.Player.Health / @Model.PlayerForm.Player.MaxHealth</span><br />
                <span class="mana">Mana:  @Model.PlayerForm.Player.Mana / @Model.PlayerForm.Player.MaxMana</span>
                @{
                    if (Model.Bonuses.SneakPercent() <= PvPStatics.SneakAmountBeforeLocationIsPublic * 3)
                    {
                        <p class="bad">Due to this player's very poor ability to sneak, you sense that @Model.PlayerForm.Player.FirstName is currently at @ViewBag.AtLocation and has attacked @Model.PlayerForm.Player.TimesAttackingThisUpdate times this update and has @Model.PlayerForm.Player.ActionPoints action points remaining.</p>
                    }
                    else if (Model.Bonuses.SneakPercent() <= PvPStatics.SneakAmountBeforeLocationIsPublic * 2)
                    {
                        <p class="bad">Due to this player's very poor ability to sneak, you sense that @Model.PlayerForm.Player.FirstName is currently at @ViewBag.AtLocation and has attacked @Model.PlayerForm.Player.TimesAttackingThisUpdate times this update.</p>
                    }
                    else if (Model.Bonuses.SneakPercent() <= PvPStatics.SneakAmountBeforeLocationIsPublic)
                    {
                        <p class="bad">Due to this player's poor ability to sneak, you sense that @Model.PlayerForm.Player.FirstName is currently at @ViewBag.AtLocation.</p>
                    }
                }
                <h3>@Model.PlayerForm.Form.FriendlyName</h3>
            </center>
            <p>@Model.PlayerForm.Form.Description</p>
        </div>
    </center>

    <div style="clear:both"></div>




    @Html.Partial("partial_InventoryEquipped", Model.Items)
    <div style="clear:both"></div>
    @Html.Partial("partial/partial_AllBuffsTable", Model.Bonuses)
 <div style="clear:both"></div>
    




</div>
@{
        if (User.IsInRole(PvPStatics.Permissions_Moderator) == true)
        {
            <nav class="navbar navbar-default outsideContainer navbarTT2">
                <div class="container-fluid">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                          <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                      </button>
                    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                      <ul class="nav navbar-nav" style="width:100%;">
                            if (@Model.PlayerForm.Player.FlaggedForAbuse == false)
                           {
                           <li>@Html.ActionLink("Lock this player for suspicious activity", "FlagForSuspiciousActivity", "PvP", new { playerId = Model.PlayerForm.Player.Id }, null)</li>
                           }
                          else
                          {
                              <li>@Html.ActionLink("Unlock this player for suspicious activity", "FlagForSuspiciousActivity", "PvP", new { playerId = Model.PlayerForm.Player.Id }, null)</li>
                          }
                         <li>@Html.ActionLink("Reset IP Address", "ResetAllPlayersWithIPAddress", "PvPAdmin", new { address = Model.PlayerForm.Player.IpAddress }, null)</li>
                         <li>@Html.ActionLink("Toggle ban on global chat", "ToggleBanOnGlobalChat", "PvPAdmin", new { id = Model.PlayerForm.Player.Id }, null)</li>
                      </ul>
                 </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        }
}
<script>

    function detail_success() {
        //$('#itemDetailModal').modal('show');
    }

    function detail_failure() {
        $("#fullDetails").html("Failed to load details");
    }

    function detail_wait() {
        $("#fullDetails").html("Loading details...");
    }

</script>

<style>
    .leftDisplay {
        background-size: 100% 100%;
        position: relative;
        text-align: left;
        height: 400px;
        width: 400px;
        display: inline-table;
        vertical-align: top;
        margin: 0px;
    }

    .iconPortrait{
        float: right;
        position: relative;
    }

    .rightDisplay {
        padding-left: 10px;
        padding-right: 10px;
        width: 480px;
        display: inline-table;
        vertical-align: top;
        text-align: left;
    }

    .textName {
        font-size: 25px;
        text-align: center;
    }

    .textDescription {
        font-size: 14px;
    }

    .textMobility {
        font-size: 16px;
        font-style: italic;
    }

    .Links {
        display: none;
    }

    .bad{
        margin:0;
        padding:0;
        text-align: center;
    }

    .center{
        margin:0;
        padding:0;
        text-align: center;
    }
    
    .health{
        font-size: 12px;
    }

        .mana{
        font-size: 12px;
    }

    @@media screen and (max-width: 520px) {
        .leftDisplay {
            height: 300px;
            width: 300px;
        }

        .rightDisplay {
            width: 380px;
        }
    }

    		.itemBox {
		height: 100% !important;
		}
		
		.Links a { 
			margin-right: 30px;
		}
</style>