@model tfgame.ViewModels.PlayerFormViewModel
@using tfgame.CustomHtmlHelpers
@using tfgame.Statics
@using tfgame.Procedures

@{

    int HealthWidth = Convert.ToInt32(Model.Player.Health / Model.Player.MaxHealth * 100);
    if (HealthWidth > 100) { HealthWidth = 100; }
    int ManaWidth = Convert.ToInt32(Model.Player.Mana / Model.Player.MaxMana * 100);
    if (ManaWidth > 100) { ManaWidth = 100; }
    int ActionWidth = Convert.ToInt32(Model.Player.ActionPoints / PvPStatics.MaximumStoreableActionPoints * 100);

}

    <div class="avatarWrapper">
        <div class="portrait-large" style="background-image: url(../Images/PvP/portraits/@Model.Form.PortraitUrl);" title="@Model.Form.Description">
            <span class="icon-@Model.Player.Gender" style="float:right;"></span>
            <span class="icon-level"><b>@Model.Player.Level</b></span>
            @{if (PlayerProcedures.PlayerIsOffline(Model.Player) == true)
            {
                <span class="icon-sleep" title="This player is offline and will be harder to attack."></span>
            }
            }
            <span class="iconPortraitLarge">
                @CharactersHere.PrintDonatorIcon(Model.Player.ToDbPlayer())
                @CharactersHere.PrintRPIcon(Model.Player.ToDbPlayer())
                @CharactersHere.PrintPvPIcon(Model.Player.ToDbPlayer())
            </span>

        </div>

        <div class="avatarInfo">
            <div class="avatarText">
                <span class="avatarName">@Model.Player.GetFullName()</span>
                <br />
                <span class="avatarFormName">@Model.Form.FriendlyName</span>
                <p class="avatarCoven">@CharactersHere.GetCovenantInfo(Model.Player.ToDbPlayer())</p>
            </div>
            <div class="avatarBars">
                <div class="avatarHealthWrapper">
                    <div class="txt a">@Model.Player.Health / @Model.Player.MaxHealth willpower</div>
                    <div class="avatarHealthAmt" style="width: @HealthWidth%"></div>
                </div>


                <div class="avatarManaWrapper">
                    <div class="txt">@Model.Player.Mana / @Model.Player.MaxMana mana</div>
                    <div class="avatarManaAmt" style="width: @ManaWidth%"></div>
                </div>



                <div class="avatarActionWrapper">
                    <div class="txt small">@Model.Player.ActionPoints / @PvPStatics.MaximumStoreableActionPoints AP (@Model.Player.ActionPoints_Refill in Reserve) </div>
                    <div class="avatarActionAmt" style="width: @ActionWidth%"></div>
                </div>

                @Html.Partial("partial_XpBar", Model)

                <span title="Times attacking this update" class="icon-timesattacking"></span><span class="avatarCount">@Model.Player.TimesAttackingThisUpdate / 3</span>
                <span title="Times cleansing and meditating this update" class="icon-cleansemeditate"></span><span class="avatarCount">@Model.Player.CleansesMeditatesThisRound / 3</span>
                <span title="Arpeyjis" class="icon-money"></span><span class="avatarCount">@Convert.ToInt32(Model.Player.Money)</span>
            </div>

        </div>



    </div>
<style>
@@media (min-width: 620px) {
        .avatarCoven{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .avatarText{
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            height: 100px;
        }
        .avatarBars{
            width: 360px;
            margin-left: auto;
            margin-right: auto;
            height: 100px;
        }
        .avatarWrapper {
            height: 200px;
            border: 1px solid lightgray;
            display: block;
            clear: both;
            margin: 10px auto 5px auto;
            width: 602px;
        }

        .avatarCount {
            font-weight: 900;
            font-size: 18px;
            margin-right: 15px;
            margin-left: 5px;
        }

        .avatarInfo {
            width: 400px;
            float: right;
            position: relative;
            text-align: center;
        }

        .avatarName {
            font-size: 32px;
            font-weight: 800;
        }

        .avatarFormName {
            font-size: 20px;
        }

        .avatarHealthWrapper {
            width: 100%;
            height: 20px;
            background-color: pink;
        }

        .avatarHealthAmt {
            height: 100%;
            background-color: darkred;
            color: white;
            font-size: 15px;
            overflow: hidden;
            text-shadow: 1px 2px #000000;
        }

        .avatarManaWrapper {
            width: 100%;
            height: 20px;
            background-color: lightblue;
        }

        .avatarManaAmt {
            margin-top: 2px;
            height: 100%;
            background-color: darkblue;
            color: white;
            font-size: 15px;
            overflow: hidden;
            text-shadow: 1px 2px #000000;
            z-index: 50;
        }

        .avatarActionWrapper {
            width: 100%;
            height: 16px;
            background-color: #FFCC66;
        }

        .avatarActionAmt {
            margin-top: 2px;
            height: 100%;
            background-color: darkorange;
            color: white;
            font-size: 15px;
            overflow: hidden;
            text-shadow: 1px 2px #000000;
            z-index: 50;
        }

         .txt {
            float: none;
            position: absolute;
            color: white;
            font-size: 15px;
            font-weight: 600;
            text-shadow: 1px 1px #000000;
            margin-left: auto;
            margin-right: auto;
            width: 360px;
            margin-top: -2px;
        }

            .txt.small {
                font-size: 13px;
                padding-bottom: 1px;
            }

        .iconPortraitLarge{
    position: relative;
    left: 10px;
    top: 180px;
    text-align: right;
    float: right;
    }
}
    @@media (max-width: 619px) {
        .avatarCoven{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .avatarText{
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            height: 75px;
        }
        .avatarBars{
            width: 270px;
            margin-left: auto;
            margin-right: auto;
            height: 75px;
        }
        .avatarWrapper {
            height: 150px;
            border: 1px solid lightgray;
            display: block;
            clear: both;
            margin: 5px auto 5px auto;
            width: 458px;
        }

        .avatarCount {
            font-weight: 900;
            font-size: 9px;
            margin-right: 15px;
            margin-left: 5px;
        }

        .avatarInfo {
            width: 300px;
            float: right;
            position: relative;
            text-align: center;
        }

        .avatarName {
            font-size: 18px;
            font-weight: 800;
        }

        .avatarFormName {
            font-size: 10px;
        }

        .avatarHealthWrapper {
            width: 100%;
            height: 10px;
            background-color: pink;
        }

        .avatarHealthAmt {
            height: 100%;
            background-color: darkred;
            color: white;
            font-size: 8px;
            overflow: hidden;
            text-shadow: 1px 2px #000000;
        }

        .avatarManaWrapper {
            width: 100%;
            height: 10px;
            background-color: lightblue;
        }

        .avatarManaAmt {
            margin-top: 2px;
            height: 100%;
            background-color: darkblue;
            color: white;
            font-size: 8px;
            overflow: hidden;
            text-shadow: 1px 2px #000000;
            z-index: 50;
        }

        .avatarActionWrapper {
            width: 100%;
            height: 8px;
            background-color: #FFCC66;
        }

        .avatarActionAmt {
            margin-top: 2px;
            height: 100%;
            background-color: darkorange;
            color: white;
            font-size: 8px;
            overflow: hidden;
            text-shadow: 1px 2px #000000;
            z-index: 50;
        }

         .txt {
            float: none;
            position: absolute;
            color: white;
            font-size: 8px;
            font-weight: 600;
            text-shadow: 1px 1px #000000;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            margin-top: -2px;
        }

            .txt.small {
                font-size: 8px;
                padding-bottom: 1px;
            }

        .iconPortraitLarge{
    position: relative;
    left: 10px;
    top: 130px;
    text-align: right;
    float: right;
    }

        .portrait-large {
        height: 150px;
        width: 150px;
        background-size: 100% 100%;
        position: relative;
        float: left;
    }
    }
@@media (max-width: 479px) {
    .avatarInfo{
    width: 300px;
    }
    .avatarWrapper{
    width:300px;
    }
    .portrait-large {
    display: none;
    }
    }
</style>
