@model tfgame.ViewModels.PlayerFormViewModel
@using tfgame.CustomHtmlHelpers
@using tfgame.Statics
@using tfgame.Procedures

@{

    int HealthWidth = Convert.ToInt32(Model.Player.Health / Model.Player.MaxHealth * 100);
    if (HealthWidth > 100) { HealthWidth = 100; }
    int ManaWidth = Convert.ToInt32(Model.Player.Mana / Model.Player.MaxMana * 100);
    if (ManaWidth > 100) { ManaWidth = 100; }
    int ActionWidth = Convert.ToInt32(Model.Player.ActionPoints / PvPStatics.MaximumStoreableActionPoints * 100);

}
<div class="row">
    
        <div class="col-md-4">
            <div class="frontOuter">
                <div class="avatarText">
                    <p class="avatarName">@Model.Player.GetFullName()</p>
                    <p class="avatarFormName">@Model.Form.FriendlyName</p>
                    <p class="avatarCoven">@CharactersHere.GetCovenantInfo(Model.Player.ToDbPlayer())</p>
                </div>
            </div>
    </div>


    <div class="col-md-4">
        <div class="frontOuter" id="frontOuterAvatar">
            <div class="portraitFront" style="background-image: url(../Images/PvP/portraits/@Model.Form.PortraitUrl);" title="@Model.Form.Description">
                
                <span class="icon-@Model.Player.Gender" style="float:right;"></span>
                <span class="icon-level"><b>@Model.Player.Level</b></span>
                @{if (PlayerProcedures.PlayerIsOffline(Model.Player) == true)
                {
                    <span class="icon-sleep" title="This player is offline and will be harder to attack."></span>
                }
                }
                <span class="iconPortraitLarge">
                    @CharactersHere.PrintDonatorIcon(Model.Player.ToDbPlayer())
                    @CharactersHere.PrintRPIcon(Model.Player.ToDbPlayer())
                    @CharactersHere.PrintPvPIcon(Model.Player.ToDbPlayer())
                    @CharactersHere.PrintMCIcon(Model.Player.ToDbPlayer())
                </span>
            </div>
            </div>
        </div>

    <div class="col-md-4">
        <div class="frontOuter">
            <div class="avatarBars">
                <div class="barWrapper">
                    <div class="barText">@Model.Player.Health / @Model.Player.MaxHealth willpower</div>
                    <div class="barData barWP" style="width: @HealthWidth%"></div>
                </div>


                <div class="barWrapper">
                    <div class="barText">@Model.Player.Mana / @Model.Player.MaxMana mana</div>
                    <div class="barData barMP" style="width: @ManaWidth%"></div>
                </div>



                <div class="barWrapper">
                    <div class="barText">@Model.Player.ActionPoints / @PvPStatics.MaximumStoreableActionPoints AP (@Model.Player.ActionPoints_Refill in Reserve) </div>
                    <div class="barData barAP" style="width: @ActionWidth%"></div>
                </div>

                @Html.Partial("partial_XpBar", Model)

                <span title="Times attacking this update" class="icon-timesattacking"></span><span class="avatarCount">@Model.Player.TimesAttackingThisUpdate / 3</span>
                <span title="Times cleansing and meditating this update" class="icon-cleansemeditate"></span><span class="avatarCount">@Model.Player.CleansesMeditatesThisRound / 3</span>
                <span title="Arpeyjis" class="icon-money"></span><span class="avatarCount">@Convert.ToInt32(Model.Player.Money)</span>
            </div>
        </div>
    </div>
</div>


