@model tfgame.ViewModels.ItemViewModel
           @using tfgame.CustomHtmlHelpers
@using tfgame.Statics

<div class="col-md-2 col-sm-3 col-xs-6 charaBox">
    <div class="portrait" style="background-image: url(@CharactersHere.GetImageURL(Model));">
        @{
            if (Model.dbItem.Level > 0 && Model.Item.ItemType != PvPStatics.ItemType_Consumeable)
            {
                <span class="icon-level"><b>@Model.dbItem.Level</b></span>
         
            }

            if (ViewBag.ShowDetailLinks != null && ViewBag.ShowDetailLinks == true)
            {
                   @Ajax.ActionLink("[+]", "ShowItemDetails", "Item", new { id = Model.dbItem.Id }, new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })
            }
            
        }
        @CharactersHere.PrintItemTypeIcon(Model.Item)
    </div>

    @{

        if (ViewBag.DisableLinks == null || ViewBag.DisableLinks == "false")
        {


            <div style="text-align: center;">
                <p>@Model.Item.FriendlyName</p>
                <p class="formerly">@Html.ActionLink(Model.dbItem.VictimName, "LookAtPlayerItem", "PvP", new { vicname = Model.dbItem.VictimName }, null)</p>





                @CharactersHere.PrintPvPIcon(Model.dbItem)
                <span class="price">Price:  @tfgame.Procedures.ItemProcedures.GetCostOfItem(Model, "buy") Arpeyjis</span>
                @Html.ActionLink("Purchase", "Purchase", "NPC", new { id = Model.dbItem.Id }, null)<br /><br /><br />

            </div>



        }

    }
</div>
    





    <style>
        .itemName {
            font-size: 20px;
            font-weight: bold;
        }

        .WasPerson {
            font-size: 15px;
            color: chocolate;
            font-style: italic;
        }

        .attackLink {
            text-align: center;
        }
    </style>
