@model IEnumerable<tfgame.dbModels.Models.Player>
@using tfgame.dbModels.Models
@using tfgame.Statics
@using tfgame.CustomHtmlHelpers
@using tfgame.Procedures

@Html.ActionLink("Back to game", "Play", "PvP")<br />

<p style="text-align: center; margin-top:0px;">
    @Html.ActionLink("View XP Leaderboard", "Leaderboard", "PvP") @Html.ActionLink("View Item Leaderboard", "ItemLeaderboard", "PvP")
</p>

    @Html.Partial("partial/OldLeaderboardLinks")

    <h1 style="text-align: center; margin-top:-10px;">PvP Leaderboard</h1>
    <h2 style="text-align: center; margin-top:0;">Alpha Round 13</h2>

<table>
    <thead>
        <tr>
            <th style="width:15px">#</th>
            <th class="leaderBoardName">Name</th>
            <th class="leaderBoardCovenant mobile">Covenant</th>
            <th class="leaderBoardForm mobile">Form</th>
            <th>Mobility</th>
            <th>Lv</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>

        @{
            int rank = 1;
        }

        @foreach (Player p in Model)
        {
            <tr>
                <td style="width:15px">
                    @rank
                </td>
                <td>
                    @Html.ActionLink(p.GetFullName(), "LookAtPlayer", "PvP", new { id = p.Id }, null)
                    <span class="icon-@p.Gender"></span>

                    @{
            if (!PlayerProcedures.PlayerIsOffline(p))
            {
                <span class="icon-online"></span>
            }
            else
            {
                <span class="icon-offline"></span>
            }
                    }

                </td>
                <td class="mobile">
                    @CharactersHere.GetCovenantInfoShort(p)
                </td>
                <td class="mobile">
                    <span style="font-size:11px;">@FormStatics.GetForm(p.Form).FriendlyName</span>
                </td>
                <td>
                    @{
            if (p.Mobility == "full")
            {
                <span style="color: green">Animate</span>
            }
            else if (p.Mobility == "animal")
            {
                <span style="color: red">Animal</span>
            }
            else
            {
                <span style="color: red">Inanimate</span>
            }
                    }
                </td>

                <td>
                    @p.Level
                </td>
                <td>
                    @Math.Floor(@p.PvPScore)
                </td>
            </tr>
            rank++;

        }

    </tbody>



</table>
<br />
@Html.ActionLink("Back to game", "Play", "PvP")


<style>
    .leaderBoardName{
        width:auto;
    }
    .leaderBoardCovenant{
        width:20%;
    }
    .leaderBoardForm{
        width:30%;
    }

    table {
        padding: 3px;
        border: 1px solid black;
        width:100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        padding:0px;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
        padding: 2px 0px 2px 0px;
    }

    .dark {
        background-color: #CCCCCC;
    }

    tr.dark:nth-child(odd) {
        background-color: #B8B8B8;
    }

    .mobile{

    }

    @@media screen and (max-width: 767px) {
        .mobile{
            display: none;
        }
    }

</style>

<script>
    
    $("table tbody td:nth-child(7)").each(function () {
        if ($(this).html() == 0) {
            $(this).parent('tr').addClass("dark");
        }
    });

    $("tr td:contains('@ViewBag.MyName')").each(function () {
        $(this).parent('tr').css("background-color", "pink");
    });

</script>
