@model tfgame.ViewModels.MessageViewModel
           @using tfgame.CustomHtmlHelpers

<script>
    function confirmDeletion() {
        document.getElementById('realLink').style.display = "block";
    }
</script>


@Html.ActionLink("Back to game", "Play", "PvP")
<center>
    @Html.ActionLink("Back to Messages", "MyMessages", "PvP")
</center>
<b>@Model.SenderName said to you </b> <span class="timeago">@CharactersHere.DatetimeToTimeago(Model.dbMessage.Timestamp):</span>
<div class="messageTextContainer">
    <p>@Html.Raw(Model.dbMessage.MessageText.Replace("[br]","<br/>"))</p>
</div>
<center style="margin-top: 5px;">
    @Html.ActionLink("Reply", "Write", "PvP", new { playerId = Model.dbMessage.SenderId, responseTo = Model.dbMessage.Id }, null)
    <a href="javascript:confirmDeletion()" />Delete</a>
</center>
<div id="realLink" class="deleteMessegeConfirm">
    <span style="color:red; font-weight: bold;">Do you really want to delete this message? If yes then please click link bellow:</span></br>
    @Html.ActionLink("Yes, I want to delete", "DeleteMessage", "PvP", new { messageId = Model.dbMessage.Id }, null)
</div>
<br />
@Html.ActionLink("Back to game", "Play", "PvP")