@model tfgame.dbModels.Models.Player
           @using tfgame.Statics

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

@Html.ActionLink("Back to game", "Play", "PvP")
<div style="text-align: center;">
    <h2>Offline Timer</h2>
    @{
        if (@ViewBag.TimeUntilLogout >= 60)
        {
            <p>Your character is offline.</p>
        }
        else if (@ViewBag.TimeUntilLogout > 0)
        {
            <p>You will go into offline mode in <b>@ViewBag.TimeUntilLogout</b> minutes.</p>
        }
        else
        {
            <p><span class="good">You are offline.</span></p>
        }
        
        <p>You were last in combat <b>@Math.Abs(Math.Floor(Model.GetLastCombatTimestamp().Subtract(DateTime.UtcNow).TotalMinutes))</b> minutes ago.</p>

        if (User.IsInRole(PvPStatics.Permissions_MultiAccountWhitelist) == true)
        {
            <p class="good">You are on the multiple account whitelist.</p>
        }
        
        if (User.IsInRole(PvPStatics.Permissions_Proofreader) == true)
        {
            <p class="good">You are on the proofreaders list.</p>
        }
        
        if (User.IsInRole(PvPStatics.Permissions_Artist) == true)
        {
            <p class="good">You are on the artists list.</p>
        }
        
    }

    <h2>Reserve this Name</h2>
    <p>
        You can reserve your name so that no other players take it at the start of a new round and steal your identity.
        You must be level 3 or higher in order to do this.<br /><br />
        @Html.ActionLink("Reserve Name", "ReserveName", "PvP")
    </p>


    <h2>Update Your Biography</h2>

    <p>
        You can write a short bio of yourself or this player here. <br /><br />
        @Html.ActionLink("Update My Bio", "SetBio", "Settings")
    </p>


    <h2>RP Mode</h2>

    <p>
        If you choose to enter RP mode, you are publicly indicated to other players that you enjoy roleplaying.
        You can enable and disable this at any time you want.  Click on the link below to enter RP mode.<br /><br />
        @{
            if (Model.InRP == true)
            {
                <span class="good">You have your RP flag enabled.  Click @Html.ActionLink("HERE", "DisableRP", "PvP") to turn it off.</span>
            }
            else
            {
                <span class="bad">You have your RP flag disabled.  Click @Html.ActionLink("HERE", "EnableRP", "PvP") to turn it on.</span>
            }

        }
    </p>


    <h2>Protection Mode</h2>

    <p>
        Protection Mode is meant for players who want a more casual or role-playing game experience.  It prevents other human players from being able to be attacked by, or attacking with, inanimate or animal spells unless they are your friend.  There is a delay between when you can enter and leave protection equal to 12 turns times your level, and a player must be online while the game updates in order for the turn count to decrement.<br /><br />

        @{
            if (Model.InPvP == true)
            {
                @Html.ActionLink("Leave Protection Mode", "LeaveProtection", "PvP")
            }
            else
            {
                @Html.ActionLink("Enter Protection Mode", "EnterProtection", "PvP")
            }
        }
    </p>
    @{

        if (ViewBag.InProtection == true)
        {
            <h2>Lower your WP (Protection Mode only)</h2>

            <p>
                You can voluntarily submit to the magic of a friend (or enemy?) more quickly by voluntarily lowering your willpower to make yourself more vulnerable to attacks.<br /><br />

                @Html.ActionLink("Decrease Willpower to Half", "DumpWillpower", "Settings", new { amount = "half" }, null)<br /><br />
                @Html.ActionLink("Decrease Willpower to Zero", "DumpWillpower", "Settings", new { amount = "full" }, null)
            </p>

        }

    }

    <h2>Set your Nickname (Donation Feature)</h2>
    <p>
        Players who pledge $7 monthly on Patreon (Tier 2) may create a nickname and change it at any time.  Nicknames must be 20 characters or fewer and will appear inbetween your player's first and last names.<br /><br />

        @Html.ActionLink("Set your nickname", "SetNickname", "Settings")<br /><br />
        @Html.ActionLink("Verify my donation status", "VerifyDonatorStatus", "Settings")
    </p>
</div>



@Html.ActionLink("Back to game", "Play", "PvP")


<style>
    p {
        border: 1px solid;
        height: auto;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        overflow: auto;
    }
</style>