@model tfgame.ViewModels.FairyChallengeBag

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<div class="boxwrapper">

    <div class="portrait large" style="background-image: url(../../Images/PvP/portraits/jewdewfae_Luxianne.png);">

    </div>

    <div style="display: block;">

        @{
            if (ViewBag.ShowSuccess == false && ViewBag.HadRecentInteraction == false)
            {
                <p>@Html.Raw(Model.IntroText)</p>

                if (ViewBag.IsInWrongForm == true)
                {
                    <p>@Html.Raw(Model.FailureText)</p>
                }
                else if (ViewBag.IsTired == true)
                {
                    <p class="faevoice">"You look too tired to be any fun right now.  Come back later when you're a little more awake, mkay?"</p>
                }
                else
                {
                    <p>@Html.ActionLink("Play with Jewfewfae (5 AP)", "PlayWithJewdewfae", "PvP")</p>
                }
            }
            else if (ViewBag.HadRecentInteraction == true)
            {
                <p class="faevoice">"Thanks for playing with me!  Maybe we can have some more fun somewhere else later..."</p>
            }
            else
            {
                <p>@Html.Raw(Model.CorrectFormText)</p>
                <p><b><i>You earned @Math.Floor(ViewBag.XPGain) XP from Jewdewfae's magic.</i></b></p>
            }
        }

    </div>

</div>

<style>
    .boxwrapper {
        border: 1px solid blue;
        border-radius: 10px;
        min-height: 450px;
        height: auto;
        width: 100%;
        padding: 5px;
        background-color: #c4fdff;
        font-size: 16px;
        overflow: auto;
    }

    .faevoice,fae {
        color: darkviolet;
    }

</style>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>