@model IEnumerable<tfgame.dbModels.Models.PlayerLog>
           @using tfgame.CustomHtmlHelpers

@Html.ActionLink("Back to game", "Play", "PvP")
<center>@Html.ActionLink("Clear Log", "ClearLog", "PvP")</center>

<ul>
    @{
        foreach (tfgame.dbModels.Models.PlayerLog log in Model)
        {
            <li>@Html.Raw(log.Message) <span class="timeago">@CharactersHere.DatetimeToTimeago(log.Timestamp)</span></li>
        }
    }
</ul>

<br />

@Html.ActionLink("Back to game", "Play", "PvP")

<style>
    li {
        margin-bottom: 8px;
    }
</style>


