<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<p>
    @Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<h1>Covenant Administration</h1>

<p>You can administer your covenant here.</p>

<p>
    @Html.ActionLink("View Applications", "ReviewMyCovenantApplications", "Covenant")<br />
    @Html.ActionLink("Change Covenant Description", "ChangeCovenantDescription", "Covenant")<br />
    @Html.ActionLink("Kick Out a Member", "KickList", "Covenant")<br />
    @Html.ActionLink("Message all members of your covenant", "CovenantWideMessage", "Covenant")<br />
    @Html.ActionLink("Claim your location as a Covenant safeground", "ClaimLocation", "Covenant")<br />
</p>


<p>
    @Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>