@model IEnumerable<tfgame.ViewModels.CovenantListItemViewModel>
           @using tfgame.ViewModels
            @using tfgame.dbModels.Models
@using tfgame.CustomHtmlHelpers

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

@{
    foreach (CovenantListItemViewModel c in Model.OrderByDescending(c => c.MemberCount))
    {
        <div class="covListing"  >
            @CharactersHere.PrintPvPIcon(c.dbCovenant)
            <div class="covFlag" style="background-image: url(/Images/PvP/CovenantFlags/@c.dbCovenant.FlagUrl)"></div>
            <span class="covBigName">@Html.ActionLink(c.dbCovenant.Name, "LookAtCovenant", "Covenant", new { id = c.dbCovenant.Id }, null)</span> 
            <span class="covMemberCount">(@c.MemberCount members)</span>
            <span class="covLeader">@Html.ActionLink("Led by " + c.Leader.FirstName + " " + c.Leader.LastName, "LookAtPlayer", "PvP", new { id = c.Leader.Id }, null)</span>
           
            <p>@c.dbCovenant.SelfDescription</p>
            @Html.ActionLink("Apply", "ApplyToCovenant", "Covenant", new { id = c.dbCovenant.Id }, null)
        </div>
    }

}

<p>@Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")</p>
<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>


<style>
    .covListing {
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        border: 1px solid lightgray;
        padding: 10px;
    }

    .covBigName {
        font-size: 20px;
        font-weight: 700;
        color: darkviolet;
    }

    .covMemberCount {
        font-size: 12px;
        color: darkblue;
        margin-left: 10px;
        font-style: italic;
    }

    .covFlag {
        width: 100px;
        height: 100px;
        float: left;
        position: relative;
        margin-right: 10px;
        background-size: 100% 100%;
    }

</style>