@model tfgame.ViewModels.CovenantViewModel

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<p>
    @Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>


<h1>Add or Remove a Covenant Captain</h1>

<p>Click on one of the names below to add a member of the covenant as a captain.  If they are currently a captain, clicking on their name will remove that status.</p>

<p>Covenant captains are special trusted members of the covenant and are permitted to purchase furniture and gift out covenant funds.</p>

@{
    foreach (tfgame.ViewModels.PlayerFormViewModel p in Model.Members)
    {
        <p>
            @Html.ActionLink(p.Player.GetFullName(), "InviteCaptainSend", "Covenant", new { id = p.Player.Id }, null)
            @{
        if (ViewBag.CurrentCaptains.Contains(p.Player.Id + ";"))
        {
            <span class="good">Current Captain</span>
        }
            }
        </p>
    }
}

<p>
    @Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>