@model tfgame.ViewModels.CovenantViewModel
@using tfgame.dbModels.Models
@using tfgame.ViewModels

@Html.ActionLink("Back to game", "Play", "PvP")

<div class="covenContainer">

    @Html.ActionLink("Create your own Covenant", "StartNewCovenant", "Covenant")
    @Html.ActionLink("View all Covenants", "CovenantList", "Covenant")

    @{  
        if (Model.dbCovenant != null)
        {
            @Html.ActionLink("Leave this Covenant", "LeaveCovenant", "Covenant")
        }
    
        if (ViewBag.HasApplication == true)
        {
            @Html.ActionLink("Withdraw Pending Covenant Application", "WithdrawApplication", "Covenant")
        }
        @:&nbsp;
        if (Model.dbCovenant != null && ViewBag.Player.Id == Model.dbCovenant.LeaderId)
        {
            @Html.ActionLink("View Administration Page", "CovenantLeaderAdmin", "Covenant")
        }
        
   }

    <div>
        <span class="result">@Html.Raw(ViewBag.Result)</span>
        <span class="error">@ViewBag.ErrorMessage</span>
        <span class="suberror">@ViewBag.SubErrorMessage</span>
    </div>

    @{
        if (Model.dbCovenant != null)
        {
            <p class="covHeader">You are a member of <span class="covName">@Model.dbCovenant.Name.</span></p>
            <p style="margin-bottom:1px;"><b>@Model.dbCovenant.SelfDescription</b></p>

            if (ViewBag.Player.Id == Model.dbCovenant.LeaderId)
            {
                <b>You are this covenant's leader.</b>
            }
            else
            {
                @Html.ActionLink("Led by " + Model.Leader.FirstName + " " + Model.Leader.LastName, "LookAtPlayer", "PvP", new { id = Model.Leader.Id }, null)
            }
            <p style="margin-bottom:-15px;">Arpeyjis in treasury:  <b>@Math.Floor(Model.dbCovenant.Money)</b><span title="Arpeyjis" class="icon-money"></span></p>

    <br /><p>You can send some of your Arpeyjis to your covenant where your covenant leader can choose to distribute the covenant's Arpeyjis to its members in need.  You must not have spent any action points in 30 minutes in order to do this.  How many would you like to send? 
    <br />You have <b>@ViewBag.MyMoney</b> Arpeyjis.</p>

    @Html.ActionLink("20", "AddToCovenantChest", "Covenant", new { amount = 20 }, null)<span title="Arpeyjis" class="icon-money"></span>
    @Html.ActionLink("100", "AddToCovenantChest", "Covenant", new { amount = 100 }, null)<span title="Arpeyjis" class="icon-money"></span>
    @Html.ActionLink("500", "AddToCovenantChest", "Covenant", new { amount = 500 }, null)<span title="Arpeyjis" class="icon-money"></span>

            <p>Members of your covenant:</p>
            foreach (PlayerFormViewModel p in Model.Members.OrderByDescending(c => c.Player.Level).ThenByDescending(c => c.Player.XP))
            {
                <p>
                    <div class="onlineCharWrapper" style="height: 100px">
                        @Html.Partial("~/Views/PvP/Player_Partial.cshtml", p)
                        </div>
</p>


                if (ViewBag.Player.Id == Model.dbCovenant.LeaderId)
                {
                    <div class="commandWrapper" style="height: 24px;">
                        <span>Send Arp to @p.Player.FirstName?</span>
                        @Html.ActionLink("20", "GiveMoneyFromCovenantChest", "Covenant", new { id = p.Player.Id, amount = 20 }, null)
                        @Html.ActionLink("100", "GiveMoneyFromCovenantChest", "Covenant", new { id = p.Player.Id, amount = 100 }, null)
                        @Html.ActionLink("500", "GiveMoneyFromCovenantChest", "Covenant", new { id = p.Player.Id, amount = 500 }, null)
                        </div>
                        }

                        }



                        }

                        }
                    </div>
<div style="clear:both"></div>
<br />
@Html.ActionLink("Back to game", "Play", "PvP")