@model IEnumerable<tfgame.ViewModels.FurnitureViewModel>

<p>
    @Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<h1>Your Covenant's Furniture</h1>

<p>Human Resource Furniture(TM) proudly pairs people desiring a temporary placement as a piece of furniture with eager owners for a price.  These enchanted household belongings are highly in demand as the rare and powerful spells that transform them also allow them to return various gifts and magics to their new owners.  These willings items (people) of furniture are owned by your covenant and can be used when you are at your covenant's safeground.</p>

@{
    if (ViewBag.AtCovenantSafeground == true)
    {
        <p class="good">You are at your covenant's safeground and can use any available furniture.</p>
    }
    else
    {
        <p class="bad">You are not at your covenant's safeground and cannot use any furniture.  @ViewBag.CovLocation</p>
    }
}

<hr />
@{
    foreach (tfgame.ViewModels.FurnitureViewModel f in Model.OrderBy(l => l.dbFurniture.HumanName))
    {
        @Html.Partial("partial/CovenantFurnitureViewModel", f);

       @Html.ActionLink("Use", "UseFurniture", "Covenant", new { id = f.dbFurniture.Id }, null)
       
       

      <hr />
    }

}

<p>
    @Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>