@model tfgame.ViewModels.CovenantViewModel
@using tfgame.dbModels.Models
@using tfgame.ViewModels
@using tfgame.Statics

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Create your own Covenant", "StartNewCovenant", "Covenant")</li>
                <li>@Html.ActionLink("View all Covenants", "CovenantList", "Covenant")</li>
                <li>@Html.ActionLink("Buy Furniture", "ViewAvailableFurniture", "Covenant")</li>
                <li>@Html.ActionLink("Use Furniture", "MyCovenantFurniture", "Covenant")</li>
                @{
                    if (Model.dbCovenant != null)
                    {
                        <li><a href="javascript:confirmDeletion()">Leave Covenant</a></li>
                    }
                    if (ViewBag.HasApplication == true)
                    {
                        <li>@Html.ActionLink("Withdraw Coven Application", "WithdrawApplication", "Covenant")</li>
                    }
                    if (Model.dbCovenant != null && ViewBag.Player.Id == Model.dbCovenant.LeaderId)
                    {
                        <li>@Html.ActionLink("Leader", "CovenantLeaderAdmin", "Covenant")</li>
                    }
                    <li>@Html.ActionLink("Coven Log", "MyCovenantLog", "Covenant")</li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>

<div class="containerInner text-center">

    <div id="realLink" class="deleteMessegeConfirm">
        <span style="color:red; font-weight: bold;">Do you really want to leave your covenant? If yes then please click link below:</span>
        @Html.ActionLink("Leave this Covenant", "LeaveCovenant", "Covenant")<br />
    </div>

    @{
        if (Model.dbCovenant != null)
        {
            <div class="covFlag" style="background-image: url(/Images/PvP/CovenantFlags/@Model.dbCovenant.FlagUrl)"></div>
            <p class="covHeader">You are a member of <span class="covName">@Model.dbCovenant.Name.</span></p>
            <p style="margin-bottom:1px;"><b>@Model.dbCovenant.SelfDescription</b></p>

            if (ViewBag.Player.Id == Model.dbCovenant.LeaderId)
            {
                <b>You are this covenant's leader.</b>
            }
            else
            {
                @Html.ActionLink("Led by " + Model.Leader.FirstName + " " + Model.Leader.LastName, "LookAtPlayer", "PvP", new { id = Model.Leader.Id }, null)
            }

            if (Model.dbCovenant.HomeLocation != null && Model.dbCovenant.HomeLocation != "")
            {
                <i>This covenant has a level <b>@Model.dbCovenant.Level</b> safeground at @LocationsStatics.GetLocation.FirstOrDefault(l => l.dbName == Model.dbCovenant.HomeLocation).Name and has enchanted <b>@ViewBag.LocationsControlled</b> locations.</i>
            }

            <p style="margin-bottom:-15px;">Arpeyjis in treasury:  <b>@Math.Floor(Model.dbCovenant.Money)</b><span title="Arpeyjis" class="icon-money"></span></p>

            <br /><p>
                You can send some of your Arpeyjis to your covenant where your covenant leader can choose to distribute the covenant's Arpeyjis to its members in need.  You must not have spent any action points in 30 minutes in order to do this.  How many would you like to send?
                <br />You have <b>@ViewBag.MyMoney</b> Arpeyjis.
            </p>

            @Html.ActionLink("20", "AddToCovenantChest", "Covenant", new { amount = 20 }, null)<span title="Arpeyjis" class="icon-money"></span>
            @Html.ActionLink("100", "AddToCovenantChest", "Covenant", new { amount = 100 }, null)<span title="Arpeyjis" class="icon-money"></span>
            @Html.ActionLink("500", "AddToCovenantChest", "Covenant", new { amount = 500 }, null)<span title="Arpeyjis" class="icon-money"></span>

            <div style="clear:both"></div>




        }
    }
</div>

@{
    if (Model.dbCovenant != null)
    {
        <div class="onlinePlayersWrapperBG">
            <div class="row">


                @{
        foreach (PlayerFormViewModel p in Model.Members.OrderByDescending(c => c.Player.Level).ThenByDescending(c => c.Player.XP))
        {
            <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                <div class="charaBoxInner">
                    <div>
                        <p>
                            @Html.Partial("~/Views/PvP/Player_Partial.cshtml", p)
                            @if (ViewBag.Player.Id == Model.dbCovenant.LeaderId || ViewBag.IAmCaptain == true)
                            {
                                @*<div class="commandWrapper">*@
                                @*Send Arp to @p.Player.FirstName?*@
                                @Html.ActionLink("20", "GiveMoneyFromCovenantChest", "Covenant", new { id = p.Player.Id, amount = 20 }, null)
                                @Html.ActionLink("100", "GiveMoneyFromCovenantChest", "Covenant", new { id = p.Player.Id, amount = 100 }, null)
                                @Html.ActionLink("500", "GiveMoneyFromCovenantChest", "Covenant", new { id = p.Player.Id, amount = 500 }, null)
                                @*</div>*@
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
                }


            </div>
        </div>

    }
    else
    {
        <b>You are not currently in a covenant.</b>
    }

}

<script>
    function confirmDeletion() {
        document.getElementById('realLink').style.display = "block";
    }
</script>