@model IEnumerable<tfgame.ViewModels.CovenantApplicationViewModel>
           @using tfgame.ViewModels
            @using tfgame.CustomHtmlHelpers

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<p>@Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")</p>
<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

<h1>Review Applications</h1>

@{
    foreach (CovenantApplicationViewModel app in Model)
    {
        <p>
            @app.dbPlayer.FirstName @app.dbPlayer.LastName applied @CharactersHere.DatetimeToTimeago(app.dbCovenantApplication.Timestamp)
            @Html.ActionLink("Accept", "ApplicationResponse", "Covenant", new { id = app.dbCovenantApplication.Id, response = "yes" }, null)
            @Html.ActionLink("Deny", "ApplicationResponse", "Covenant", new { id = app.dbCovenantApplication.Id, response = "no" }, null)
        </p>
    }

    if (Model.Count() == 0)
    {
        <p><b>You do not have any applications at this time.</b></p>
    }
    
}

<p>@Html.ActionLink("Back to My Covenant", "MyCovenant", "Covenant")</p>
<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>