@using tfgame.Statics
@Html.ActionLink("Home", "Play", "PvP")
@Html.ActionLink("News (" + PvPStatics.LastGameUpdate + ")", "GameNews", "PvP")
@Html.ActionLink("How to Play", "HowToPlay", "PvP")
<a href="http://luxianne.com/forum/index.php" target="_blank">Forum</a>
@Html.ActionLink("Leaderboard", "PvPLeaderboard", "PvP")
<span class="newlinkgreen">@Html.ActionLink("Donate?", "Donate", "Settings")</span>
<span class="newlinkyellow">@Html.ActionLink("Polls", "ViewPolls", "Settings")</span>