@using tfgame.Statics
<li>@Html.ActionLink("Home", "Play", "PvP")</li>
<li>@Html.ActionLink("News (" + PvPStatics.LastGameUpdate + ")", "GameNews", "PvP")</li>
<li>@Html.ActionLink("How to Play", "HowToPlay", "PvP")</li>
<li><a href="http://luxianne.com/forum/index.php" target="_blank">Forum</a></li>
<li>@Html.ActionLink("Leaderboard", "PvPLeaderboard", "PvP")</li>
<li>@Html.ActionLink("Donate?", "Donate", "Settings")</li>
<li>@Html.ActionLink("Polls", "ViewPolls", "Settings")</li>