@using tfgame.Statics
@Html.ActionLink("Home", "Play", "PvP")
@Html.ActionLink("News / Updates (" + PvPStatics.LastGameUpdate + ")", "GameNews", "PvP")
@Html.ActionLink("How to Play", "HowToPlay", "PvP")
<a href="http://luxianne.com/forum/index.php" target="_blank">Forum</a>
@Html.ActionLink("Leaderboard", "PvPLeaderboard", "PvP")
@Html.ActionLink("Submit New Content", "Contribute", "PvP", new { Id = -1 }, null)
<span class="newlinkgreen">@Html.ActionLink("Donate?", "Donate", "Settings")</span>