@model TT.Domain.ViewModels.PlayPageViewModel

<table class="tableLines">
    <tr>
        <td></td>
        <td>@{
                if (Model.Location.Name_North != null)
                {
                        <a href="@Url.Action(MVC.PvP.MoveTo(Model.Location.Name_North))">@Model.Location.FriendlyName_North</a>
                }
            }</td>
        <td></td>
    </tr>
    <tr>
        <td>@{
                if (Model.Location.Name_West != null)
                {
                        <a href="@Url.Action(MVC.PvP.MoveTo(Model.Location.Name_West))">@Model.Location.FriendlyName_West</a>
                }
            }</td>
        <td>@Model.Location.Name</td>
        <td>@{
                if (Model.Location.Name_East != null)
                {
                        <a href="@Url.Action(MVC.PvP.MoveTo(Model.Location.Name_East))">@Model.Location.FriendlyName_East</a>
                }
            }</td>
    </tr>
    <tr>
        <td></td>
        <td>@{
                if (Model.Location.Name_South != null)
                {
                        <a href="@Url.Action(MVC.PvP.MoveTo(Model.Location.Name_South))">@Model.Location.FriendlyName_South</a>
                }

            }</td>
        <td></td>
    </tr>
</table>

<style>
    td{
        width:75px;
        height:75px;
        font-size:10px;
    }
    td:empty{
        background-color:gainsboro;
    }
</style>
