@model TT.Domain.ViewModels.PlayPageViewModel

<table class="tableLines">
    <tr>
        <td></td>
        <td>@{
                if (Model.Location.Name_North != null)
                {
                        @Html.ActionLink(Model.Location.FriendlyName_North, "MoveTo", "PvP", new { locname = Model.Location.Name_North }, null)
                }
            }</td>
        <td></td>
    </tr>
    <tr>
        <td>@{
                if (Model.Location.Name_West != null)
                {
                        @Html.ActionLink(Model.Location.FriendlyName_West, "MoveTo", "PvP", new { locname = Model.Location.Name_West }, null)
                }
            }</td>
        <td>@Model.Location.Name</td>
        <td>@{
                if (Model.Location.Name_East != null)
                {
                        @Html.ActionLink(Model.Location.FriendlyName_East, "MoveTo", "PvP", new { locname = Model.Location.Name_East }, null)
                }
            }</td>
    </tr>
    <tr>
        <td></td>
        <td>@{
                if (Model.Location.Name_South != null)
                {
                        @Html.ActionLink(Model.Location.FriendlyName_South, "MoveTo", "PvP", new { locname = Model.Location.Name_South }, null)
                }

            }</td>
        <td></td>
    </tr>
</table>

<style>
    td{
        width:75px;
        height:75px;
        font-size:10px;
    }
    td:empty{
        background-color:gainsboro;
    }
</style>
