<div class="oldrounds">
    <h3 style="margin:0;">Previous Rounds (PvP/Dungeon)</h3>

    <p>
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R1 (Era of Julia Medina)", "OldLeadboards", "PvP", new { round = "1" }, null) 
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R2 (Era of Kiara Kitsu)", "OldLeadboards", "PvP", new { round = "2" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R3 (Era of Elyn Kitsu)", "OldLeadboards", "PvP", new { round = "3" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R4 (Era of Celisi Tabiki)", "OldLeadboards", "PvP", new { round = "4" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R5 (Era of Rust Kitsu)", "OldLeadboards", "PvP", new { round = "5" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R6 (Era of Helia Harris)", "OldLeadboards", "PvP", new { round = "6" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R7 (2nd Era of Elyn Kitsu)", "OldLeadboards", "PvP", new { round = "7" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R8 (Era of Alicia Arriola)", "OldLeadboards", "PvP", new { round = "8" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R9 (Era of Hanna Patterson)", "OldLeadboards", "PvP", new { round = "9" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R10 (Era of Cole Kurz)", "OldLeadboards", "PvP", new { round = "10" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R11 (Era of Jess Ganes)", "OldLeadboards", "PvP", new { round = "11" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R12 (Era of Soul Blossom)", "OldLeadboards", "PvP", new { round = "12" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R13 (Era of Alexander Dantes)", "OldLeadboards", "PvP", new { round = "13" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R14", "OldLeadboards", "PvP", new { round = "14" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R15 (Era of Nerati Sua)", "OldLeadboards", "PvP", new { round = "15" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R18 (Era of Parker Page)", "OldLeadboards", "PvP", new { round = "18" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R19 (Era of Lex Fairchild)", "OldLeadboards", "PvP", new { round = "19" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R23 (2nd Era of Nerati Sua)", "OldLeadboards", "PvP", new { round = "23" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R24 (Era of Heather 'Elaine' Brandenburg)", "OldLeadboards", "PvP", new { round = "24" }, null)
    </p>
    <h3 style="margin:0;">Previous Rounds (Achivements)</h3>
    <p>
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R17", "OldLeadboards_Achievements", "PvP", new { round = "17" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R18  (Era of Parker Page)", "OldLeadboards_Achievements", "PvP", new { round = "18" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R19", "OldLeadboards_Achievements", "PvP", new { round = "19" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R20", "OldLeadboards_Achievements", "PvP", new { round = "20" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R21", "OldLeadboards_Achievements", "PvP", new { round = "21" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R22", "OldLeadboards_Achievements", "PvP", new { round = "22" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R23 (2nd Era of Nerati Sua)", "OldLeadboards_Achievements", "PvP", new { round = "23" }, null)
        <span class="glyphicon glyphicon-star-empty"></span>
        @Html.ActionLink("Alpha R24 (Era of Heather 'Elaine' Brandenburg)", "OldLeadboards_Achievements", "PvP", new { round = "24" }, null)
    </p>
</div>