<div class="oldrounds">
    <h3>Previous Rounds</h3>

    <p>
        @Html.ActionLink("Alpha Round 1 (Era of Julia Medina)", "OldLeadboards", "PvP", new { round = "1" }, null)
        @Html.ActionLink("Alpha Round 2 (Era of Kiara Kitsu)", "OldLeadboards", "PvP", new { round = "2" }, null)
        @Html.ActionLink("Alpha Round 3 (Era of Elyn Kitsu)", "OldLeadboards", "PvP", new { round = "3" }, null)
        @Html.ActionLink("Alpha Round 4 (Era of Celisi Tabiki)", "OldLeadboards", "PvP", new { round = "4" }, null)
        @Html.ActionLink("Alpha Round 5 (Era of Rust Kitsu)", "OldLeadboards", "PvP", new { round = "5" }, null)
        @Html.ActionLink("Alpha Round 6 (Era of Helia Harris)", "OldLeadboards", "PvP", new { round = "6" }, null)
        @Html.ActionLink("Alpha Round 7 (2nd Era of Elyn Kitsu)", "OldLeadboards", "PvP", new { round = "7" }, null)
        @Html.ActionLink("Alpha Round 8 (Era of Alicia Arriola)", "OldLeadboards", "PvP", new { round = "8" }, null)
        @Html.ActionLink("Alpha Round 9 (Era of Hanna Patterson)", "OldLeadboards", "PvP", new { round = "9" }, null)
        @Html.ActionLink("Alpha Round 10 (Era of Cole Kurz)", "OldLeadboards", "PvP", new { round = "10" }, null)
    </p>
</div>