<div class="oldrounds">
    <h3 style="margin:0;">Previous Rounds</h3>

    <p>
        @Html.ActionLink("Alpha R1 (Era of Julia Medina)", "OldLeadboards", "PvP", new { round = "1" }, null)
        @Html.ActionLink("Alpha R2 (Era of Kiara Kitsu)", "OldLeadboards", "PvP", new { round = "2" }, null)
        @Html.ActionLink("Alpha R3 (Era of Elyn Kitsu)", "OldLeadboards", "PvP", new { round = "3" }, null)
        @Html.ActionLink("Alpha R4 (Era of Celisi Tabiki)", "OldLeadboards", "PvP", new { round = "4" }, null)
        @Html.ActionLink("Alpha R5 (Era of Rust Kitsu)", "OldLeadboards", "PvP", new { round = "5" }, null)
        @Html.ActionLink("Alpha R6 (Era of Helia Harris)", "OldLeadboards", "PvP", new { round = "6" }, null)
        @Html.ActionLink("Alpha R7 (2nd Era of Elyn Kitsu)", "OldLeadboards", "PvP", new { round = "7" }, null)
        @Html.ActionLink("Alpha R8 (Era of Alicia Arriola)", "OldLeadboards", "PvP", new { round = "8" }, null)
        @Html.ActionLink("Alpha R9 (Era of Hanna Patterson)", "OldLeadboards", "PvP", new { round = "9" }, null)
        @Html.ActionLink("Alpha R10 (Era of Cole Kurz)", "OldLeadboards", "PvP", new { round = "10" }, null)
        @Html.ActionLink("Alpha R11 (Era of Jess Ganes)", "OldLeadboards", "PvP", new { round = "11" }, null)
        @Html.ActionLink("Alpha R12 (Era of Soul Blossom)", "OldLeadboards", "PvP", new { round = "12" }, null)
        @Html.ActionLink("Alpha R13 (Era of Alexander Dantes)", "OldLeadboards", "PvP", new { round = "13" }, null)
        @Html.ActionLink("Alpha R14", "OldLeadboards", "PvP", new { round = "14" }, null)
        @Html.ActionLink("Alpha R15 (Era of Nerati Sua)", "OldLeadboards", "PvP", new { round = "15" }, null)
        @Html.ActionLink("Alpha R18 (Era of Parker Page)", "OldLeadboards", "PvP", new { round = "18" }, null)
        @Html.ActionLink("Alpha R19 (Era of Lex Fairchild)", "OldLeadboards", "PvP", new { round = "19" }, null)
    </p>
</div>