@model tfgame.dbModels.Models.DbStaticEffect
@using tfgame.ViewModels
@using tfgame.Statics
@using tfgame.CustomHtmlHelpers

<div class="bonuses">
        @{
            if (@Model.HealthBonusPercent != 0)
            {
                <b>Extra willpower maximum:  @Model.HealthBonusPercent</b>
            }
            if (@Model.ManaBonusPercent != 0)
            {
                <b>Extra mana maximum:  @Model.ManaBonusPercent</b>
            }
            if (@Model.HealthRecoveryPerUpdate != 0)
            {
                <b>Willpower recovery per update:  @Model.HealthRecoveryPerUpdate</b>
            }
            if (@Model.ManaRecoveryPerUpdate != 0)
            {
                <b>Mana recovery per update:  @Model.ManaRecoveryPerUpdate</b>
            }
            if (@Model.SneakPercent != 0)
            {
                <b>Sneak chance percent: @Model.SneakPercent</b>
            }
            if (@Model.MeditationExtraMana != 0)
            {
                <b>Extra mana recovering from meditating:  @Model.MeditationExtraMana</b><br />
            }
            if (@Model.CleanseExtraHealth != 0)
            {
                <b>Extra willpower recovered from cleansing:  @Model.CleanseExtraHealth</b>
            }
            if (@Model.MoveActionPointDiscount != 0.0M)
            {
                <b>Action point discount when moving:  @Model.MoveActionPointDiscount</b>
            }
            if (@Model.ExtraSkillCriticalPercent != 0)
            {
                <b>Extra chance of spell critical hits:  @Model.ExtraSkillCriticalPercent</b>
            }
            if (@Model.EvasionPercent != 0)
            {
                <b>Percent chance to evade an attack:  @Model.EvasionPercent</b>
            }
            if (@Model.EvasionNegationPercent != 0)
            {
                <b>Percent negation of opponent's ability to evade a spell:  @Model.EvasionNegationPercent</b>
            }
            if (@Model.SpellExtraTFEnergyPercent != 0.0M)
            {
                <b>Extra transformation energy damage percent:  @Model.SpellExtraTFEnergyPercent</b>
            }
            if (@Model.SpellExtraHealthDamagePercent != 0.0M)
            {
                <b>Extra willpower damage dealt from spells:  @Model.SpellExtraHealthDamagePercent</b>
            }
            if (@Model.CleanseExtraTFEnergyRemovalPercent != 0.0M)
            {
                <b>Extra transformation energy percent removed when cleansing:  @Model.CleanseExtraTFEnergyRemovalPercent</b>
            }
            if (@Model.SpellMisfireChanceReduction != 0.0M)
            {
                <b>Misfire percent chance reduction:  @Model.SpellMisfireChanceReduction</b>
            }

            if (@Model.SpellHealthDamageResistance != 0.0M)
            {
                <b>Willpower damage reduction when hit by spells: @Model.SpellHealthDamageResistance</b><br />
            }
            if (@Model.SpellTFEnergyDamageResistance != 0.0M)
            {
                <b>Transformation energy reduction when hit by spells: @Model.SpellTFEnergyDamageResistance</b>
            }
            if (@Model.ExtraInventorySpace != 0.0M)
            {
                <b>Extra inventory space:  @Model.ExtraInventorySpace</b>
            }
        }
</div>