@model IEnumerable<TT.Domain.Models.QuestState>

<p>@Ajax.ActionLink("View Logs", MVC.QuestWriter.ShowQuestWriterLogs(Model.First().QuestId), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })</p>

<p>@Ajax.ActionLink("Click to view all quest connections in this quest", MVC.QuestWriter.ShowAllQuestConnections(Model.First().QuestId), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })</p>

<p>@Ajax.ActionLink("View Diagram", MVC.QuestWriter.Diagram(Model.First().QuestId), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })</p>


<table>
    @foreach (var q in Model.ToList())
    {

        <tr>
            <td>
                @Ajax.ActionLink(q.QuestStateName, MVC.QuestWriter.QuestState(q.Id, q.QuestId, -1), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })

                @{
                    if (q.QuestConnectionRequirements.Any())
                    {
                        <span>@q.QuestConnectionRequirements.Count() requirements |</span>
                    }
                    if (q.QuestEnds.Any())
                    {
                        <span>@q.QuestEnds.Count() ends</span>
                    }
                }



            </td>

            <td>
                @Ajax.ActionLink("[DELETE]", MVC.QuestWriter.QuestStateDelete(q.Id), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting", Confirm = "Are you sure you want to delete this quest state?" }, new { @class = "deleteButton" })
            </td>

        </tr>
     }

 

</table>

@Ajax.ActionLink("--New Quest State--", MVC.QuestWriter.QuestState(-1, Model.First().QuestId, -1), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "newButton" })
