
@model IEnumerable<TT.Domain.Models.QuestConnection>

<p>@Ajax.ActionLink("View Logs", "ShowQuestWriterLogs", "QuestWriter", new { Id = Model.First().QuestId }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })</p>

<p>@Ajax.ActionLink("Click to view all quest states in this quest", "ShowAllQuestStates", "QuestWriter", new { Id = Model.First().QuestId }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })</p>

<p>@Ajax.ActionLink("View Diagram", "Diagram", "QuestWriter", new { Id = Model.First().QuestId }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })</p>

<h1>Quest Connections</h1>

@{
    <table>
        @foreach (TT.Domain.Models.QuestConnection q in Model.ToList())
        {

            // int Id, int QuestId, int FromQuestId, int ToQuestId

            <tr>
                <td>
                    @Ajax.ActionLink(q.ConnectionName, "QuestConnection", "QuestWriter", new { Id = q.Id, QuestId = q.QuestId, FromQuestId = q.QuestStateFromId, ToQuestId = q.QuestStateToId }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })


                    @if (q.QuestConnectionRequirements.Count() > 0)
                        {
                            <span>@q.QuestConnectionRequirements.Count() requirements |</span>
                        }
                   
                </td>
                <td>
                    @{ 
                        if (q.QuestStateFromId > 0)
                        {
                            @Ajax.ActionLink("Jump to FROM State", "QuestState", "QuestWriter", new { Id = q.QuestStateFromId, QuestId = q.QuestId, ParentStateId = -1 }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })
                        }
                        else
                        {
                            <span class="bad">No FROM quest state set</span>
                        }
                    }
                </td>

                <td>
                    @{
                        if (q.QuestStateToId > 0)
                        {
                            @Ajax.ActionLink("Jump to TO State", "QuestState", "QuestWriter", new { Id = q.QuestStateToId, QuestId = q.QuestId, ParentStateId = -1 }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })
                        }
                        else
                        {
                            <span class="bad">No TO quest state set</span>
                        }
                    }
                </td>

                <td>
                    @{
                        if (q.QuestStateFailToId > 0)
                        {
                            @Ajax.ActionLink("Jump to FAIL State", "QuestState", "QuestWriter", new { Id = q.QuestStateToId, QuestId = q.QuestId, ParentStateId = -1 }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })
                        }
                    }
                </td>

                <td>
                    @Ajax.ActionLink("[DELETE]", "DeleteQuestConnection", "QuestWriter", new { Id = q.Id, QuestId = q.QuestId }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting", Confirm = "Are you sure you want to delete this quest connection?" }, new { @class = "deleteButton" })
                </td>

            </tr>
                        }
    </table>


}

<p>@Ajax.ActionLink("Add New", "QuestConnection", "QuestWriter", new { Id = -1, QuestId = Model.First().QuestId, FromQuestId = -1, ToQuestId = -1 }, new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "newButton" })</p>
