<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <link href="~/Content/Bios.css" rel="stylesheet" />
</head>

<p>
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<h1>Author and Artist Biographies</h1>

<p>On this page you can see some of the most active contributors.  Currently only artists are listed; however, I plan on expanding this to authors as well.</p>

<h3>Artists</h3>

<p>
    @Html.ActionLink("Nymic-TF", "ContributorBio", "Contribution", new { name = "Nymic-TF" }, null) <br />
    @Html.ActionLink("Meddle", "ContributorBio", "Contribution", new { name = "Meddle" }, null) <br />
    @Html.ActionLink("Luxianne", "ContributorBio", "Contribution", new { name = "Luxianne" }, null) <br />
    More coming soon.
</p>

<h3>Authors</h3>

<p>
    Coming soon.
</p>


<p>
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>