@model IEnumerable<tfgame.dbModels.Models.DMRoll>
           @using tfgame.dbModels.Models

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<div class="result">@ViewBag.Result</div>

@{
    if (WebSecurity.CurrentUserId == 69)
    {
       <p>@Html.ActionLink("Approve DM Encounters", "ReviewDMRolls", "Contribution")</p>
    }
}

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

<h1>Your DM Encounter Contributions</h1>

<p>DM encounters are random encounters that can be rolled in the game's chat rooms.  These are meant for the sake of roleplaying, a random enemy / trap / event generator.</p>


@Html.ActionLink("START NEW", "DMRoll", "Contribution", new { id = -1 }, null)
<hr />

@foreach (DMRoll roll in Model.OrderBy(r => r.Tags))
{
  
    <p><span style="color: darkblue;">@roll.Tags.ToUpper()</span>  <span style="color: darkred;">@roll.ActionType.ToUpper()</span></p>
    if (roll.IsLive == true)
    {
        <span style="color: red; background-color: yellow; border: 1px solid red;">LIVE</span>
    }

    @Html.ActionLink(roll.Message, "DMRoll", "Contribution", new { id = roll.Id }, null)
    <hr />
  
}

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>