@model TT.Web.Models.LocalEmailModel

@using (Html.BeginForm(MVC.Account.ChangeEmail())) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change E-mail</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
        </ol>
        <input type="submit" value="Change E-mail" />
    </fieldset>
}
