@model TT.Web.Models.LocalEmailModel

@using (Html.BeginForm(MVC.Account.ChangeEmail()))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Update E-mail</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Verify)
                @Html.TextBoxFor(m => m.Verify)
            </li>
        </ol>
        <input type="submit" value="Update e-mail settings.">
    </fieldset>
}

