@model TT.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@Html.ActionLink("Change e-mail address", MVC.Account.ChangeEmail())<br>

@Html.ActionLink("View Terms of Service", MVC.Account.TermsOfService())

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial(MVC.Account.Views._ChangePasswordPartial)
}
else
{ 
    @Html.Partial(MVC.Account.Views._SetPasswordPartial)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
