@model TT.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Account.ChangeEmail())">Change or Verify E-mail Address</a></li>
    <li><a href="@Url.Action(MVC.Account.TermsOfService())">View Terms of Service</a></li>
    <li><a href="@Url.Action(MVC.Account.PrivacyPolicy())">View Privacy Policy</a></li>
    <li><a href="@Url.Action(MVC.Account.DeleteAccount())"><span class="bad">Delete Account</span></a></li>
}


<div class="containerInner">

    <h1>Manage Account</h1>


    <p class="message-success">@ViewBag.StatusMessage</p>

    @if (ViewBag.Email != null)
    {
        if (ViewBag.Approved != true)
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                You still need to <a href="@Url.Action(MVC.Account.ChangeEmail())">verify your account</a> to be able to play.
            </div>

        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <b>Please <a href="@Url.Action(MVC.Account.ChangeEmail())">set an e-mail address</a> to complete your account verification. You won't be able to play until your e-mail address has been verified.'</b>

        </div>
    }


    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial(MVC.Account.Views._ChangePasswordPartial)
    }
    else
    {
        @Html.Partial(MVC.Account.Views._SetPasswordPartial)
    }

</div>
