@model TT.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<a href="@Url.Action(MVC.Account.ChangeEmail())">Change e-mail address</a><br>

<a href="@Url.Action(MVC.Account.TermsOfService())">View Terms of Service</a>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial(MVC.Account.Views._ChangePasswordPartial)
}
else
{ 
    @Html.Partial(MVC.Account.Views._SetPasswordPartial)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
