@using TT.Domain.Statics
@{
    ViewBag.Title = "Privacy Policy";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Account.Manage())">Back to Account</a></li>
    <li><a href="@Url.Action(MVC.Info.Rules())">Rules</a></li>
    <li><a href="@Url.Action(MVC.Account.TermsOfService())">Terms of Service</a></li>
}

<div class="containerInner">
    <h1>Privacy Policy</h1>
    <b><i>You must agree to the privacy policy in to register, log in, or use this site.  Last update was @PvPStatics.LastPrivacyPolicyUpdate.</i></b><br>
    
    <h3>What information do you collect?</h3>

    <p>In order to operate, Transformana Time collects a limited amount of information from its users.  This information includes:</p>

    <ul class="listdots">
        <li><b>Email addresses.</b>  Providing your email address is entirely <b>optional</b>, and you have the freedom to <a href="@Url.Action(MVC.Account.ChangeEmail())">change or remove your email address</a> at any time while logged into your account.  There is currently <b>NO</b> password recovery system in place, however if such a system becomes available, Transformania Time may use your email address to send you password reset options.  Your email address will not be redistributed to any third parties.</li>
        <li><b>IP Addresses.</b>  IP addresses are logged to detect multiple account abuse and to blacklist known violators of the terms of service.</li>
        <li><b>Cookies.</b>  Cookies are used to store session management information on both the server and on your browser.  Transformania Time does not read cookies saved from any other site.</li>
    </ul>
    
    <h3>What do you do with the information you collect and who sees it?</h3>
    
    <p>Transformania Time does <b>NOT</b> sell or give away the information collected to above to <b>ANY</b> third party for <b>ANY</b> purpose, commercial or not.  Your IP addresses are not shared outside of the site administrators and moderators who may use them to detect abuse.  Your email is known only to site administrators, not moderators.</p>
    
    <h3>How is this information stored and for how long?</h3>
    
    <p>In order to recovery data in case of server outtages or migrations, the server makes a database backup of all game information every six hours.  Backups include email addresses (if provided) and each player's last recorded IP address.  Backups are only available to  the site administrators (not Developers or Moderators).  Database backups may be used as database recovery or for testing of new or existing code on personal development machines.  Database backups older than one (1) month will be deleted. Additionally, the server keeps IP addresses logged for HTTP communications between the server and client for up to one (1) month, at which point they will be automatically deleted.</p>
    
    <h3>Can I delete my account?  What happens if my account is deleted?</h3>
    
    <p>Yes, <a href="@Url.Action(MVC.Account.DeleteAccount())">you may delete your account</a>.  Account deletion is permanent and irrevocable.  Please be aware that your account may be preserved in database backups stored on the server for up to one (1) month.</p>
    
    <br>
    <p><b>Tranformania Time does not and will not ever ask for your name, surname, address, phone number, password, or age (except to confirm that you meet the minimum legal age as outlined in the <a href="@Url.Action(MVC.Account.TermsOfService())">Terms of Service</a>).</b>  Transformania Time is funded solely through <a href="@Url.Action(MVC.Info.Donate())">Patreon</a> support.</p>
    

</div>