@model TT.Domain.ViewModels.ChatLogViewModel
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = $"Chat Log - {Model.Room}";
}

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
                <li>
                    <a href="@Url.Action(MVC.Chat.Index("global"))">Global</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.Chat.Index("rp1"))">RP Room 1</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.Chat.Index("rp2"))">RP Room 2</a>
                </li>
                <li><a href="@Url.Action(MVC.Chat.Index("rp3"))">RP Room 3</a></li>
                <li>
                    <a href="@Url.Action(MVC.PvP.PrivateChat())">Create/Join Private Room</a>
                </li>
                <li><a href="@Url.Action(MVC.PvP.ChatCommands())" target="_blank">Commands</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.ChatLog(Model.Room, "lasth"))">Last Hour</a></li>
                <li>
                    <a href="@Url.Action(MVC.PvP.ChatLog(Model.Room, "last4h"))">Last 4 Hours</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.PvP.ChatLog(Model.Room, "last12h"))">Last 12 Hours</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.PvP.ChatLog(Model.Room, "last24h"))">Last Day</a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.PvP.ChatLog(Model.Room, "last48h"))">Last 2 Days</a>
                </li>
                <li><a href="@Url.Action(MVC.PvP.ChatLog(Model.Room, "last72h"))">Last 3 Days</a></li>
</ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner">
    <h2>Chat Log for Room '@Model.Room'</h2>
    <p>Note that <b>oldest posts are on top</b>, not newest.  You can use the links before to change the filter time; longer durations will take longer to load.  Please be patient and use the longer filters sparingly.  Any chat messages older than 3 days are eligible for permanent deletion.</p>
    <p>Chat log for private room:</p>
    @using (Html.BeginForm(MVC.PvP.ChatLog(), FormMethod.Get))
    {
        @Html.LabelFor(m => m.Room, "Room name:")
        <br>
        @Html.TextBoxFor(m => m.Room)
        @Html.HiddenFor(m => m.Filter)
        <button type="submit">View Logs</button>
    }

    <ul id="discussion">

        @{
            foreach (var l in Model.ChatLog)
            {
                <li>
                    <img src="@l.PortraitUrl">
                    <strong style="color: @l.Color">@l.Name:</strong>
                    @l.Message
                    <span class="timeago">@CharactersHere.DatetimeToTimeago(l.Timestamp)</span>
                </li>
            }
        }

    </ul>
</div>
    <script>
        $(document).ready(function () {
            $("li").each(function () {
                var encodedValue = $(this).html();
                encodedValue = encodedValue.replace("[.[", "<span class='timeago'>");
                encodedValue = encodedValue.replace("].]", "</span>");
                encodedValue = encodedValue.replace("[-[", "<span class='enterMsg'>");
                encodedValue = encodedValue.replace("]-]", "</span>");
                encodedValue = encodedValue.replace("[=[", "<span class='dm'>");
                encodedValue = encodedValue.replace("]=]", "</span>");
                encodedValue = encodedValue.replace("[+[", "<span class='me'>");
                encodedValue = encodedValue.replace("]+]", "</span>");
                encodedValue = encodedValue.replace("Judoo (admin)", "<span class='adminFont'>Judoo (admin)</span>");
                encodedValue = encodedValue.replace("Mizuho (dev)", "<span class='adminFont'>Mizuho (dev)</span>");
                $(this).html(encodedValue);
            });
        });
</script>