@using TT.Domain.DTOs.RPClassifiedAds
@model RPClassifiedAdDetail

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", MVC.PvP.Play())</li>
                <li>@Html.ActionLink("My RP Classified Ads", MVC.Settings.MyRPClassifiedAds())</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>


<div class="containerInner">
    <h1>@(ViewBag.Edit ?? false ? "Edit" : "Create") RP Classified Ad</h1>

    @using (Html.BeginForm(ViewBag.Edit ?? false ? "UpdateRPClassifiedAd" : "CreateRPClassifiedAd", "Settings", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="messageInfoContainer clearfix">

            <span class="charCounter" id="textRemaining"></span>
        </div>

        <div class="messageInfoContainer clearfix">
           Write a short title for your classified ad.  (Must be between 5 and 35 characters)
            <span class="charCounter" id="Title_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.Title, new { @class = "text-container" })

        <div class="messageInfoContainer clearfix">
            Write a general description of what kind of roleplaying experience you are looking for.  (Must be between 50 and 300 characters)
            <span class="charCounter" id="Text_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.Text, new { @class = "text-container" })

        <div class="messageInfoContainer clearfix">
            What themes would you like this RP <b class="good">TO</b> contain?   (optional, limit 200 characters)
            <span class="charCounter" id="YesThemes_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.YesThemes, new { @class = "text-container" })

        <div class="messageInfoContainer clearfix">
            What themes would you like this RP <b class="bad">TO NOT</b> contain?   (optional, limit 200 characters)
            <span class="charCounter" id="NoThemes_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.NoThemes, new { @class = "text-container" })

    <div class="messageInfoContainer clearfix">
        What times are you best available for this RP?  Include your time zone   (optional, limit 70 characters).
        <span class="charCounter" id="Timezone_textRemaining"></span>
    </div>
    @Html.TextAreaFor(m => m.PreferredTimezones, new { @class = "text-container" })

        @Html.HiddenFor(m => m.Id)

        <br />
        <input type="submit" class="btn btn-chat" value="Send" />

    }

</div>

<script>
    $(document).ready(function () {
        var TextMax = 300;
        var YesThemesMax = 200;
        var NoThemesMax = 200;
        var TitleMax = 35;
        var PreferredTimezonesMax = 70;

        $('#Text_textRemaining').html(TextMax + ' characters remaining');
        $('#YesThemes_textRemaining').html(YesThemesMax + ' characters remaining');
        $('#NoThemes_textRemaining').html(NoThemesMax + ' characters remaining');
        $('#Title_textRemaining').html(TitleMax + ' characters remaining');
        $('#Timezone_textRemaining').html(PreferredTimezonesMax + ' characters remaining');

        $('#Text').on('input', function () {
            var length = $(this).val().length;
            var remaining = TextMax - length;

            $('#Text_textRemaining').html(remaining + ' characters remaining');
        });

        $('#YesThemes').on('input', function () {
            var length = $(this).val().length;
            var remaining = YesThemesMax - length;

            $('#YesThemes_textRemaining').html(remaining + ' characters remaining');
        });

        $('#NoThemes').on('input', function () {
            var length = $(this).val().length;
            var remaining = NoThemesMax - length;

            $('#NoThemes_textRemaining').html(remaining + ' characters remaining');
        });

        $('#Title').on('input', function () {
            var length = $(this).val().length;
            var remaining = TitleMax - length;

            $('#Title_textRemaining').html(remaining + ' characters remaining');
        });

        $('#PreferredTimezones').on('input', function () {
            var length = $(this).val().length;
            var remaining = PreferredTimezonesMax - length;

            $('#Timezone_textRemaining').html(remaining + ' characters remaining');
        });
    });
</script>

<style>
    .bad {
        color: #E18948 !important;
    }

    .good {
        color: #77D777 !important;
    }

    .text-container {
        margin-bottom: 20px;
    }
</style>