@model IEnumerable<TT.Domain.ClassifiedAds.DTOs.RPClassifiedAdDetail>
@{
    ViewBag.Title = "Your RP Classified Ads";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Info.RecentRPClassifieds())">RP Classifieds</a></li>
}

<div class="containerInner">
    <h1>Your RP Classified Ads</h1>
    <p style="margin: 20px 0px; text-align: center;">Below are all of the RP Classified Ads created by you.  You can only have 3 ads open at a time so make them count!</p>

    @{
        if (Model.Count() < 3)
        {
            <p style="margin: 0px 0px 20px 0px; text-align: center;"><a href="@Url.Action(MVC.Settings.CreateRPClassifiedAd())">New Ad</a></p>
        }

      <div class="row boxContainer">
            @{
                foreach (var ad in Model.OrderByDescending(m => m.RefreshTimestamp))
                {
                    <div class="col-xs-12 col-md-3 rp-ad textSpaced">

                        <p>
                            <i><b><u>@ad.Title</u></b></i>
                        </p>

                        <p><i>@ad.Text</i></p>
                        <p>
                            <span class="good">Desired themes</span><br>
                            @ad.YesThemes
                        </p>
                        <p>
                            <span class="bad">Undesired themes</span><br>
                            @ad.NoThemes
                        </p>
                        <p>
                            <span class="timeago">Availability / Timezones</span><br>
                            @ad.PreferredTimezones
                        </p>
                        <p class="timeago">
                            Created @TT.Web.CustomHtmlHelpers.HtmlHelpers.DatetimeToTimeago(ad.CreationTimestamp)<br>
                            Last Refreshed @TT.Web.CustomHtmlHelpers.HtmlHelpers.DatetimeToTimeago(ad.RefreshTimestamp)
                        </p>

                        <p>
                            <a href="@Url.Action(MVC.Settings.UpdateRPClassifiedAd(ad.Id))">Edit Ad</a><br>
                            <a href="@Url.Action(MVC.Settings.RefreshRPClassifiedAd(ad.Id))">Refresh Ad</a><br>
                            <a href="@Url.Action(MVC.Settings.DeleteRPClassifiedAd(ad.Id))" onclick="return confirm('Are you sure you want to delete this RP ad?')">Delete Ad</a><br>
                        </p>
                    </div>
                }

            }
        </div>


    }


</div>