@model TT.Domain.ViewModels.SetFriendNicknameViewModel
@using TT.Domain.Statics
@{
    ViewBag.Title = "Set Friend Nickname";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">
    <h1>Set Friend Nickname</h1>
    <p>You can assign a short nickname for a friend here.  This is so you can keep track of them inbetween characters and rounds more easily; only you will ever see this.  Nicknames for friends must be @PvPStatics.FriendNicknameMaxLength characters or less.</p>

    <p></p>

    @using (Html.BeginForm(MVC.Settings.SetFriendNicknameSend(), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.Nickname)<br />
        @Html.HiddenFor(m => m.FriendshipId)

        <br />
        <input type="submit" class="" value="Send" />

    }

</div>