@{
    ViewBag.Title = "Polls";
}

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner">
    <h1>Polls</h1>

    <p>Periodically the game will open up new polls to gather player feedback.  Your responses are greatly appreciated.</p>

    <h2>Open</h2>

    <ul>
        @*<li> <a href="@Url.Action(MVC.Settings.ViewPoll(3))">How do you feel about the new stats system and the double turn speed?</a></li>*@
        <li> <a href="@Url.Action(MVC.Settings.ViewPoll(2))">Tell us about yourself!</a></li>
        <li> <a href="@Url.Action(MVC.Settings.ViewPoll(4))">How open are you about your transformation or fetish interests to friends and family?</a></li>
        <li> <a href="@Url.Action(MVC.Settings.ViewPoll(5))">Would you like 3 minute turns?</a></li>
      
    </ul>

    <h2>Open Poll Results</h2>

    <ul>
        <li><a href="@Url.Action(MVC.Settings.PollResults(2))">Tell us about yourself!</a></li>
        <li><a href="@Url.Action(MVC.Settings.PollResults(4))">How open are you about your transformation or fetish interests to friends and family?</a></li>
        <li><a href="@Url.Action(MVC.Settings.PollResults(5))">Would you like 3 minute turns?</a></li>
    </ul>

    <h2>Closed Poll Results</h2>

    <ul>
        <li><a href="@Url.Action(MVC.Settings.PollResults(1))">What features would you like to see be added to the game the most?  How did you feel about Alpha Round 12's turn length?</a></li>
        <li><a href="@Url.Action(MVC.Settings.PollResults(3))">How do you feel about the new stats system and the double turn speed?</a></li>
    </ul>

</div>