@model TT.Domain.ViewModels.FurnitureViewModel
           @using TT.Web.CustomHtmlHelpers

<h3>@Model.dbFurniture.HumanName</h3>
<p>Price:  <span title="Arpeyjis" class="icon icon-money"></span><span class="avatarCount"><b>@Convert.ToInt32(Model.dbFurniture.Price)</b></span> </p>
<p><i>@Model.FurnitureType.Description</i></p>
<p>Availability:  @HtmlHelpers.PrintFurnitureAvailability(Model) (Recharge time is @Model.FurnitureType.MinutesUntilReuse minutes)</p>

@{
    if (Model.IsLastUser(Model.MyUserId))
    {
        <p class="bad">You were the last person to use this furniture!  Let someone else have a chance.</p>
    }
}

<p>Advantages:</p>


<ul>
    @{
        if (Model.FurnitureType.APReserveRefillAmount != 0)
        {
            <li>Refills action point reserve by:  @Model.FurnitureType.APReserveRefillAmount</li>
        }
        if (Model.FurnitureType.GivesEffectSourceId != null)
        {
            <li>Gives effect:  @TT.Domain.Statics.EffectStatics.GetDbStaticEffect(Model.FurnitureType.GivesEffectSourceId.Value).FriendlyName</li>
        }
        if (Model.FurnitureType.GivesItemSourceId != null)
        {
            <li>Gives item:  @TT.Domain.Statics.ItemStatics.GetStaticItem(Model.FurnitureType.GivesItemSourceId.Value).FriendlyName</li>
        }
    }
</ul>
