@model IEnumerable<TT.Domain.Models.PollEntry>

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
                <li><a href="@Url.Action(MVC.Settings.ViewPolls())">View All Polls</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner text-center">
    @{
        decimal totalCount = Model.Count();

        var Num1_Choice1 = Model.Count(m => m.Num1 == 1) / totalCount * 100;
        var Num1_Choice2 = Model.Count(m => m.Num1 == 2) / totalCount * 100;
        var Num1_Choice3 = Model.Count(m => m.Num1 == 3) / totalCount * 100;
        var Num1_Choice4 = Model.Count(m => m.Num1 == 4) / totalCount * 100;
        var Num1_Choice5 = Model.Count(m => m.Num1 == 5) / totalCount * 100;
        var Num1_Choice6 = Model.Count(m => m.Num1 == 6) / totalCount * 100;

        var Num2_Choice1 = Model.Count(m => m.Num2 == 1) / totalCount * 100;
        var Num2_Choice2 = Model.Count(m => m.Num2 == 2) / totalCount * 100;
        var Num2_Choice3 = Model.Count(m => m.Num2 == 3) / totalCount * 100;
        var Num2_Choice4 = Model.Count(m => m.Num2 == 4) / totalCount * 100;
        var Num2_Choice5 = Model.Count(m => m.Num2 == 5) / totalCount * 100;
    }
    <h1>How do you feel about the new stats system and the double turn speed?</h1>

    <hr />
    <h3>This poll received @Model.Count() responses.</h3>

    <i>Percentages may not add up to 100% as all fields are optional; any remaining percent can be attributed to 'no response' entries.</i>

    <hr />

    <p><b>How do you feel about the new stats system (commonly known as the Holistic system) that recently went into effect?<</b></p>

    <p>I have no opinion:  <b>@Math.Round(Num1_Choice1, 1) %</b></p>

    <p>Way too complicated: <b>@Math.Round(Num1_Choice2, 1) %</b></p>

    <p>A little too complicated:  <b>@Math.Round(Num1_Choice3, 1) %</b></p>

    <p>Just right:  <b>@Math.Round(Num1_Choice4, 1) %</b></p>

    <p>A little too simple:  <b>@Math.Round(Num1_Choice5, 1) %</b></p>

    <p>Way too simple:  <b>@Math.Round(Num1_Choice6, 1) %</b></p>



    <hr />

    <p><b>How do you feel about turns taking 5 minutes to update instead of 10 minutes?</b></p>

    <p>I have no opinion:  <b>@Math.Round(Num2_Choice1, 1) %</b></p>

    <p>I strongly prefer 5 minute turns:  <b>@Math.Round(Num2_Choice2, 1) %</b></p>

    <p>I somewhat prefer 5 minute turns:  <b>@Math.Round(Num2_Choice3, 1) %</b></p>

    <p>I somewhat dislike 5 minute turns:  <b>@Math.Round(Num2_Choice4, 1) %</b></p>

    <p>I strongly dislike 5 minute turns:  <b>@Math.Round(Num2_Choice5, 1) %</b></p>


    <hr />


    <p><b>Leave any comments on the new stats system here.</b></p>

    @{
        foreach (var e in Model.Where(p => !string.IsNullOrEmpty(p.String1)))
        {
            <p>"@e.String1"</p><br />
        }
    }

    <hr />

    <p><b>Leave any comments on the 5 minute turns here.</b></p>

    @{
        foreach (var e in Model.Where(p => !string.IsNullOrEmpty(p.String2)))
        {
            <p>"@e.String2"</p><br />
        }
    }


</div>
