@model IEnumerable<TT.Domain.Models.PollEntry>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Settings.ViewPolls())">View All Polls</a></li>
}

<div class="containerInner text-center">

    @{
        decimal totalCount = Model.Count();

        var Num1_Choice1 = Model.Count(m => m.Num1 == 1) / totalCount * 100;
        var Num1_Choice2 = Model.Count(m => m.Num1 == 2) / totalCount * 100;
        var Num1_Choice3 = Model.Count(m => m.Num1 == 3) / totalCount * 100;
        var Num1_Choice4 = Model.Count(m => m.Num1 == 4) / totalCount * 100;
        var Num1_Choice5 = Model.Count(m => m.Num1 == 5) / totalCount * 100;
        var Num1_Choice6 = Model.Count(m => m.Num1 == 6) / totalCount * 100;
        var Num1_Choice7 = Model.Count(m => m.Num1 == 7) / totalCount * 100;

        var Num2_Choice1 = Model.Count(m => m.Num2 == 1) / totalCount * 100;
        var Num2_Choice2 = Model.Count(m => m.Num2 == 2) / totalCount * 100;
        var Num2_Choice3 = Model.Count(m => m.Num2 == 3) / totalCount * 100;
        var Num2_Choice4 = Model.Count(m => m.Num2 == 4) / totalCount * 100;
        var Num2_Choice5 = Model.Count(m => m.Num2 == 5) / totalCount * 100;
        var Num2_Choice6 = Model.Count(m => m.Num2 == 6) / totalCount * 100;
        var Num2_Choice7 = Model.Count(m => m.Num2 == 7) / totalCount * 100;

        var Num3_Choice1 = Model.Count(m => m.Num3 == 1) / totalCount * 100;
        var Num3_Choice2 = Model.Count(m => m.Num3 == 2) / totalCount * 100;
        var Num3_Choice3 = Model.Count(m => m.Num3 == 3) / totalCount * 100;
        var Num3_Choice4 = Model.Count(m => m.Num3 == 4) / totalCount * 100;
        var Num3_Choice5 = Model.Count(m => m.Num3 == 5) / totalCount * 100;
        var Num3_Choice6 = Model.Count(m => m.Num3 == 6) / totalCount * 100;
        var Num3_Choice7 = Model.Count(m => m.Num3 == 7) / totalCount * 100;

        var Num4_Choice1 = Model.Count(m => m.Num4 == 1) / totalCount * 100;
        var Num4_Choice2 = Model.Count(m => m.Num4 == 2) / totalCount * 100;
        var Num4_Choice3 = Model.Count(m => m.Num4 == 3) / totalCount * 100;
        var Num4_Choice4 = Model.Count(m => m.Num4 == 4) / totalCount * 100;
        var Num4_Choice5 = Model.Count(m => m.Num4 == 5) / totalCount * 100;
    }

    <h1>What features would you like to see added the most?</h1>

    <hr>
    <h3>This poll received @Model.Count() responses.</h3>

    <i>Percentages may not add up to 100% as all fields are optional; any remaining percent can be attributed to 'no response' entries.</i>

    <hr>

    <p><b>What game mechanic would you like to see added first?  (First preference)</b></p>

    <p>Questing system:  <b>@Math.Round(Num1_Choice1, 1) %</b></p>

    <p>More RP game mechanics:  <b>@Math.Round(Num1_Choice2, 1) %</b></p>

    <p>More PvP game mechanics--covenant wars, etc:  <b>@Math.Round(Num1_Choice3, 1) %</b></p>

    <p>1v1 Duels:  <b>@Math.Round(Num1_Choice4, 1) %</b></p>

    <p>More bosses and world events:  <b>@Math.Round(Num1_Choice5, 1) %</b></p>

    <p>Mind-control type transformation:  <b>@Math.Round(Num1_Choice6, 1) %</b></p>

    <p>Absorption type transformation:  <b>@Math.Round(Num1_Choice7, 1) %</b></p>

    <hr>

    <p><b>What game mechanic would you like to see added first?  (Second preference)</b></p>

    <p>Questing system:  <b>@Math.Round(Num2_Choice1, 1) %</b></p>

    <p>More RP game mechanics:  <b>@Math.Round(Num2_Choice2, 1) %</b></p>

    <p>More PvP game mechanics--covenant wars, etc:  <b>@Math.Round(Num2_Choice3, 1) %</b></p>

    <p>1v1 Duels:  <b>@Math.Round(Num2_Choice4, 1) %</b></p>

    <p>More bosses and world events:  <b>@Math.Round(Num2_Choice5, 1) %</b></p>

    <p>Mind-control type transformation:  <b>@Math.Round(Num2_Choice6, 1) %</b></p>

    <p>Absorption type transformation:  <b>@Math.Round(Num2_Choice7, 1) %</b></p>

    <hr>

    <p><b>What game mechanic would you like to see added first?  (Third preference)</b></p>

    <p>Questing system:  <b>@Math.Round(Num3_Choice1, 1) %</b></p>

    <p>More RP game mechanics:  <b>@Math.Round(Num3_Choice2, 1) %</b></p>

    <p>More PvP game mechanics--covenant wars, etc:  <b>@Math.Round(Num3_Choice3, 1) %</b></p>

    <p>1v1 Duels:  <b>@Math.Round(Num3_Choice4, 1) %</b></p>

    <p>More bosses and world events:  <b>@Math.Round(Num3_Choice5, 1) %</b></p>

    <p>Mind-control type transformation:  <b>@Math.Round(Num3_Choice6, 1) %</b></p>

    <p>Absorption type transformation:  <b>@Math.Round(Num3_Choice7, 1) %</b></p>

    <hr>

    <p><b>How did you feel about the 3000 turn round?</b></p>

    <p>Way too long:  <b>@Math.Round(Num4_Choice1, 1) %</b></p>

    <p>A little too long:  <b>@Math.Round(Num4_Choice2, 1) %</b></p>

    <p>Just the right length:  <b>@Math.Round(Num4_Choice3, 1) %</b></p>

    <p>A little too short:  <b>@Math.Round(Num4_Choice4, 1) %</b></p>

    <p>Way too short:  <b>@Math.Round(Num4_Choice5, 1) %</b></p>

    <hr>

    <p><b>What other new features would you like to see in the game not listed above?</b></p>

    @{
        foreach (var e in Model.Where(p => !string.IsNullOrEmpty(p.String1)))
        {
            <p>"@e.String1"</p><br>
        }
    }
</div>
