@model IEnumerable<TT.Domain.ViewModels.SkillViewModel2>
@using TT.Web.CustomHtmlHelpers

    <p id="youAreAttacking">You are attacking @ViewBag.TargetName.</p>  
    <p>This spell will cost you <b>@ViewBag.ManaCost</b> mana to cast against this opponent.</p>
    <span id="attackClose" onclick="closeAttackModal()">Cancel</span>
@Html.ActionLink("Challenge to Duel", "IssueChallenge", "Duel", new { id = ViewBag.TargetId }, new { @id = "duel_challenge" })
<span id="expand" onclick="expandModal()">Expand</span>
    <span id="toggle_all" onclick="toggleAll()">All</span>
    <span id="toggle_animates" onclick="toggleAnimates()">Animate</span>
    <span id="toggle_inanimates" onclick="toggleInanimates()">Inanimate</span>
    <span id="toggle_animal" onclick="toggleAnimal()">Pet/Animal</span>
    <span id="toggle_mindcontrol" onclick="toggleMindControl()">Mind Control</span>
    <span id="toggle_other" onclick="toggleOthers()">Other</span>
<span>@Html.ActionLink("View/Archive My Spells", "MySkills", "PvP", null, new {@id="toggle_mindcontrol"})</span>

    <br /><br />

@{ 
    if (ViewBag.Recovered == true)
    {
        <p class="bad">@Html.Raw(ViewBag.RecoveredMsg)</p>
    }
}


<span id="lastAttack"></span>

    @foreach (TT.Domain.ViewModels.SkillViewModel2 s in Model.OrderBy(s => s.Skill.FriendlyName))
    {


        <span>
            @Html.ActionLink(s.Skill.FriendlyName, "Attack", "PvP", new { targetId = ViewBag.TargetId, attackName = s.dbSkill.Name }, new { @class = CharactersHere.GetSpellTypeClass(s), @manacost = s.Skill.ManaCost })
        </span>

    }

<script>

    function expandModal() {
        var modal = $("#attackModal");
        modal.css("height", "100%");
        modal.css("width", "100%");
        modal.css("left", 0);
        modal.css("top", 0);

        $("#expand").hide();

        $(".action_attack").each(function () {
            $(this).css("font-size", "20px");

        });
    }

    function toggleAll() {

        var spellLinks = $("#attackModal a");
        spellLinks.each(function () {
            $(this).show();
           // alert($(this).attr('class'));
        });

    }

    function toggleAnimates() {
        var spellLinks = $("#attackModal a");
        spellLinks.each(function () {
            if ($(this).attr('class') == "action_attack full") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    function toggleInanimates() {
        var spellLinks = $("#attackModal a");
        spellLinks.each(function () {
            if ($(this).attr('class') == "action_attack inanimate") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    function toggleAnimal() {
        var spellLinks = $("#attackModal a");
        spellLinks.each(function () {
            if ($(this).attr('class') == "action_attack animal") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }


    function toggleMindControl() {
        var spellLinks = $("#attackModal a");
        spellLinks.each(function () {
            if ($(this).attr('class') == "action_attack mindcontrol") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    function toggleOthers() {
        var spellLinks = $("#attackModal a");
        spellLinks.each(function () {
            if ($(this).attr('class') == "action_attack weaken" || $(this).attr('class') == "action_attack curse") {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }





   

</script>

