@model TT.Domain.ViewModels.ChatLogViewModel
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = $"Chat Log - {Model.RoomName}";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li>
        <a href="@Url.Action(MVC.Chat.Index("global"))">Global</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Chat.Index("rp1"))">RP Room 1</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Chat.Index("rp2"))">RP Room 2</a>
    </li>
    <li><a href="@Url.Action(MVC.Chat.Index("rp3"))">RP Room 3</a></li>
    <li>
        <a href="@Url.Action(MVC.Chat.PrivateChat())">Create/Join Private Room</a>
    </li>
    <li><a href="@Url.Action(MVC.Chat.ChatCommands())" target="_blank">Commands</a></li>
}

@section menubottom
{
    <li><a href="@Url.Action(MVC.Chat.ChatLog(Model.Room, "lasth"))">Last Hour</a></li>
    <li>
        <a href="@Url.Action(MVC.Chat.ChatLog(Model.Room, "last4h"))">Last 4 Hours</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Chat.ChatLog(Model.Room, "last12h"))">Last 12 Hours</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Chat.ChatLog(Model.Room, "last24h"))">Last Day</a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Chat.ChatLog(Model.Room, "last48h"))">Last 2 Days</a>
    </li>
    <li><a href="@Url.Action(MVC.Chat.ChatLog(Model.Room, "last72h"))">Last 3 Days</a></li>
}

<div class="containerInner">
    <h2>Chat Log for Room '@Model.RoomName'</h2>
    <p>Note that <b>oldest posts are on top</b>, not newest.  You can use the links before to change the filter time; longer durations will take longer to load.  Please be patient and use the longer filters sparingly.  Any chat messages older than 3 days are eligible for permanent deletion.</p>
    <p>Chat log for private room:</p>
    @using (Html.BeginForm(MVC.Chat.ChatLog(), FormMethod.Get))
    {
        @Html.LabelFor(m => m.Room, "Room name:")
        <br>
        @Html.TextBoxFor(m => m.Room)
        @Html.HiddenFor(m => m.Filter)
        <button type="submit">View Logs</button>
    }

    <ul id="discussion">

        @{
            foreach (var l in Model.ChatLog)
            {
                <li>
                    <img src="@l.PortraitUrl">
                    <strong style="color: @l.Color">@l.Name:</strong>
                    @l.Message
                    <span class="timeago">@HtmlHelpers.DatetimeToTimeago(l.Timestamp)</span>
                </li>
            }
        }

    </ul>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("li").each(function () {
                var encodedValue = $(this).html();
                encodedValue = encodedValue.replace("[.[", "<span class='timeago'>");
                encodedValue = encodedValue.replace("].]", "</span>");
                encodedValue = encodedValue.replace("[-[", "<span class='enterMsg'>");
                encodedValue = encodedValue.replace("]-]", "</span>");
                encodedValue = encodedValue.replace("[=[", "<span class='dm'>");
                encodedValue = encodedValue.replace("]=]", "</span>");
                encodedValue = encodedValue.replace("[+[", "<span class='me'>");
                encodedValue = encodedValue.replace("]+]", "</span>");
                encodedValue = encodedValue.replace("Judoo (admin)", "<span class='adminFont'>Judoo (admin)</span>");
                encodedValue = encodedValue.replace("Annabelle (Admin)", "<span style='color:mediumvioletred;'>Annabelle (Admin)</span>");
                $(this).html(encodedValue);
            });
        });
    </script>
}