<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", MVC.PvP.Play())</li>
                <li>@Html.ActionLink("Back to My Covenant", MVC.Covenant.MyCovenant())</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner">

    <h3>Covenant Administration</h3>

    <p>You can administer your covenant here.  When you expand your covenant safeground you increase your covenant's level by 1 which allows it to hold more furniture and increase the action point refill bonus from resting in the covenant's safeground.</p>

    @{
        if (ViewBag.LeaderOrCaptain == "leader")
        {
            <p>
                @Html.ActionLink("View Applications", MVC.Covenant.ReviewMyCovenantApplications())<br />
                @Html.ActionLink("Change Covenant Description", MVC.Covenant.ChangeCovenantDescription())<br />
                @Html.ActionLink("Promote a member to a captain", MVC.Covenant.InviteCaptainList())<br />
                @Html.ActionLink("Promote a member to a leader", MVC.Covenant.InviteLeaderList())<br />
                @Html.ActionLink("Kick Out a Member", MVC.Covenant.KickList())<br />
                @Html.ActionLink("Message all members of your covenant", MVC.Messages.CovenantWideMessage())<br />
                @Html.ActionLink("Claim your location as a Covenant safeground", MVC.Covenant.ClaimLocation())<br />
                @Html.ActionLink("Expand Covenant Safeground (" + (string)ViewBag.UpgradeCost + " Arpeyjis)", MVC.Covenant.UpgradeSafeground())<br />
            </p>
        }
    }
</div>