@model TT.Domain.ViewModels.CovenantViewModel
@using TT.Domain.ViewModels
@using TT.Domain.Statics

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
                <li><a href="@Url.Action(MVC.Covenant.CovenantList())">View All Covenants</a></li>
                <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="containerInner text-center">
    <p class="covHeader"><span class="covName">@Model.dbCovenant.Name</span></p>
    <p>
        <b>@Model.dbCovenant.SelfDescription</b>
    </p>
    <p>
                @{
            if (!Model.dbCovenant.HomeLocation.IsNullOrEmpty())
            {
                <i>This covenant has a safeground at <b>@LocationsStatics.LocationList.GetLocation.FirstOrDefault(l => l.dbName == Model.dbCovenant.HomeLocation).Name</b> and has enchanted <b>@ViewBag.LocationsControlled</b> locations.</i>
            }
        }
    </p>
    <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.Leader.Id))">Led by @Model.Leader.GetFullName()</a>
</div>

<div class="onlinePlayersWrapperBG">
    <div class="row">
@foreach (PlayerFormViewModel p in Model.Members.OrderByDescending(c => c.Player.Level).ThenByDescending(c => c.Player.XP))
    {
                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>

                          @Html.Partial(MVC.PvP.Views.Player_Partial, p)     
                            </p>
                        </div>
                    </div>
                </div>
    }
    </div>
</div>
