@model TT.Domain.ViewModels.CovenantViewModel
@using TT.Domain.Statics
@{
    ViewBag.Title = "My Covenant";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.CovenantList())">View all Covenants</a></li>
    @{
        if (Model.dbCovenant != null)
        {
            <li><a href="@Url.Action(MVC.Chat.Index($"coven_{Model.dbCovenant.Id}"))" target="_blank">Chat</a></li>
        }
    }
    <li><a href="@Url.Action(MVC.Covenant.ViewAvailableFurniture())">Buy Furniture</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenantFurniture())">Use Furniture</a></li>
    @{
        if (Model.dbCovenant != null)
        {
            <li><a href="javascript:confirmDeletion()">Leave Covenant</a></li>
        }

        if (Model.dbCovenant != null && ViewBag.Player.Id == Model.dbCovenant.LeaderId)
        {
            <li><a href="@Url.Action(MVC.Covenant.CovenantLeaderAdmin())">Leader</a></li>
        }

        //leader and captains have access to this
        if (Model.dbCovenant != null && (TT.Domain.Procedures.CovenantProcedures.PlayerIsCaptain(Model.dbCovenant, ViewBag.Player)|| ViewBag.Player.Id == Model.dbCovenant.LeaderId))
        {
            <li><a href="@Url.Action(MVC.Covenant.ChangeNoticeboardMessage())">Update notice</a></li>
        }

        <li><a href="@Url.Action(MVC.Covenant.MyCovenantLog())">Coven Log</a></li>

        if (User.IsInRole(PvPStatics.Permissions_Moderator) || User.IsInRole(PvPStatics.Permissions_Admin))
        {
            <li><a href="@Url.Action(MVC.Chat.ChatLog($"coven_{Model.dbCovenant.Id}", "lasth"))" target="_blank">Moderate Chat</a></li>
        }
    }
}

<div class="containerInner text-center">

    <div id="realLink" class="deleteMessegeConfirm">
        <span style="color:red; font-weight: bold;">Do you really want to leave your covenant? If yes then please click link below:</span>
        <a href="@Url.Action(MVC.Covenant.LeaveCovenant())">Leave this Covenant</a><br>
    </div>

    @{

        if (!Model.dbCovenant.NoticeboardMessage.IsNullOrEmpty())
        {
            <p id="noticeboardTitle">Noticeboard:</p>
            <p id="noticeboardMessage">@Model.dbCovenant.NoticeboardMessage</p>
        }

        if (Model.dbCovenant != null)
        {
            <div class="covFlag" style="background-image: url(https://images.transformaniatime.com/CovenantFlags/@Model.dbCovenant.FlagUrl)"></div>
            <p class="covHeader">You are a member of <span class="covName">@Model.dbCovenant.Name.</span></p>
            <p style="margin-bottom:1px;"><b>@Model.dbCovenant.SelfDescription</b></p>

            if (ViewBag.Player.Id == Model.dbCovenant.LeaderId)
            {
                <b>You are this covenant's leader.</b>
            }
            else
            {
                <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.Leader.Id))">Led by @Model.Leader.GetFullName()</a>
            }

            if (!Model.dbCovenant.HomeLocation.IsNullOrEmpty())
            {
                <i>This covenant has a level <b>@Model.dbCovenant.Level</b> safeground at @LocationsStatics.LocationList.GetLocation.FirstOrDefault(l => l.dbName == Model.dbCovenant.HomeLocation).Name and has enchanted <b>@ViewBag.LocationsControlled</b> locations.</i>
            }

            <p style="margin-bottom:-15px;">Arpeyjis in treasury:  <b>@Math.Floor(Model.dbCovenant.Money)</b><span title="Arpeyjis" class="icon icon-money"></span></p>

            <br><p>
                You can send some of your Arpeyjis to your covenant where your covenant leader can choose to distribute the covenant's Arpeyjis to its members in need.  You must not have been in combat for @TurnTimesStatics.GetMinutesSinceLastCombatBeforeQuestingOrDuelling() minutes in order to do this.  How many would you like to send?
                <br>You have <b>@ViewBag.MyMoney</b> Arpeyjis.
            </p>

            <a href="@Url.Action(MVC.Covenant.AddToCovenantChest(20))">20</a><span title="Arpeyjis" class="icon icon-money"></span>
            <a href="@Url.Action(MVC.Covenant.AddToCovenantChest(100))">100</a><span title="Arpeyjis" class="icon icon-money"></span>
            <a href="@Url.Action(MVC.Covenant.AddToCovenantChest(500))">500</a><span title="Arpeyjis" class="icon icon-money"></span>

            <div style="clear:both"></div>




        }
    }
</div>

@{
    if (Model.dbCovenant != null)
    {
        <div class="onlinePlayersWrapperBG">
            <div class="row boxContainer">


                @{
        foreach (var p in Model.Members.OrderByDescending(c => c.Player.Level).ThenByDescending(c => c.Player.XP))
        {
            <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                <div class="charaBoxInner">
                    <div>
                        <p>
                            @Html.Partial(MVC.PvP.Views.Player_Partial, p)
                            @if (ViewBag.Player.Id == Model.dbCovenant.LeaderId || ViewBag.IAmCaptain)
                            {
                                <a href="@Url.Action(MVC.Covenant.GiveMoneyFromCovenantChest(p.Player.Id, 20))">20</a>
                                <a href="@Url.Action(MVC.Covenant.GiveMoneyFromCovenantChest(p.Player.Id, 100))">100</a>
                                <a href="@Url.Action(MVC.Covenant.GiveMoneyFromCovenantChest(p.Player.Id, 500))">500</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
                }


            </div>
        </div>

    }
    else
    {
        <b>You are not currently in a covenant.</b>
    }

}

@section scripts
{
    <script>
    function confirmDeletion() {
        document.getElementById('realLink').style.display = "block";
    }
    </script>
}