@model IEnumerable<TT.Domain.ViewModels.CovenantApplicationViewModel>
           @using TT.Domain.ViewModels
            @using TT.Web.CustomHtmlHelpers

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", MVC.PvP.Play())</li>
                <li>@Html.ActionLink("Back to My Covenant", MVC.Covenant.MyCovenant())</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner">
    <h3>Review Applications</h3>

    @{
        foreach (CovenantApplicationViewModel app in Model)
        {
            <p>
                @app.dbPlayer.GetFullName() applied @CharactersHere.DatetimeToTimeago(app.dbCovenantApplication.Timestamp)
                @Html.ActionLink("Accept", MVC.Covenant.ApplicationResponse(app.dbCovenantApplication.Id, "yes"))
                @Html.ActionLink("Deny", MVC.Covenant.ApplicationResponse(app.dbCovenantApplication.Id, "no"))
            </p>
        }

        if (!Model.Any())
        {
            <p><b>You do not have any applications at this time.</b></p>
        }

    }
</div>