@model IEnumerable<TT.Domain.ViewModels.CovenantApplicationViewModel>
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Covenant Applications";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">
    <h3>Review Applications</h3>

    @{
        foreach (var app in Model)
        {
        <p>
            <a href="@Url.Action(MVC.PvP.LookAtPlayer(app.dbPlayer.Id))">@app.dbPlayer.GetFullName()</a> applied @HtmlHelpers.DatetimeToTimeago(app.dbCovenantApplication.Timestamp)
            <a href="@Url.Action(MVC.Covenant.ApplicationResponse(app.dbCovenantApplication.Id, "yes"))">Accept</a>
            <a href="@Url.Action(MVC.Covenant.ApplicationResponse(app.dbCovenantApplication.Id, "no"))">Deny</a>
        </p>
        }

        if (!Model.Any())
        {
            <p><b>You do not have any applications at this time.</b></p>
        }

    }
</div>