@using TT.Domain.Statics
<li><a href="@Url.Action(MVC.PvP.Play())">Home</a></li>
<li><a href="@Url.Action(MVC.Info.GameNews())">News (@PvPStatics.LastGameUpdate)</a></li>
<li><a href="@Url.Action(MVC.Info.HowToPlay())">How to Play</a></li>
<li><a href="@Url.Action(MVC.Leaderboard.PvPLeaderboard())">Leaderboard</a></li>
<li><a href="@Url.Action(MVC.Info.Donate())">Donate?</a></li>
<li><a href="@Url.Action(MVC.Settings.ViewPolls())">Polls</a></li>
<li><a href="@Url.Action(MVC.Info.RecentRPClassifieds())">RP Classifieds</a></li>