@model TT.Domain.Models.PollEntry

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Settings.ViewPolls())">View All Polls</a></li>
}

<div class="containerInner text-center">
    <h1>How open are you about your transformation or fetish interests to friends and family?</h1>

    <p>All questions are optional and all responses are anonymous.  There are many more possibilities for some of the dropdown questions here; if you feel one is missing please post in the forums and we will add it in.You can return to edit your answers later.  Text inputs have a maximum of 500 characters.</p>

    <p>For the sake of this poll, the term "met" included any face-to-face interaction or ongoing webcam chats in which all participants were on camera.</p>

    <hr>

    @using (Html.BeginForm(MVC.Settings.ReplyToPoll(), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.PollId)
        <p>How open are you about your transformation or general fetish interests to friends and family?</p>
        @Html.DropDownListFor(i => i.Num1, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                      new { value = "1"  , text = "Very open; I tell most anyone I meet"  },
                        new { value = "2"  , text = "Somewhat open; I tell friends and family"  },
                        new { value = "3"  , text = "Somewhat reserved; I tell only my closest friends and family whom I generally trust"  },
                        new { value = "4"  , text = "Very reserved; I have told very few people whom I trust very closely"  },
                        new { value = "5"  , text = "Extremely reserved; I have not told anyone nor plan to in the near future"  },
                    },
                  "value",
                  "text",
                   2))

        <hr>

        <p>Would you / have you met up with someone in real life whom you met from Transformania Time or another adult/fetish site?</p>
        @Html.DropDownListFor(i => i.Num2, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                      new { value = "1"  , text = "I have already met more than two people and am willing to meet more"  },
                      new { value = "2"  , text = "I have met one or two people and am willing to meet more"  },
                      new { value = "3"  , text = "I have not met anyone but am willing to meet some"  },
                      new { value = "4"  , text = "I have not met anyone and am somewhat unwilling to meet some"  },
                      new { value = "5"  , text = "I have not met anyone and would never meet anyone"  },
                    },
                  "value",
                  "text",
                   2))

        <hr>

        <p>Tell about the first time you talked to a friend or family member about your transformation interests, if any.</p>
        @Html.ValidationMessageFor(m => m.String1)
        @Html.TextAreaFor(m => m.String1, new { @class = "pollTextArea" })

        <hr>

        <p>If you <b class="good">DO</b> want or <b class="good">ALREADY HAVE</b> met with anyone from TT or another adult/fetish site, what are/were your reasons?</p>
        @Html.ValidationMessageFor(m => m.String2)
        @Html.TextAreaFor(m => m.String2, new { @class = "pollTextArea" })

        <hr>

        <p>If you <b class="bad">DO NOT</b> want to meet with anyone from TT or another adult/fetish site, what are your reasons?</p>
        @Html.ValidationMessageFor(m => m.String3)
        @Html.TextAreaFor(m => m.String3, new { @class = "pollTextArea" })

        <hr>

        <p>Leave any other thoughts you think might be relevant to this poll.</p>
        @Html.ValidationMessageFor(m => m.String4)
        @Html.TextAreaFor(m => m.String4, new { @class = "pollTextArea" })



            <input type="submit" value="Submit">
    }

</div>
