@model TT.Domain.Models.PollEntry

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("View All Polls", "ViewPolls", "Settings")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<p class="infoMessage error">@ViewBag.Error</p>
<div class="containerInner text-center">
    <h1>What features would you like to see added the most?</h1>

    <p>You can return to edit your answers later.  Text inputs have a maximum of 500 characters.</p>

    @using (Html.BeginForm("ReplyToPoll", "Settings", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>What game mechanic would you like to see added first?  (First preference)</p>
        @Html.DropDownListFor(i => i.Num1, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Questing system"  },
                       new { value = "2"  , text = "More RP game mechanics"  },
                       new { value = "3"  , text = "More PvP game mechanics--covenant wars, etc"  },
                       new { value = "4"  , text = "1v1 Duels"  },
                       new { value = "5"  , text = "More bosses and world events"  },
                       new { value = "6"  , text = "Mind-control type transformation"  },
                       new { value = "7"  , text = "Absorption type transformation"  },

                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>What game mechanic would you like to see added first?  (Second preference).  Please do not duplicate the answer selected above.</p>
        @Html.DropDownListFor(i => i.Num2, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Questing system"  },
                       new { value = "2"  , text = "More RP game mechanics"  },
                       new { value = "3"  , text = "More PvP game mechanics--covenant wars, etc"  },
                        new { value = "4"  , text = "1v1 Duels"  },
                       new { value = "5"  , text = "More bosses and world events"  },
                       new { value = "6"  , text = "Mind-control type transformation"  },
                       new { value = "7"  , text = "Absorption type transformation"  },

                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>What game mechanic would you like to see added first?  (Third preference).  Please do not duplicate either answer selected above.</p>
        @Html.DropDownListFor(i => i.Num3, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Questing system"  },
                       new { value = "2"  , text = "More RP game mechanics"  },
                       new { value = "3"  , text = "More PvP game mechanics--covenant wars, etc"  },
                        new { value = "4"  , text = "1v1 Duels"  },
                       new { value = "5"  , text = "More bosses and world events"  },
                       new { value = "6"  , text = "Mind-control type transformation"  },
                       new { value = "7"  , text = "Absorption type transformation"  },

                    },
                  "value",
                  "text",
                   2))




        <hr />

        <p>What other new features would you like to see in the game not listed above?</p>
        @Html.ValidationMessageFor(m => m.String1)
        @Html.TextAreaFor(m => m.String1, new { @class = "pollTextArea" })

        <hr />

        <p>How did you feel about the 3000 turn round?</p>
        @Html.DropDownListFor(i => i.Num4, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Way too long"  },
                       new { value = "2"  , text = "A little too long"  },
                       new { value = "3"  , text = "Just the right length"  },
                       new { value = "4"  , text = "A little too short"  },
                       new { value = "5"  , text = "Way too short"  },


                    },
                  "value",
                  "text",
                   2))

        <hr />

        <input type="submit" value="Submit" />
    }
</div>