@model TT.Domain.Models.PollEntry

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("View All Polls", "ViewPolls", "Settings")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<p class="infoMessage error">@ViewBag.Error</p>
<div class="containerInner text-center">
    <h1>Tell us a little about yourself.</h1>

    <p>All questions are optional and all responses are anonymous.  There are many more possibilities for some of the dropdown questions here; if you feel one is missing please post in the forums and we will add it in.You can return to edit your answers later.  Text inputs have a maximum of 500 characters.</p>

    <hr />

    @using (Html.BeginForm("ReplyToPoll", "Settings", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.PollId)
        <p>What is your biological sex?  (Defined as the biological makeup of an individual's reproductive anatomy or secondary sex characteristics.)</p>
        @Html.DropDownListFor(i => i.Num1, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Male"  },
                       new { value = "2"  , text = "Female"  },
                       new { value = "3"  , text = "Transsexual (male to female)"  },
                       new { value = "4"  , text = "Transsexual (female to male)"  },
                       new { value = "5"  , text = "Intersex / Other"  },

                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>What is your self-identified gender?  (Defined as culturally learned or personal identification of one's own gender based on an internal awareness.)</p>
        @Html.DropDownListFor(i => i.Num2, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Male"  },
                       new { value = "2"  , text = "Female"  },
                       new { value = "3"  , text = "Bigender"  },
                       new { value = "4"  , text = "Genderless"  },
                       new { value = "5"  , text = "Questioning"  },

                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>What is your sexual orientation?</p>
        @Html.DropDownListFor(i => i.Num3, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "Heterosexual"  },
                       new { value = "2"  , text = "Gay"  },
                       new { value = "6"  , text = "Lesbian"  },
                       new { value = "3"  , text = "Bisexual"  },
                       new { value = "4"  , text = "Asexual"  },
                       new { value = "5"  , text = "Questioning"  },

                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>What range does your age fall under?</p>
        @Html.DropDownListFor(i => i.Num4, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                       new { value = "1"  , text = "18 to 22"  },
                       new { value = "2"  , text = "23 to 27"  },
                       new { value = "3"  , text = "28 to 33"  },
                       new { value = "4"  , text = "34 to 40"  },
                        new { value = "5"  , text = "41 to 48"  },
                        new { value = "6"  , text = "49 to 64"  },
                        new { value = "7"  , text = "65+"},


                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>What is your relationship status?</p>
        @Html.DropDownListFor(i => i.Num5, new SelectList(
                  new List<Object>{
                      new { value = "0"  , text = "---please select a choice---"  },
                      new { value = "1"  , text = "Single"  },
                      new { value = "2"  , text = "In a relationship but not married or in a legal union"  },
                      new { value = "3"  , text = "Married or in a legal union"  },



                    },
                  "value",
                  "text",
                   2))

        <hr />

        <p>How and when did you first discover that you had an interest in transformation?</p>
        @Html.ValidationMessageFor(m => m.String1)
        @Html.TextAreaFor(m => m.String1, new { @class = "pollTextArea" })

        <hr />

        <p>What's a fun or random fact about yourself?</p>
        @Html.ValidationMessageFor(m => m.String2)
        @Html.TextAreaFor(m => m.String2, new { @class = "pollTextArea" })

        <hr />

        <p>How did you learn about Transformania Time?</p>
        @Html.ValidationMessageFor(m => m.String3)
        @Html.TextAreaFor(m => m.String3, new { @class = "pollTextArea" })


        <input type="submit" value="Submit" />
    }

</div>
