@model tfgame.dbModels.Models.AuthorArtistBio

<h1>Author / Artist Biography</h1>

@Html.ActionLink("Back to game", "PvP", "Play")

<p>@ViewBag.IngameCharacter</p>

@{
    if (@Model.OtherNames !=  null && @Model.OtherNames != "")
    {
        <h1>Common Names</h1>
        <h2>@Model.OtherNames</h2>
    }
}

@{
    if (@Model.Email != null && @Model.Email != "")
    {
        <h1>Email</h1>
        <h3>@Model.Email</h3>
    }
}

<h2>Comission Information</h2>

@{
    if (@Model.AcceptingComissions != null && @Model.AcceptingComissions == 0)
    {
        <h3 class="bad">This artist does not take comissions.</h3>
    }
    else if (@Model.AcceptingComissions != null && @Model.AcceptingComissions == 1)
    {
        <h3 class="good">This artist is always open for comissions!</h3>
    }
    else if (@Model.AcceptingComissions != null && @Model.AcceptingComissions == 2)
    {
        <h3 class="bad">This artist normally takes comissions but they are currently closed.</h3>
    }
    else if (@Model.AcceptingComissions != null && @Model.AcceptingComissions == 3)
    {
        <h3 class="bad">This artist does not take comissions but plans to in the future.</h3>
    }

}

@{
    if (@Model.Url1 != null && @Model.Url1 != "")
    {
        <h1>Primary website</h1>
        <h3>@Model.Url1</h3>
    }
}

@{
    if (@Model.Url2 != null && @Model.Url2 != "")
    {
        <h1>Secondary website</h1>
        <h3>@Model.Url2</h3>
    }
}

@{
    if (@Model.Url3 != null && @Model.Url3 != "")
    {
        <h1>Other website</h1>
        <h3>@Model.Url3</h3>
    }
}


@{
    if (@Model.Text != null && @Model.Text != "")
    {
        <h1>More About this Artist!</h1>
        <span>@Html.Raw(Model.Text)</span>
    }
}

@{
    if (@Model.Text != null && @Model.Text != "")
    {
        <h1>More About this Artist!</h1>
        <span>@Html.Raw(Model.Text)</span>
    }
}

<h1>Animate Graphics</h1>
@{
    IEnumerable<string> animateGraphics = Model.AnimateImages.Split(';');
    foreach (string s in animateGraphics)
    {
        <img src="/Images/PvP/portraits/@s" style="width: 300px; height: 300px;" />
    }
}

<h1>Inanimate Graphics</h1>
@{
    IEnumerable<string> inanimateGraphics = Model.InanimateImages.Split(';');
    foreach (string s in inanimateGraphics)
    {
        <img src="/Images/PvP/itemsPortraits/@s" style="width: 300px; height: 300px;" />
    }
}

<h1>Animal Graphics</h1>
@{
    IEnumerable<string> animalGraphics = Model.AnimalImages.Split(';');
    foreach (string s in animalGraphics)
    {
        <img src="/Images/PvP/animalPortraits/@s" style="width: 300px; height: 300px;" />
    }
}


<p class="timeago">Last updated @Model.LastUpdated</p>