@model IEnumerable<tfgame.dbModels.Models.RPClassifiedAd>

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("RP Classifieds", "RecentRPClassifieds", "Info")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result">@TempData["Result"]</p>
    <p class="infoMessage error">@TempData["Error"]</p>
    <p class="infoMessage suberror">@TempData["SubError"]</p>
</div>


<div class="containerInner">
    <h1>Your RP Classified Ads</h1>

    <p>Below are all of the RP Classified Ads created by you.  You can only have 3 ads open at a time so make them count!</p>

    <br />

    @{
        foreach (tfgame.dbModels.Models.RPClassifiedAd ad in Model.OrderByDescending(m => m.RefreshTimestamp))
        {
            <p><i>@ad.Text</i></p>
            <p><span class="good">Desired themes:  </span>@ad.YesThemes</p>
            <p><span class="bad">Undesired themes:  </span>@ad.NoThemes</p>
            <p class="timeago">Created @tfgame.CustomHtmlHelpers.CharactersHere.DatetimeToTimeago(ad.CreationTimestamp)</p>
            <p class="timeago">Last Refreshed @tfgame.CustomHtmlHelpers.CharactersHere.DatetimeToTimeago(ad.RefreshTimestamp)</p>

            @Html.ActionLink("Edit Ad", "EditRPClassifiedAd", "Settings", new { id = ad.Id }, null)<br />
        @Html.ActionLink("Refresh Ad", "RefreshRPClassifiedAd", "Settings", new { id = ad.Id }, null)<br />
            @Html.ActionLink("Delete Ad", "DeleteRPClassifiedAd", "Settings", new { id = ad.Id }, null)<br />
            <hr />
        }

        <br />        <br />


        if (Model.Count() < 3)
        {
            @Html.ActionLink("New Ad", "EditRPClassifiedAd", "Settings", new { id = -1 }, null)
        }


    }

</div>