@model IEnumerable<tfgame.ViewModels.PlayerAchievementViewModel>
@using tfgame.Procedures
@using tfgame.ViewModels

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        @{
            foreach (string f in tfgame.Procedures.StatsProcedures.StatTypesMap.Keys)
            {
                PlayerAchievementViewModel ach = Model.FirstOrDefault(a => a.Achivement.AchievementType == f);
                <div class="col-md-4 stats-leader">
                    <img src="~/Images/PvP/Icons/@StatsProcedures.StatTypesMap[f].ImageUrl" style="height:100px; width: 100px; margin: 3px; float:right;" /> 
                    <img src="@tfgame.CustomHtmlHelpers.CharactersHere.GetImageURL(ach.Player, true)" style="height:100px; width: 100px; margin: 3px; float:left;" />
                    <h3 style="margin-top:110px !important;">@StatsProcedures.StatTypesMap[f].FriendlyName</h3>
                    <p><i>@StatsProcedures.StatTypesMap[f].Description:</i> <b>@ach.Achivement.Amount</b></p>
                    <p>@Html.ActionLink(ach.Player.Player.GetFullName(), "LookAtPlayer", "PvP", new { id = ach.Player.Player.Id }, null)</p>
                    
                </div>
                                
            }
        }
    </div>



</div>