@using tfgame.Procedures
@using tfgame.dbModels.Models

@model IEnumerable<Achievement>

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
               <li>@Html.ActionLink("Look at Player", "LookAtPlayer", "PvP", new { id = ViewBag.PlayerId }, null)</li>
                <li>@Html.ActionLink("Global Statistics", "PlayerStatsLeaders", "Settings")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div class="containerInner">
    <h1>@ViewBag.Name's Round Statistics</h1>
    <p>Times moved:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesMoved).Sum(x => x.Amount)</p>
    <p>Times searched:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__SearchCount).Sum(x => x.Amount)</p>
    <p>Spells cast:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__SpellsCast).Sum(x => x.Amount)</p>
    <p>Enchantments cast:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesEnchanted).Sum(x => x.Amount)</p>
    <p>Times meditated:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesMeditated).Sum(x => x.Amount)</p>
    <p>Times cleansed:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesCleansed).Sum(x => x.Amount)</p>
    <p>Arpeyjis donated to covenant:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__CovenantDonationTotal).Sum(x => x.Amount)</p>
    <p>Arpeyjis received from covenant:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__CovenantGiftsReceived).Sum(x => x.Amount)</p>

    <p>Times transformed into an animate form:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesAnimateTFed).Sum(x => x.Amount)</p>
    <p>Times transformed into an inanimate form:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesInanimateTFed).Sum(x => x.Amount)</p>
    <p>Times transformed into a pet form:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesAnimalTFed).Sum(x => x.Amount)</p>

    <p>Targets transformed into an animate form:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesAnimateTFing).Sum(x => x.Amount)</p>
    <p>Targets transformed into an inanimate form:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesInanimateTFing).Sum(x => x.Amount)</p>
    <p>Targets transformed into a pet form:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesAnimalTFing).Sum(x => x.Amount)</p>

    <p>Psychopathic Spellslingers Defeated:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__PsychopathsDefeated).Sum(x => x.Amount)</p>


    <p>Scrolls of Teleportation used:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__TimesTeleported_Scroll).Sum(x => x.Amount)</p>
    <p>Times played with Jewdewfae:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__JewdewfaeEncountersCompleted).Sum(x => x.Amount)</p>
    <p>Tomes read:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__LoreBooksRead).Sum(x => x.Amount)</p>

    <p>Inanimate XP gained:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__InanimateXPEarned).Sum(x => x.Amount)</p>
    <p>Animal/Pet XP gained:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__PetXPEarned).Sum(x => x.Amount)</p>

    <p>Arpeyjis spent buying from Lindella:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__LindellaCostsAmount).Sum(x => x.Amount)</p>
    <p>Arpeyjis earned from selling to Lindella:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__LindellaProfitsAmount).Sum(x => x.Amount)</p>

    <p>Arpeyjis spent buying from Wüffie:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__WuffieCostsAmount).Sum(x => x.Amount)</p>
    <p>Arpeyjis earned from selling to Wüffie:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__WuffieProfitsAmount).Sum(x => x.Amount)</p>

    <p>Dungeon Artifacts Found:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__DungeonArtifactsFound).Sum(x => x.Amount)</p>
    <p>Dungeon demons defeated:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__DungeonDemonsDefeated).Sum(x => x.Amount)</p>
    <p>Dungeon points stolen from other players:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__DungeonPointsStolen).Sum(x => x.Amount)</p>
    <p>Times moved in Dungeon:  @Model.Where(a => a.AchievementType == StatsProcedures.Stat__DungeonMovements).Sum(x => x.Amount)</p>

</div>