@model TT.Domain.ViewModels.Quest.QuestsAtLocationViewModel
@{
    ViewBag.Title = "Quests Available Here";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">

    <h1>Available Quests (@Model.AvailableQuests.Count())</h1>

    @{
        foreach (var s in Model.AvailableQuests)
        {
            <div class="text-center" style="border: 4px solid #A16969; padding: 5px; padding-bottom: 10px;">
                <p><a href="@Url.Action(MVC.Quest.StartQuest(s.Id))" class="attackLink">Begin</a></p>
                <h4>@s.Name</h4>
                <p><i>@s.Description</i></p><br>
                <p><b>Themes:  @s.Tags</b></p>

                @{
                    if (s.MinStartLevel > 0)
                    {
                        <p>Minimum player level:  @s.MinStartLevel</p>
                    }
                    if (s.MaxStartLevel < 99999)
                    {
                        <p>Maximum player level:  @s.MaxStartLevel</p>
                    }
                    if (s.MinStartTurn > 0)
                    {
                        <p>Minimum game turn:  @s.MinStartTurn</p>
                    }
                    if (s.MaxStartTurn < 99999)
                    {
                        <p>Maximum game turn:  @s.MaxStartTurn</p>
                    }
                }

            </div>
        }
    }

    <h1 style="margin-top: 20px !important;">All Quests (@Model.AllQuests.Count(q => q.IsLive))</h1>

    @{
        foreach (var s in Model.AllQuests.Where(q => q.IsLive))
        {
            <div class="text-center" style="border: 4px solid #A16969; padding: 5px; padding-bottom: 10px;">
                <h4>@s.Name</h4>
                <p><i>@s.Description</i></p><br>
                <p><b>Themes:  @s.Tags</b></p>

                @{
                    if (s.MinStartLevel > 0)
                    {
                        <p>Minimum player level:  @s.MinStartLevel</p>
                    }
                    if (s.MaxStartLevel < 99999)
                    {
                        <p>Maximum player level:  @s.MaxStartLevel</p>
                    }
                    if (s.MinStartTurn > 0)
                    {
                        <p>Minimum game turn:  @s.MinStartTurn</p>
                    }
                    if (s.MaxStartTurn < 99999)
                    {
                        <p>Maximum game turn:  @s.MaxStartTurn</p>
                    }
                }

            </div>
        }
    }

</div>