<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "Info")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "Info")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "Info")</li>
                <li>@Html.ActionLink("Equipment Helper", "GearTool", "Info")</li>
                <li>@Html.ActionLink("Server Population By Turn", "ServerPopulation", "Info")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">

    Misc Links:  <span class="glyphicon glyphicon-star-empty"></span><a href="https://www.zeemaps.com/map?group=1523025#">Unofficial TT Nuclear Strike Map</a>, <span class="glyphicon glyphicon-star-empty"></span><a href="http://portalz.xyz/newwiki/browse.php">Kevin Portalz's Unofficial TT Wiki</a>



    <h1>Updates, News, and Announcements</h1>
    <h4>We will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    <p>November 9</p>

    <ul>
        <li>Alpha Round 27 has begun!  The player who earns the achievement <b>The Inanimator</b> will be the one with the era named after him or her.  NOTE:  The round reset again 1 hour later due to an issue with turn updates.  If you made your character in the first hour since the official launch, they will have been deleted.  Apologies for a rough start to the round.</li>
        <li>New introductory quest, Welcome to Sunnyglade.  All players begin in this very short quest that provides some introduction to the game.</li>
        <li>New spell, Immortal Woes, submitted by Nerati Sua!  Additional credits go to Chris and Rora.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a condom, a reuseable consumable item that restores willpower and mana!</li>
        <li>New spell, Sweet Bunny, submitted by Dawn Foley!  Additional credits go to Elyn for assistance and Aurora Ryall for the amazing art!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a regenerating chocolate bunny girl, a reuseable consumable who increases it's user's magicka!</li>
        <li>New spell, Bad Hair Day, submitted by Nerati Sua!  Additional credits go to Aaya. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into living hair, an animate form!</li>
        <li>New spell, To Moo or not to Moo, submitted by Dawn Foley! Additional credits go to Thanks to Powderpuff for the Art! Elyn for proofreading and general help, And Aurora for helping as well!. Graphic is by <a href="https://www.furaffinity.net/user/powderpuff">Geki</a>.  This spell turns its victim into a demonic cow girl!</li>
        <li>New spell, This is Halloween!, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turs its victim into a pumpkin girl!</li>
        <li>New spell, No Love Without a Prey, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self made.  This spell turns its victim into an Eye of Artemis tiara!</li>
        <li>New spell, A Tail of a Time!, submitted by Dawn Foley!  Additional credits go to Aurora for the help!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into an attachable cat tail!</li>
        <li>New spell, La Diosa Serpiente, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turns its victim into a Quetzlcoatl girl!</li>
        <li>New spell, Darkness My Old Friend, submitted by Larissa Fay!  Additional credits go to Jocelyn Dawnbringer for coming up with the form idea and Ninian Fay for the artwork!  Graphic is by <a href="http://luxianne.com/forum/viewtopic.php?f=7&t=655">Ninian Fay</a>.  This spell turns its victim into a dark fae!</li>
        <li>New spell, Year of the Snake, submitted by <a href="http://cyberkaku.deviantart.com/gallery/">CyberKaku</a>!  Graphic is self made.  This spell turns its victim into a Shirohebi Shrine Maiden!</li>
        <li>New spell, Omnibus Familiarum, submitted by Jocelyn Dawnbringer!  Additional credits go to Larissa Fay for co-writing, Nyx for proofreading, correction and suggestions, and Aurora Ryall for art.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into an omnibus's familiar, a pet type!</li>
        <li>New spell, Help Me Help You, submitted by Nerati Sua!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a Possessed Inari Mask!</li>
    </ul> 

    <hr />

    <p>November 8</p>

    <ul>
        <li><span class="tldr">Alpha Round 27 is scheduled to begin tomorrow, Monday November 9 at 11:00 PM UTC.</span>  Unfortunately there will not be any significant changes for this upcoming round due to vacation and focusing on bugfixes.</li>
        <li>Quests now support inanimate / animal endings.  However, players are given the option whether or not to accept their fate or return to animate in which case the character is restored to their base form.</li>
    </ul>

    <hr />

    <p>November 3</p>

    <ul>
        <li>Thank you everyone for your patience; as some of you may know I (Judoo) recently returned from a vacation.  This message is a bit delayed but congratulations to Genevieve Moen for earning the Friend of the Fae achievement and having the round named in her honor!  The game has entered chaos mode and will likely start around next Monday the 9th.  Stay tuned for further information.</li>
    </ul>

    <hr />

    <p>October 22</p>

    <ul>
        <li>New tome, Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 8) written by Judoo.  This tome continues the story of Matthias Quackenbrush, the founder of Sunnyglade and his escape from his transformation into a tree.  The lorekeeper will keep some of these in stock.</li>
        <li>Added filtering by item type to the Gear Equipper Tool <a href="http://transformaniatime.com/Info/GearTool">found here</a>.</li>
    </ul>

    <hr />

    <p>October 21</p>


    <ul>
        <li>New quest, A Day of Sun at Sapphire Lake, is now available!  This quest was written by Duhad.  Talk to Rusty for more information!</li>
    </ul>

    <hr />

    <p>October 19</p>


    <ul>
        <li>New spell, Chasing Tail, submitted by Alex!  Additional credits go to Reith/Peri/Peter & Chris.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>!  This spell turns its victim into an idly swishing tail!</li>
        <li>The new quest Apprentice's Picnic will need to be taken down for a short while for maintenance.  The quest editor has undergone some changes that are important to get done sooner than later.  Coding for it is mostly complete, however I will need to spend some time recreating the quest with the new layout.</li>
    </ul>

    <hr />

    <p>October 18</p>

    <ul>
        <li>New spell, Feeling Blue?, submitted by MechaSonic43!  Additional credits go to Tessa Harlow for the idea, Puyo Hebihime for coloring the picture. Graphic is self made.  This spell turns its victim into a blueberry woman!</li>
        <li>New spell, Lonely Toys, submitted by Nerati Sua!  Additional credits go to Chris. Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a double-sided dildo!</li>
        <li>New spell, Tuck-Tail!, submitted by Alex!  Additional credits go to Chris who kinda wrote most of this but he told me to submit it while snickering, possibly at my expense.  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into an artificial plug tail!</li>
    </ul>

    <hr />

    <p>October 13</p>

    <ul>
        <li>New spell, For Hope Nya!, submitted by Dawn Foley!  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its target into a magical cat girl (an animate form in contrast to the pet)!</li>
        <li>New spell, Why Can't I Hold All these Bats? submitted by Nyx!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a pet bat!</li>
        <li>New spell, Double Pleasure, submitted by Carv3r!  Additional credits go to Sigma-X for the Caster POV, spell invention, and idea.  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a double queen girl, a pet type!</li>
        <li>New spell, Up, or Down?, submitted by Carv3r!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into an elevator girl!</li>
        <li>New spell, Nowhere to Run, submitted by Nerati Sua!  Additional credits go to Rora. Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a Vengeful Hobble Skirt!</li>
        <li>New spell, A Touch of Darkness, submitted by Chastity Meerkat!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a pair of bonded fiendish wings!</li>
        <li>New spell, An Auricular Abracadabra, submitted by alex!  Additional credits go to Chris for alerting me to an ears image.  Graphic is by Aurora Ryall.  This spell turns its victim into a pair of occasionally wobbling ears!</li>
        <li>New spell, A Maid's Best Friend, submitted by Nerati Sua!  Additional credits go to Nyx for the form name!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell transforms its victim into a sponge!</li>
        <li>New spell, Selfless Rack, submitted by LastChance12 (Rachel Galvyan/Shadow)! Additional credits go to CyberKaku who did a bit of proofreading, 3rd person text and spell discovery/description.  Graphic is self made.  This spell turns its victim into an animate mannequin torso!</li>
        <li>New spell, The Greatest Trick..., submitted by <a href="https://www.furaffinity.net/user/indigo~clardmond/">Indigo Clardmond</a>!  Graphic is self made.  This spell turns its victim into an elusiv imp!</li>
        <li>New spell, I've Maid You What You Are!, submitted by Leia Valentine!  Additional credits go to Lilith Valentine. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a gothic lolita maid!</li>
        <li>New spell, Mystic Box v2.0, submitted by Asteron!  Additional credits go to the proof readers: Heather 'Valentine' Heart, Chryssie Valentine. Graphic is self made.  This spell turns its victim into a bat wing brooch!</li>
    
    </ul>

    <hr />

    <p>October 12</p>

    <ul>
        <li>Alpha Round 26 has started!  The condition to have this round named after you is to earn the <b>"Friend of the Fae"</b> achievement, won by playing with Jewdewfae the most times.</li>
        <li>The first quest is now live, Apprentice's Picnic!  Talk to Rusty at the bar to learn more about this quest and all future ones.</li>
        <li>New spell, Arcane Cobra, submitted by Merp ! Additional credits go to Tor.  Graphic is by self made.  This spell turns its victim into a nagaling, a pet!</li>
        <li>New spell, Stopping The Fire, submitted by <a href="http://breenacoppersun.deviantart.com">Breena</a>!  Graphic is byGraphic is by LastChance12 (Rachel Galvyan).  This spell turns its victim into a dragon slayer!</li>
        <li>New spell, One Bright and Shining Knight, submitted by Kirby Sanders!  Additional credits go to Martiandawn (for the inspiration as a Night Huntress counterpart).  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its target into a shining knight!</li>
        <li>New spell, Bin Mog G'thazag Cha, submitted by Twisty!  Graphic is by <a href="http://garikaliev.deviantart.com/">Garik Aliev</a>.  This spell turns its target into an orc hermaphrodite!</li>
        <li>New spell, Solemate, submitted by Jo Jarvis!  Additional credits go Christopher Smith who did just as much work on this spell as I did but forfeited his credit to me because he's a true friend.  I'd also like to thank Breena for her contributions and JBovinne for doing the art. :)  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell merges its victim with its owner's feet, a true solemate!</li>
        <li>New spell, Shining Huntress, submitted by LastChance12!  Additional credits go to Violetta Shadow who helped write the process.  Graphic is self made.  This spell turns its victim into a golden centauress statue, an animate but immobile form!.</li>
        <li>New spell, Constelation Mount, submitted by Foxpower93!  Additional credits go to Judoo for the idea. Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its target into a scorpiontaur!</li>
        <li>New spell, What Does The Fox Serve? submitted by <a href="breenacoppersun.deviantart.com">Breena</a>! Additional credits go to Yuki/Rachael for subtly suggesting this idea, helping and a WONDERFUL name, Gina Victor for ideas and proofreading.  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a fox maid girl!</li>
        <li>New spell, The Very Last One...., submitted by Jo Jarvis!  Additional credits go to Aurora for the help and encouragement.  Graphic is by <a href="https://www.furaffinity.net/user/powderpuff">Geki</a>.  This spell turns its victim into a Tasmanian Tigress!</li>
        <li>New spell, Pungi Pendulation, submitted by Peter Horif!  Additional credits go to Christopher Smith for helping proofread and clean up the mess of an original spell. Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a pet snake!</li>
        <li>New spell, Death by Snu-Snu, submitted by Tanya Morales!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into an amazonian bimbo!</li>
    </ul>

    <hr />

    <p>October 5-10</p>

    <ul>
        <li><span class="tldr">Alpha Round 26 is scheduled to begin on Monday of <b>next</b> week, October 12th, at 10:00 PM UTC.</span>  Sorry for the long chaos but this should give some more time for quest writers to practice the editor and write quests up.</li>
        <li>To restate, here are the plans for Alpha round 26:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>Choose-Your-Own -Adventure style questing system.  The editor is done but likely needs a little time for testing and debugging any issues found.  Rusty will help you find quests that players are eligible to begin.</li>
            <li><span class="good">COMPLETE:  </span>Minor stat balancing changes</li>
            <li><span class="good">COMPLETE:  </span>Limit consumable / resuable consumable uses to 1 item per turn.</li>
            <li><span class="good">COMPLETE:  </span>Reduce xp gain from enchanting and tweak formula for how much is gained when performing an enchant.  Enchanting contested (closer to 0) locations now earn more XP.</li>
            <li><span class="good">COMPLETE:  </span>Add small XP gain from completed inanimate/pet type transformations.  Animate spells no longer provide an XP bonus.</li>
            <li><span class="good">COMPLETE:  </span>Increase mana cost of spells when casting against more powerful opponents.</li>
            <li><span class="good">COMPLETE:  </span>Change combat so player level contains more of an effect on damage dealt to the victim</li>
            <li><span class="good">COMPLETE:  </span>Remove XP loss from struggling out of an inanimate/pet form</li>
            <li><span class="good">COMPLETE:  </span>Players who have struggled out and have the Back on Your Feet effect cannot attack or be attacked by other (human) characters.  The effect can be removed earlier with a Hex-B-Gone Moisterizer.</li>
            <li><span class="good">COMPLETE:  </span>Equipment helper tool.  Found at <a href="/Info/GearTool">this page</a>.</li>
        </ul>

        <li>Art for the Perception Puffs consuamble item by <a href="http://warlock82.deviantart.com/">Melina Mercy!</a></li>
    </ul>

    <hr />

    <p>October 3</p>

    <ul>
        <li>Art for the Nirvana Nougats consuamble item by <a href="http://warlock82.deviantart.com/">Melina Mercy!</a>  Melina would also like to thank Troodon and Vivien for reference material.</li>
    </ul>

    <hr />

    <p>October 2</p>

    <ul>
        <li><span class="bad">For anyone who is not yet aware, on October 1 it was revealed that Patreon was hacked and some databases copied.</span>  This unfortunately means that some Patreons, whether they be creators or supporters, have had personal identification revealed including name, address, pledge history, and private messages up to September 24.  While credit card numbers and passwords were also stolen, they were encrypted.  <b>I highly recommend everyone on Patreon to change their password as soon as possible whether you are a current or past donator.</b>  The fault here lies with the company that runs Patreon and has nothing to do with myself or any of Transformania Time's developers; however I'd prefer everyone to be aware of what has happened and adjust their decision whether or not to donate if so desired.  If you want to see if you were effected in the attack, <a href="https://haveibeenpwned.com/">haveibeenpwned.com</a> may let you know whether your username/email has been compromised.</li>
    </ul>

    <hr />

    <p>September 26</p>

    <ul>
        <li>Art for the Lucky Lemoncakes consuamble item by <a href="http://warlock82.deviantart.com/">Melina Mercy!</a></li>
    </ul>

    <hr />

    <p>September 25</p>

    <ul>
        <li>Some fanart from Deviant Art transformation artist from transformation artist <a href="http://sampleguy.deviantart.com/">sampleguy</a>, seen below:</li>
        <a href="http://sampleguy.deviantart.com/art/Transformania-Battle-562407531"><img width="450" src="http://pre00.deviantart.net/8e97/th/pre/f/2015/268/c/c/transformania_battle_by_sampleguy-d9aucff.jpg"></a>
    </ul>

    <hr />

    <p>September 23</p>

    <ul>
        <li>All players have been set to SuperProtection mode.  Due to the chaotic nature of, well, chaos mode, players can instantly change game modes if they so desire on the Settings page <span class="bad">IN CHAOS MODE ONLY.</span>.  They can also choose to revert to their base form.</li>
        <li>A little bit of fan art from Ninian Fay:  <a href="http://thinfae.deviantart.com/art/Cabbit-pooltoy-561195359">See it on her Deviant Art here!</a></li>
    </ul>

    <hr />


    <p>September 22</p>

    <ul>
        <li>Round 25 has ended!  Congratulations to Princess Cadance II for placing first and winning the Psycho Hunter trophy.  The game will now enter chaos mode.</li>
        <li>Here are the plans for Alpha round 26:</li>
        <ul>
            <li><span class="bad">IN PROGRESS:  </span>Choose-Your-Own-Adventure style questing system</li>
            <li><span class="bad">UNSTARTED:  </span>Minor stat balancing changes</li>
        </ul>
        <li>Longtime artist Luxianne is running a new seasonal event for halloween!  Click on the image below for more details.</li>
        <li>
            <p class="center-block"><a href="http://luxianne.deviantart.com/art/Luxa-s-Halloween-Special-2015-registrations-open-557653769"><img src="http://i.imgur.com/u85trCg.jpg"></a></p>
        </li>

    </ul>

    <hr />

    <p>September 18</p>

    <ul>
        <li>New spell, Making an Ass Out of You, submitted by Troodon!  Additional credits go to Angeline for suggesting this!.  Graphic is by <a href="http://www.furaffinity.net/user/danielkay/">Daniel Kay</a>.  This spell turns its victim into a fat ass!  (Of a kind.)</li>
    </ul>

    <hr />

    <p>September 15</p>

    <ul>
        <li>New spell, Wink'n, submitted by <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a>!  Additional credits go to Wesely pup.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a mare cunt!</li>
    </ul>

    <hr />

    <p>September 14</p>

    <ul>
        <li>New spell, Lost in Latex, submitted by Joe Nobody!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a witch with a latex fetish!</li>
        <li>New spell, Double, Double Toil and Trouble; Fire Burn, and Caldron Bubble!, submitted by Asteron!  Graphic is by <a href="http://www.furaffinity.net/user/powderpuff/">Geki</a>.  This spell turns its victim into a bubbling blue goo boy!</li>
    </ul>

    <hr />

    <p>September 13</p>

    <ul>
        <li>Reworked some of Valentine's boss actions.  The new spells involved with the event are by Leia Valentine and art by <a href="http://luxianne.deviantart.com/">Luxianne</a>.</li>
        <li>Added links to the TT Unofficial Nuclear Strike Map and Kevin Portalz's wiki at the top of this page.</li>
        <li>The bartender will now provide some information on the lorekeeper.</li>
    </ul>

    <hr />

    <p>September 11</p>

    <ul>
        <li>New spell, The Queen's Prerogative, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>! Additional credits go to Brunnhild Ravenborn, the original Demon Queen!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a pair of regal bronze slouch boots!</li>
    </ul>

    <hr />


    <p>September 10</p>

    <ul>
        <li>New spell, String me along, submitted by Nyx!  Additional credits go to Elyn for helping with third person text. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a magical marionette, an accessory!</li>
        <li>New spell, The Queen's Fancy, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Additional credits go to Heather Brandenburg, originator of the devastating butt-slam attack!  Graphic is self-made.  This spell turns its victim into a regal bronze bikini bottom to go with the top!.</li>
        <li>New curse, Stranger Danger, by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This curse is castable by the Cocky Cabbit Boi.</li>
        <li>You can now view the responses to the fourth poll <a href="http://transformaniatime.com/Settings/PollResults/4">here</a>.  If you haven't submitted your own response to it, please do so <a href="http://transformaniatime.com/Settings/ViewPoll/4">here</a>!</li>
    </ul>

    <hr />

    <p>September 9</p>

    <ul>
        <li>New spell, In the Pale Moonlight, submitted by Chastity Meerkat!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a mystical blindfold!</li>
        <li>New spell, Cold Winter Night, submitted by Aurora Ryall!  Additional credits go to Nerati, Christopher, Jocelyn, Breena, Nyx, and Lilith.  Graphic is self-made.  This spell turns its victim into a Snow Cabbit, a pet to accompany the cabbit boi!</li>
    </ul>

    <hr />

    <p>September 8</p>

    <ul>
        <li><span class="tldr">Alpha Round 25 has started!</span>  In a break from tradition, <b class="good">the player who earns the Psycho Hunter achivement will be the one to have the round named after them</b> instead of the top of the dungeon leaderboard.</li>
        <li>The old Achivements/Round Statistics data dating back to round 17 can now be seen by navigating to it via the Leaderboard page.</li>
        <li>New poll available <a href="http://transformaniatime.com/Settings/PollResults/4">here.</a>  This poll is about openness and participation is, as always, optional and anonymous.</li>
        <li>New spell, Dark Desires, submitted by Roxanne246810 (Rachael Winston/Victor, Yuki Kitsu)!  Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a captivating gothic necklace! </li>
        <li>New spell, Vexo, submitted by <a href="http://i.imgur.com/LezSik6.png">Vulpes Kitsu</a>! Additional credits go to Nerati Sua((Grace Kitsu), Alex Dantes.  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a red fox plushie worn as a hat!</li>
        <li>New spell, *Bzzt!* *Bimbo!* *Bzzt!*, submitted by Carv3r!  Additional credits go to Judy Bevins.  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into a robotic bimbo!</li>
        <li>New spell, Cuff 'Em, submitted by Judoo!  Graphic is by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>.  This spell turns its victim into a pair of fuzzy green handcuffs!</li>
        <li>New spell, Cold, submitted by Carv3r!  Graphic is by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>.  This spell turns its victim into an animate but immobile ice sculpture!</li>
        <li>New spell, Cabbits Are Strange, submitted by <a href="http://transformaniatime.com/Settings/AuthorArtistBio/44c5a42e-dc52-4b36-b850-d6b60fd534fb">Aurora Ryall</a>!  Additional credits go to Nerati and Dante.  Graphic is self made.  This spell turns its victim into a cocky cabbit boi!</li>
        <li>Four new spells submitted by Roxanne246810 (Rachael Winston/Victor, Yuki Kitsu)!  The spells are named Aquatic Benevolence, Written in Stone, Persisting Flames, and Fresh Air which turn their victims into water, earth, fire, and air elementals, respectively!  All four forms are animate and have art by <a href="http://luxianne.deviantart.com/">Luxianne</a>.</li>
        <li>New spell, Puppy Love, submitted by Troodon!  Additional credits go to Angeline for suggesting this. Graphic is by <a href="http://www.furaffinity.net/user/tez-taylor/">Tez-Taylor</a>.  This spell turns its victim into an adorable puppy pet!</li>
        <li>New spell, The Queen's Bounty, submitted by <a href="http://martiandawn.deviantart.com/">Martiandawn</a>!  Graphic is self-made.  This spell turns its victim into a bronze regal bikini top!</li>
        <li>New location-based curse, Twinsune's Relaxation, by Roxanne246810 (Rachael Winston/Victor, Yuki Kitsu).</li>
    </ul>

    <hr />

    <p>September 7</p>

    <ul>
        <li>The chat rooms now have (optional and disabled by default) audio sounds that are triggered either when anyone posts in the room (All Sounds), only when someone deliberately addresses you using the @@ functionality (Some Sounds), or no sounds at all (No Sounds).  Your choice should be persisted on a per room basis, so you can have settings different between global and a private room.  Note that as with all audio elements, your browser or device needs to support the HTML5 Web Audio API for this to work.</li>
    </ul>

    <hr />

    <p>September 6</p>

    <ul>
        <li>Alpha Round 25 will begin on Tuesday, September 8 at 10:00 PM UTC.</li>
    </ul>

    <hr />

    <p>September 5</p>

    <ul>
        <li>Duels can be started after 15 minutes of not being in combat now instead of 30.  Additionally, duels now require each combatants to have their online activity timestamps within the past 15 minutes so a duel does not start when a target is nearing going offline.</li>
        <li>All error messages for a why a duel cannot start yet should be shown together now to make it easier to understand what the criteria for it is.</li>
        <li>Skaldrlyr the Forbidden, The Exiled Lorekeeper is now live with art by <a href="http://luxianne.deviantart.com/">Luxianne</a>!  Skaldrlyr will sell spellbooks and tomes instead of Lindella and will also teach players specific spells for a small price.</li>
    </ul>

    <hr />

    <p>September 1</p>

    <ul>
        <li>Updated the player round statistics page to be more like the achivements pag.</li>
        <li>
            Added several new achievement types:
            <ul>
                <li>Couch Potato: times using covenant furniture</li>
                <li>Freeeeedom!: times struggling back to an animate form</li>
                <li>Maximally Transmogrified: Autoselftransmogrification Deflector Devices used</li>
                <li>Call of the Covenant: Covenant Callback Crystals used</li>
                <li>Dollyamory: Willpower restored using inflatable sex dolls</li>
            </ul>
        </li>
    </ul>

    <hr />


    <h2><a name="contributorsTable">Contributions and Contributors</a></h2>

    <p>These following artists and authors have spent much time and effort creating unique art and written spells for Transformania Time:</p>

    <h3>Arist Biographies</h3>

    @Html.ActionLink("Aurora Ryall", "AuthorArtistBio", "Settings", new { id = "44c5a42e-dc52-4b36-b850-d6b60fd534fb" }, null)
    <br />
    @Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)
    <br />
    @Html.ActionLink("Blanca (aka Dandelion aka Spacedande)", "AuthorArtistBio", "Settings", new { id = 6196 }, null)
    <br />
    @Html.ActionLink("JBovinne", "AuthorArtistBio", "Settings", new { id = 77 }, null)
    <br />
    @Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)
    <br />
    @Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)
    <br />
    @Html.ActionLink("Meddle", "AuthorArtistBio", "Settings", new { id = 1117 }, null)
    <br />
    @Html.ActionLink("Melina Mercy", "AuthorArtistBio", "Settings", new { id = 14785 }, null)
    <br />
    @Html.ActionLink("Ninian Fay", "AuthorArtistBio", "Settings", new { id = 12223 }, null)
    <br />
    @Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)
    <br />






    <p class="bad">A complete count of all authors and their spell counts can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>

    @*<table id="contributorsTable">

            <th>
                Contributor
            </th>
            <th>
                Contributions
            </th>

            <tr>
                <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
                <td> Many, many graphics</td>
            </tr>
            <tr>
                <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
                <td>Many Graphics!</td>
            </tr>
            <tr>
                <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
                <td>1 Spell, 1 Form, and many Graphics</td>
            </tr>
            <tr>
                <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
                <td>5 Spells, 3 Forms, 2 Items, and many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://babblingfaces.deviantart.com/">Babblingfaces</a></td>
                <td>Many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
                <td>2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
                <td> 2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
                <td>9 spells, 2 forms, 5 items, 2 pets, and several graphics</td>
            </tr>
            <tr>
                <td><a href="http://spacedande.deviantart.com/">Dandelion</a></td>
                <td>1 spell, 1 form, and many graphics</td>
            </tr>
            <tr>
                <td>Curry Senpai</td>
                <td>1 graphic</td>
            </tr>
            <tr>
                <td>Varn1234</td>
                <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
            </tr>
            <tr>
                <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
                <td>13 Spells, 7 Forms, 3 Items, 3 Animals, 1 Curse</td>
            </tr>
            <tr>
                <td>Elynsynos</td>
                <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
            </tr>
            <tr>
                <td>Sun Bro</td>
                <td>1 Spell, 1 Form</td>
            </tr>
            <tr>
                <td>PsychoticPie</td>
                <td>6 Spells, 6 Items</td>
            </tr>
            <tr>
                <td>Arrhae</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>CCWS</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>Zatur</td>
                <td>6 Spells, 4 Items, 1 Animal</td>
            </tr>
            <tr>
                <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
                <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
            </tr>
            <tr>
                <td>Sherry Gray</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
                <td>2 spell, 1 form, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
                <td> 1 spell, 1 item, 1 graphic</td>
            </tr>
            <tr>
                <td>Haretia</td>
                <td>4 spells, 1 form, 3 items</td>
            </tr>
            <tr>
                <td>hachik0048</td>
                <td>1 spell, co-contributor with LexamTheGemFox</td>
            </tr>
            <tr>
                <td>Alessandro Stamegna</td>
                <td>4 spell, 2 forms, 1 animal, 1 item</td>
            </tr>

            <tr>
                <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
                <td>1 spell, 1 Form</td>
            </tr>

            <tr>
                <td>XanKitsu</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Hanna</td>
                <td>8 spells, 1 form, 7 items</td>
            </tr>
            <tr>
                <td>Medli</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Blood Knight</td>
                <td>5 spells, 4 forms, 1 item</td>
            </tr>
            <tr>
                <td>Rust</td>
                <td>2 spell, 1 animal, 1 item</td>
            </tr>
            <tr>
                <td>Archita</td>
                <td>1 spell, 1 animal (revised by Varn)</td>
            </tr>

            <tr>
                <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>themorpher606 (Kevin Gates)</td>
                <td>4 spells, 2 forms, 2 items</td>
            </tr>
            <tr>
                <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
                <td>3 spells, 3 forms</td>
            </tr>
            <tr>
                <td>A /d/eviant</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Arbitrary Hal</td>
                <td>3 spells, 3 items</td>
            </tr>
            <tr>
                <td>Aingelproject667</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>
            <tr>
                <td>Swog</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Faremann</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Christopher</td>
                <td>8 spells, 7 items, 1 pet</td>
            </tr>
            <tr>
                <td>Aidyn Bright</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Kirshwasser</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Draggony</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Sampleguy</td>
                <td>1 spell, 1 animal, 1 graphic</td>
            </tr>
            <tr>
                <td>Berrie Valentine</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Pharlynx</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Julian Chance</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Christine Winters</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Greg Mackenzie</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Estyz</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Swogrider</td>
                <td>2 spells, 1 item, 1 pet</td>
            </tr>
            <tr>
                <td>Ashely Maid</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>BlackTGKitty</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Izz Valentine</td>
                <td>1 spell, 1 curse</td>
            </tr>
            <tr>
                <td>Rayner</td>
                <td>4 spells, 3 forms, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://www.lilysgames.com">Lily</a></td>
                <td>2 spells, 2 items</td>
            </tr>
            <tr>
                <td>Keyne Vangsten</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>GooGirl</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
                <td>2 spells, 2 forms, 2 graphics</td>
            </tr>
            <tr>
                <td>Nyx</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Taenil Auxifur</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Illia Malvusin</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Arnisd</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Mizuho</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Sage Trapp</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Kaitlyn Halliwell</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Rita</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Aethar</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Jackie/Helen Castle</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Pet Forhire</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td><a href="http://lemrith.net">Yassay</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Lazy Loki</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Soren Reus</td>
                <td>2 spells, 1 form, 1 animal</td>
            </tr>
            <tr>
                <td>Madokami</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>G0T0F66</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Jess Ganes</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Mahoney</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Duhad</td>
                <td>10 spells, 1 form, 9 items</td>
            </tr>
            <tr>
                <td>Liahnna</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>

            <tr>
                <td>Jo Jarvis</td>
                <td>1 spell, item</td>
            </tr>
            <tr>
                <td>Asteron</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Alexander Dantes</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Blackarts</td>
                <td>1 spell, 1 form</td>
            </tr>

        </table>*@

    <p>
        If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "Contribution", new { Id = -1 }, null).
    </p>

</div>
