<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "Info")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "Info")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "Info")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">
    <h1>Updates, News, and Announcements</h1>
    <h4>We will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    <p>May 17</p>

    <ul>
        <li>Here is a fairly large and experimental change to the game:  Turn update speed has been doubled.  This means:
        <ul>
            <li>Turns update after 5 minutes instead of 10.</li>
            <li>Players are considered offline after 30 minutes of inactivity instead of 60.</li>
            <li>The no-attack time period has been changed to first 30 seconds at the start of the turn and the last 30 seconds of the turn.</li>
            <li>AP and AP Reserve has not been changed any; effectively this means that it will fill up faster.</li>
        </ul>
        </li>
        <li><tldr>Alpha Round 20 is scheduled to begin tomorrow at 10pm UTC.</tldr>  The PvP/Dungeon leaderboard will be hidden for this round which will mean there will not be a round winner.  This is because the new stats conversion is still incomplete and needs further testing and alteration.</li>
        <li>Kevin Portalz is no longer able to host his calculator tool with his past service provider.  <a href="http://transformaniatime.com/PvP/Write?playerId=99456&responseTo=-1">please send him a message</a> if you might be able to help by providing a server for him to use.</li>
        <li>A new poll is now open for everyone to provide their feedback on both the new stats system and 5 minute turns.</li>
    </ul>

    <hr />

    <p>May 6-11</p>

    <ul>
        <li>Here are the plans for Alpha round 20:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>Update all contributions to use new stats system.  (0 of 366 remaining)</li>
            <li><span class="bad">UNSTARTED:  </span>Update all EFFECT contributions to use new stats system.</li>
            <li><span class="good">COMPLETE:  </span>Make all new levelup perks using new stats system.</li>
            <li><span class="good">COMPLETE:  </span>Allow friends to set nicknames for each other on the Friends page listing meant to better keep track of who is who inbetween characters and rounds.</li>
            <li><span class="good">COMPLETE:  </span>All items, not just consumables, are now locked into game modes.  This means that a player turned into an item by a PvP mode player can only be picked up or worn by another player in PvP mode, and similarly a player turned by a Protection or SuperProtection player can only be worn by Protection and SuperProtection players.  Players who are taken out by any bots or are automatically collected off of the ground and send to Lindella or Wuffie will be set to a Neutral game mode; as soon as they are worn by a player they will inherit that game mode.  Right now all existing items have been set to neutral mode.</li>
            <li><span class="good">COMPLETE:  </span>Jewdewfae will still move around randomly, but she will visit each location only once per cycle.  Once she has been to all of them, she will be able to go anywhere again.</li>
        </ul>
        <li>April's belated Patreon collection has completed.  Thanks again to everyone who supports now and in the past.  The regular monthly cycle should resume (billing begins on the 1st of each month and may take up to 5 days to complete) assuming nothing else goes wrong.</li>
    </ul>

  <hr />

    <p>May 5</p>

    <ul>
        <li>Alpha Round 19 has ended!  Congratulations to Lex Fairchild for having the most dungeon points.  The game will now enter chaos mode likely for a week or so, depending on how fast stats can be reapplied to forms / items / pets.</li>
        <li><span class="tldr">TO ALL CONTRIBUTORS:</span>  Transformania Time is undergoing a conversion on how stats are applied to animate forms, items, and pets.  If you are an author, please update your contributions according to the new balancing rules.  The proofreaders and I will also work on this conversion.  The new balancing rules are as follows:
        <ul>
            <li>ANIMATE FORMS:  You must balance 0 points in the various new categories, including up to -10 negative stats for an absolute total of 20.</li>
            <li>ITEMS:  You must balance to 10 points in the various new categories, including up to -5 negative stats for an absolute total of 20.</li>
            <li>PETS:  You must balance to 20 points in the various new categories, including up to -8 negative stats for an absolute total of 36.</li>
            <li>All transformation-based (ie, not curses) spells should cost 7 mana to cast.</li>
            <li>All spells should deal 4.5 WP damage.</li>
            <li>All spells should add 10 TF Energy points per cast.</li>
            <li>All spells should require 70 TF Energy points in order to be transformed.</li>
            <li><i>The inputs for the 4 fields above on the Contribution have been made readonly so not to confused new authors.  You can make them editable again by clicking a link at the bottom of the page.</i></li>
            <li><b>Please remove any of the old stats on the contribution once the new ones are in place.</b>  (The only exception to this is movement discount; you can keep this at -999 for immobile forms.)</li>
            <li>When you have updated your form, <span class="tldr">Please mark the contribution as needing to be republished.</span></li>
        </ul>
        
              </li>
        <li>Luxianne is running a new seasonal event, similar to her <a href="http://luxianne.deviantart.com/art/Merry-Christmas-Xmas-2014-15-TF-Sequences-502148145">winter</a> and <a href="http://luxianne.deviantart.com/art/Happy-Easter-Easter-2015-14-TF-Sequences-524877842">easter</a> events in the past.  Click on the image below for more details!</li>
        <p class="center-block"><a href="http://luxianne.deviantart.com/art/Luxa-s-Summer-Event-2015-registrations-open-531072987"><img src="http://i.imgur.com/JSxESYa.png"></a></p>
        <li> <a href="http://lexam-the-gem-fox.deviantart.com/">Circine Milton / LexamTheGemFox</a> will soon be back open for comissions.  Circine's offering to write spells or stories as comissions.  Please help him out by reading more <a href="http://lexam-the-gem-fox.deviantart.com/journal/EMERGENCY-COMMISSIONS-OPEN-SOON-531080315">here</a>.</li>
        <li><span class="tldr">Patreon has replied to my support ticket and will be kicking off April's missed collection soon.</span>  This means that payment this month will be slightly delayed but should process as usual.  Thanks for your patience and support!</li>
</ul>

    <hr />

    <p>May 4</p>

    <ul>
        <li><span class="tldr">TO ALL PATREON SUPPORTERS:</span>  It appears that because of an issue where Patreon reset my account settings a month ago, the collection option was changed from a monthly charge to a per-creation charge (a model where all supporters are charge new some new content is released rather than on a reocurring basis.)  I am waiting to see if Patreon will still be able to kick off the collection for last month.  Stay tuned for updates, and thank you for your support!</li>
        <li>In case you are wondering about other news, the stats rehaul is underway.  Contributors and proofreaders should be able to convert existing forms / items / pets / curses to the new system once chaos mode begins and I deploy the changes on the test server to the live one.</li>
    </ul>

    <hr />

    <p>April 29</p>

    <ul>
        <li>New spell, Flirty Cuteness, submitted by Breena Shadow! Additional credits go to Diana Esposito for the idea.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a breeny skirt!</li>
        <li>New spell, It's All Ogre, submitted by Troodon!  Additional credits go to the multiple people who suggested this! Thanks to Lucilia for the spell name.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a brutish ogre!</li>
        <li>New spell, Lyin' Around, submitted by Troodon!  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a stone lion, an immobile but animate form.</li>
        <li>New spell, Impropriety, submitted by <a href="https://www.furaffinity.net/gallery/indigo~clardmond/">Indigo Clardmond</a>.  Graphic is self made.  This spell turns its victim into a playful imp!</li>
    </ul>

    <hr />

    <p>April 26</p>

    <ul>
        <li>Ninian Fay, the artist who made the latest batch of quality Covenant banners and did the artwork for the Gracious Clockwork Ballerina and Unyielding Toy Soldier, would like a shout out to announce that she is open for taking comissions.  A sample of her recent art can be seen <a href="http://pre01.deviantart.net/04bb/th/pre/i/2015/110/2/e/ataxia_by_thinfae-d8qfdnt.png">here</a> and you can contact her and find out more on her <a href="http://luxianne.com/forum/viewtopic.php?f=7&t=655">thread in the forum's Art Palace.</a></li>
    </ul>

  <hr />

  <p>April 23</p>

    <ul>
        <li>There is now a 30-minute no-combat requirement for entering the dungeon in addition to leaving it.</li>
        <li>New spell, Tick.. tock.. tick.. tock.., submitted by Roxanne246810 (Rachael Winston/Yuki Kitsu)! Additional credits go to Nora Kitsu/Livia Victor, for the location idea and Elyn for proofing. Graphic is by <a href="http://luxianne.deviantart.com/">Luxianne</a>.  This spell turns its victim into a mechanized clockwork doll!</li>
    </ul>


    <hr />

    <p>April 20</p>

    <ul>
        <li>Links that follow a correct URL format are now clickable on chat.  Thanks to Kevin Portalz for the code for this!</li>
        <li>All animate players can leave a "shout" once per turn in the location they are at.  This leaves a message up to 100 characters long in the location log.</li>
        <li>Images should now use thumbnails where appropriate which should greatly reduce bandwidth and data usage.  Please report any missing images on the forum.  (Nirvana Nougat has no graphic yet so this item is exempt.)</li>
        <li>New tome, Tome:  Fun with Transformation:  A Beginner’s Guide to Ironic Transformations.  Lindella will keep some of these in stock.</li>
    </ul>

    <hr />

    <p>April 18</p>

    <ul>
        <li>New tome, Excerpts from the Diary of Mabel Quackenbrush, Founder of Sunnyglade (Volume 7) written by Judoo.  Lindella will keep some of these in stock.</li>
        <li>Added a new Jewdewfae encounter that takes place at Extended Universe Comics (Gaming Room).</li>
    </ul>

    <hr />

    <p>April 17</p>

    <ul>
        <li>Alpha Round 19 has begun!</li>
        <li>Sneak is now capped at %75 chance of success.  Sneak should be reworked for next round so this is a temporary measure.</li>
        <li>New spell, Lift With Your Legs..., submitted by Troodon!  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into a pair of cargo pants!</li>
        <li>New spell, Koala-ty Control, submitted by Breena Shadow!  Additional credits go to Demona for the idea.  Graphic is by <a href="http://babblingfaces.deviantart.com/">Babblingfaces</a>.  This spell turns its victim into an emo koala girl!</li>
        <li>New spell, Reverse Chiromancy, submitted by Not Alex! Additional credits go to Alex for proof-reading.  Also thanks to GraceKitsu for writing the spell discovery text.  JBovinne for creating the image that served as the inspiration (and graphics) for this spell.  Graphic is by <a href="http://jbovinne.deviantart.com/">jbovinne</a>.  This spell turns its victim into a pair of black latex opera gloves!</li>
    </ul>

    <p>April 16</p>

    <ul>
        <li>Alpha Round 19 is scheduled to begin tomorrow, April 17 at 10:00PM UTC.</li>
        <li>Added many new chat colors.</li>
    </ul>

    <hr />

    <p>April 12-13</p>

    <ul>
        <li>There will likely be few to no updates to the game during this upcoming round as combat mechanics and item / form stats are taken an extensive look at.  (Please contribute to the ongoing discussion here: <a href="http://luxianne.com/forum/viewtopic.php?f=9&t=704">http://luxianne.com/forum/viewtopic.php?f=9&t=704</a>. )</li>
        <li>Here are the plans for Alpha round 19:</li>
        <ul>
            <li><span class="good">COMPLETE:  </span>Disable PvP-P mode switching.</li>
            <li><span class="good">COMPLETE:  </span>Decrease spawn rate and amount of dungeon artifacts significantly.  Force the dungeon to change more frequently.</li>
            <li><span class="good">COMPLETE:  </span>The amount of TF energy buildup should now be displayed on attack text.</li>
            <li><span class="good">COMPLETE:  </span>Players will take some increased WP damage if they have too much TF energy on them (125%+ of TF energy required for a given transformation and scaling up further at 150%.)  This is a temporary measure.</li>
            <li><span class="good">COMPLETE:  </span>Rerolling players now have the option of keeping their old name.  If their name is a match to an existing account of theirs, it will be given a roman numeral as part of the last name to indicate the "generation" of the player.  This only works up to 10 generations.  Make sure to reserve your name if you have not done so already.</li>
        </ul>
    </ul>

    <hr />

    



    <h2><a name="contributorsTable">Contributions and Contributors</a></h2>

    <p>These following artists and authors have spent much time and effort creating unique art and written spells for Transformania Time:</p>

    <h3>Arist Biographies</h3>

    @Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)
    <br />
    @Html.ActionLink("Blanca (aka Dandelion aka Spacedande)", "AuthorArtistBio", "Settings", new { id = 6196 }, null)
    <br />
    @Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)
    <br />
    @Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)
    <br />
    @*@Html.ActionLink("Ninian Fay", "AuthorArtistBio", "Settings", new { id = 12223 }, null)
    <br />*@
    @Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)
    <br />

 


    

    <p class="bad">A complete count of all authors and their spell counts can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>

    @*<table id="contributorsTable">

            <th>
                Contributor
            </th>
            <th>
                Contributions
            </th>

            <tr>
                <td><a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle</a></td>
                <td> Many, many graphics</td>
            </tr>
            <tr>
                <td><a href="http://luxianne.deviantart.com/">Luxianne</a></td>
                <td>Many Graphics!</td>
            </tr>
            <tr>
                <td><a href="http://nymic-tf.deviantart.com/">nymic-tf</a></td>
                <td>1 Spell, 1 Form, and many Graphics</td>
            </tr>
            <tr>
                <td><a href="http://jbovinne.deviantart.com/">jbovinne</a></td>
                <td>5 Spells, 3 Forms, 2 Items, and many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://babblingfaces.deviantart.com/">Babblingfaces</a></td>
                <td>Many graphics!</td>
            </tr>
            <tr>
                <td><a href="http://wrenzephyr2.deviantart.com/">Wrenzephyr2</a>!</td>
                <td>2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://mbirdcz.deviantart.com/">MadBirdCZ</a></td>
                <td> 2 Graphics</td>
            </tr>
            <tr>
                <td><a href="http://martiandawn.deviantart.com/">Martiandawn</a></td>
                <td>9 spells, 2 forms, 5 items, 2 pets, and several graphics</td>
            </tr>
            <tr>
                <td><a href="http://spacedande.deviantart.com/">Dandelion</a></td>
                <td>1 spell, 1 form, and many graphics</td>
            </tr>
            <tr>
                <td>Curry Senpai</td>
                <td>1 graphic</td>
            </tr>
            <tr>
                <td>Varn1234</td>
                <td>15 Spells, 8 Forms, 3 Items, 3 Animals</td>
            </tr>
            <tr>
                <td> <a href="http://lexam-the-gem-fox.deviantart.com/">LexamTheGemFox</a></td>
                <td>13 Spells, 7 Forms, 3 Items, 3 Animals, 1 Curse</td>
            </tr>
            <tr>
                <td>Elynsynos</td>
                <td>4 Spells, 2 Forms, 1 Item, 1 Animal</td>
            </tr>
            <tr>
                <td>Sun Bro</td>
                <td>1 Spell, 1 Form</td>
            </tr>
            <tr>
                <td>PsychoticPie</td>
                <td>6 Spells, 6 Items</td>
            </tr>
            <tr>
                <td>Arrhae</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>CCWS</td>
                <td>1 Spell, 1 Item</td>
            </tr>
            <tr>
                <td>Zatur</td>
                <td>6 Spells, 4 Items, 1 Animal</td>
            </tr>
            <tr>
                <td><a href="http://danaume.deviantart.com/">Danaume Rook</a></td>
                <td>2 spells, 2 Forms, 1 Animal, 3 graphics</td>
            </tr>
            <tr>
                <td>Sherry Gray</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://christytgcaps.blogspot.com/">Christy D</a></td>
                <td>2 spell, 1 form, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://whiteflamek.deviantart.com/">WhiteflameK</a></td>
                <td> 1 spell, 1 item, 1 graphic</td>
            </tr>
            <tr>
                <td>Haretia</td>
                <td>4 spells, 1 form, 3 items</td>
            </tr>
            <tr>
                <td>hachik0048</td>
                <td>1 spell, co-contributor with LexamTheGemFox</td>
            </tr>
            <tr>
                <td>Alessandro Stamegna</td>
                <td>4 spell, 2 forms, 1 animal, 1 item</td>
            </tr>

            <tr>
                <td><a href="http://tracitwist.tumblr.com">Ellipsis</a></td>
                <td>1 spell, 1 Form</td>
            </tr>

            <tr>
                <td>XanKitsu</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Hanna</td>
                <td>8 spells, 1 form, 7 items</td>
            </tr>
            <tr>
                <td>Medli</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Blood Knight</td>
                <td>5 spells, 4 forms, 1 item</td>
            </tr>
            <tr>
                <td>Rust</td>
                <td>2 spell, 1 animal, 1 item</td>
            </tr>
            <tr>
                <td>Archita</td>
                <td>1 spell, 1 animal (revised by Varn)</td>
            </tr>

            <tr>
                <td><a href="http://redneckdemon.deviantart.com/">redneckdemon</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>themorpher606 (Kevin Gates)</td>
                <td>4 spells, 2 forms, 2 items</td>
            </tr>
            <tr>
                <td><a href="http://foxpower93.deviantart.com/">Foxpower93</a></td>
                <td>3 spells, 3 forms</td>
            </tr>
            <tr>
                <td>A /d/eviant</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Arbitrary Hal</td>
                <td>3 spells, 3 items</td>
            </tr>
            <tr>
                <td>Aingelproject667</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>
            <tr>
                <td>Swog</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Faremann</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Christopher</td>
                <td>8 spells, 7 items, 1 pet</td>
            </tr>
            <tr>
                <td>Aidyn Bright</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Kirshwasser</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Draggony</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Sampleguy</td>
                <td>1 spell, 1 animal, 1 graphic</td>
            </tr>
            <tr>
                <td>Berrie Valentine</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Pharlynx</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Julian Chance</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Christine Winters</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Greg Mackenzie</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Estyz</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td>Swogrider</td>
                <td>2 spells, 1 item, 1 pet</td>
            </tr>
            <tr>
                <td>Ashely Maid</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>BlackTGKitty</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Izz Valentine</td>
                <td>1 spell, 1 curse</td>
            </tr>
            <tr>
                <td>Rayner</td>
                <td>4 spells, 3 forms, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://techhead0.deviantart.com">Techhead</a></td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td><a href="http://www.lilysgames.com">Lily</a></td>
                <td>2 spells, 2 items</td>
            </tr>
            <tr>
                <td>Keyne Vangsten</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>GooGirl</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td><a href="http://thegreatdaeo.deviantart.com/">The Great Daeo</a></td>
                <td>2 spells, 2 forms, 2 graphics</td>
            </tr>
            <tr>
                <td>Nyx</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Taenil Auxifur</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Illia Malvusin</td>
                <td>2 spells, 1 form, 1 item</td>
            </tr>
            <tr>
                <td>Arnisd</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Mizuho</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Sage Trapp</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Kaitlyn Halliwell</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Rita</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Aethar</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Jackie/Helen Castle</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Pet Forhire</td>
                <td>1 spell, 1 animal</td>
            </tr>
            <tr>
                <td><a href="http://lemrith.net">Yassay</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Lazy Loki</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Soren Reus</td>
                <td>2 spells, 1 form, 1 animal</td>
            </tr>
            <tr>
                <td>Madokami</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td><a href="http://gemai.deviantart.com/">Vivien Gemai</a></td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>G0T0F66</td>
                <td>1 spell, 1 item</td>
            </tr>
            <tr>
                <td>Jess Ganes</td>
                <td>1 spell, 1 form</td>
            </tr>
            <tr>
                <td>Mahoney</td>
                <td>2 spells, 2 forms</td>
            </tr>
            <tr>
                <td>Duhad</td>
                <td>10 spells, 1 form, 9 items</td>
            </tr>
            <tr>
                <td>Liahnna</td>
                <td>3 spells, 2 forms, 1 item</td>
            </tr>

            <tr>
                <td>Jo Jarvis</td>
                <td>1 spell, item</td>
            </tr>
            <tr>
                <td>Asteron</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Alexander Dantes</td>
                <td>1 spell, 1 pet</td>
            </tr>
            <tr>
                <td>Blackarts</td>
                <td>1 spell, 1 form</td>
            </tr>

        </table>*@

    <p>
        If you are interested in contributing new content to the game, click @Html.ActionLink("here", "Contribute", "PvP", new { Id = -1 }, null).
    </p>

</div>
