@model IEnumerable<tfgame.dbModels.Models.RPClassifiedAd>

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("My RP Classified Ads", "MyRPClassifiedAds", "Settings")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result">@TempData["Result"]</p>
    <p class="infoMessage error">@TempData["Error"]</p>
    <p class="infoMessage suberror">@TempData["SubError"]</p>
</div>


<div class="containerInner">
    <h1>Recent RP Classified Ads</h1>
    <p style="margin: 20px 0px; text-align: center;">Looking for an RP partner?  On this page you will find all recent RP Classified Ad postings that have been updated within the past 3 days.</p>

    <div class="row">
        @{
            foreach (tfgame.dbModels.Models.RPClassifiedAd ad in Model.OrderByDescending(m => m.RefreshTimestamp))
            {
                <div class="col-xs-12 col-md-3 rp-ad textSpaced">
                    <p><b>Description</b><br />
                    <i>@ad.Text</i></p>
                    <p><span class="good">Desired themes</span><br />
                    @ad.YesThemes</p>
                    <p><span class="bad">Undesired themes</span><br />
                    @ad.NoThemes</p>
                    <p class="timeago">Created @tfgame.CustomHtmlHelpers.CharactersHere.DatetimeToTimeago(ad.CreationTimestamp)<br />
                    Last Refreshed @tfgame.CustomHtmlHelpers.CharactersHere.DatetimeToTimeago(ad.RefreshTimestamp)</p>

                    <p>@Html.ActionLink("Look at Ad Poster", "LookAtPlayer_FromMembershipId", "PvP", new { id = ad.OwnerMembershipId }, null)</p>
                </div>
            }

        }
    </div>
</div>