@model List<TT.Domain.Models.JewdewfaeEncounter>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Contribution.Contribute())">Back to contributions</a></li>
    <li><a href="@Url.Action(MVC.PvPAdmin.WriteFae(-1))">New encounter</a></li>
}

<h1>Jewdewfae encounter list (@Model.Count(e => e.IsLive) live)</h1>

@{
    foreach (var e in Model)
    {
        <p>

            @if (e.IsLive)
            {
                <span class="good">LIVE</span>
            }
            else
            {
                <span class="bad">NOT LIVE</span>
            }

            Needing FormSourceId <b>@e.RequiredFormSourceId</b> --- AT --- <b>@e.dbLocationName</b> ----- <a href="@Url.Action(MVC.PvPAdmin.WriteFae(e.Id))">[Edit]</a>



        </p>
    <br>
    }

    <hr>

    <a href="@Url.Action(MVC.PvPAdmin.WriteFae(-1))">NEW ENCOUNTER</a>
}