@model List<TT.Domain.Models.JewdewfaeEncounter>

<h1>Jewdewfae encounter list (@Model.Count(e => e.IsLive) live)</h1>

@{
    foreach (TT.Domain.Models.JewdewfaeEncounter e in Model)
    {
        <p>

            @if (e.IsLive)
            {
                <span class="good">LIVE</span>
            }
            else
            {
                <span class="bad">NOT LIVE</span>
            }

            Needing <b>@e.RequiredForm</b> --- AT --- <b>@e.dbLocationName</b> ----- @Html.ActionLink("[Edit]", MVC.PvPAdmin.WriteFae(e.Id))



        </p>
    <br />
    }
    
    <hr />
    
    @Html.ActionLink("NEW ENCOUNTER", MVC.PvPAdmin.WriteFae(-1))
}