<div class="containerInner pvpAdmin">

    @Html.Raw(TempData["Message"])

    @Html.ActionLink("List News", MVC.PvPAdmin.ListNewsPosts())<br>
    @Html.ActionLink("Approve Effect Contributions", MVC.PvPAdmin.ApproveEffectContributionList())<br>
    @Html.ActionLink("Approve Contributions", MVC.PvPAdmin.ApproveContributionList())<br>
    @Html.ActionLink("Public Broadcast", MVC.PvPAdmin.PublicBroadcast())<br>
    @Html.ActionLink("Change game date", MVC.PvPAdmin.ChangeGameDate())<br>
    @Html.ActionLink("Server Balancing", MVC.PvPAdmin.ServerBalance_Forms())<br>
    @Html.ActionLink("Server Logs", MVC.PvPAdmin.ViewUpdateLogs())<br>
    @Html.ActionLink("Approve DM Encounters", MVC.Contribution.ReviewDMRolls())<br>

    @Html.ActionLink("Jewdewfae Encounter List", MVC.PvPAdmin.FaeList())<br>

    @Html.ActionLink("Find Missing Portrait Thumbnails", MVC.PvPAdmin.FindMissingThumbnails())<br>
    @Html.ActionLink("List Custom Forms", MVC.PvPAdmin.ListCustomForms())<br>
    @Html.ActionLink("List Tomes", MVC.Tome.List())<br>
    @Html.ActionLink("List Restock Items", MVC.RestockItem.List())<br>
    @Html.ActionLink("Manage Donations", MVC.Donator.List(1))<br>

    @Html.ActionLink("Rename player", MVC.PvPAdmin.RenamePlayer(-1))<br>
    @Html.ActionLink("DEBUG inanimate me", MVC.PvPAdmin.FastInanimateMe())<br>
    @Html.ActionLink("DEBUG pet me", MVC.PvPAdmin.FastPetMe())<br>
    @Html.ActionLink("DEBUG animate me", MVC.PvPAdmin.FastAnimateMe())<br>
    @Html.ActionLink("DEBUG give me teleport scroll", MVC.PvPAdmin.FastGiveTPScroll())<br>
    @Html.ActionLink("ADMIN change game data", MVC.PvPAdmin.ChangeWorldStats())<br>
    @Html.ActionLink("ADMIN change game round name/number", MVC.PvPAdmin.ChangeRoundText())<br>
    <br>

    @Html.ActionLink("Check location consistency", MVC.PvPAdmin.CheckLocationConsistency())<br>
    <br>

    @Html.ActionLink("CLICK HERE TO ACTIVATE.", MVC.PvPAdmin.Killswitch())<br>
    @Html.ActionLink("CLICK HERE TO DEACTIVE KILLSWITCH.", MVC.PvPAdmin.KillswitchRestore())<br>



</div>