@model IEnumerable<TT.Domain.Models.NewsPost>
    @using TT.Domain.Models

<div>
    <p class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
    <p class="infoMessage suberror">@ViewBag.SubErrorMessage</p>
</div>


@Html.ActionLink("Back","Index","PvPAdmin")

<h2>ListNewsPosts</h2>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Timestamp</td>
            <td>Text</td>
            <td>Visibility</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (NewsPost n in Model.OrderByDescending(m => m.Timestamp))
            {
                <tr>
                    <td>@n.Id</td>
                    <td>@n.Timestamp</td>
                    <td>@Html.Raw(n.Text)</td>
                    <td>@n.PrintVisiblity()</td>
                    <td>@Html.ActionLink("Edit", "EditNewsPost", "PvPAdmin", new { Id = n.Id }, null)</td>
                    <td>@Html.ActionLink("[X]", "DeleteNewsPost", "PvPAdmin", new { Id = n.Id }, new { onclick = "return confirm('Are you sure you want to delete this?')", @class = "" })</td>
                </tr>
            }
        }

    </tbody>

</table>

<td>@Html.ActionLink("New", "EditNewsPost", "PvPAdmin", new { Id = -1 }, null)</td>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }
</style>