@model IEnumerable<TT.Domain.ViewModels.BalancePageViewModel>
    @using TT.Web.CustomHtmlHelpers

    <p>
        <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Forms())">Forms</a>
        <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Items())">Items</a>
        <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Pets())">Pets</a>
    </p>

    <h1>@ViewBag.Text</h1>

    @*<h2>@Model.Count</h2>*@

    <p>This tool shows the current balance of forms, items, or pets (and soon to be effects) using the most up to date balance values.</p>

    <table>
        <thead>
            <tr>
                <th>database Name</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Absolute points used</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@Html.Raw(entry.dbName)</td>
                    <td><b>@Html.Raw(entry.FriendlyName)</b></td>
                    <td>@CharactersHere.WithinBalanceTarget(entry.Balance, ViewBag.Text)</td>
                    <td>@Html.Raw(entry.AbsolutePoints)</td>
                    
                </tr>
            }
        </tbody>



    </table>

    <style>
        table {
            padding: 3px;
            border: 1px solid black;
        }

        th {
            background-color: black;
            color: white;
            text-align: center;
        }

        tr {
            padding: 3px;
            border: 1px solid black;
        }

            tr:nth-child(odd) {
                background-color: lightgray;
            }

        td {
            text-align: center;
        }


        #desired {
            font-size: 15px;
        }

        red {
            color: red;
            font-weight: 900;
        }
    </style>
