@using TT.Domain.ViewModels
@{
    PlayerFormViewModel player = ViewBag.player;
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvP.LookAtPlayer(player.Player.Id))">Back to player</a></li>
}

<h1>Items held by @player.Player.GetFullName()</h1>
<ul>
    @{
        foreach (ItemViewModel item in ViewBag.playeritems)
        {
            string strItemName = "";
            if (item.dbItem.Level > 0)
            {
                strItemName += "L" + item.dbItem.Level + " ";
            }

            strItemName += item.Item.FriendlyName;

            if (!item.dbItem.VictimName.IsNullOrEmpty())
            {
                strItemName += " (" + item.dbItem.GetFullName() + ")";
            }
            <li><a href="@Url.Action(MVC.PvPAdmin.ViewItemTransferLog(item.dbItem.Id))">@strItemName</a></li>
        }
    }
</ul>