@model IEnumerable<TT.Domain.Items.DTOs.ItemDetail>
@using TT.Domain.ViewModels
@{
    PlayerFormViewModel player = ViewBag.player;
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvP.LookAtPlayer(player.Player.Id))">Back to player</a></li>
}

<h1>Items held by @player.Player.GetFullName()</h1>
<ul>
    @{
        foreach (var item in Model)
        {
            var strItemName = "";
            if (item.Level > 0)
            {
                strItemName += "L" + item.Level + " ";
            }

            strItemName += item.ItemSource.FriendlyName;

            if (item.FormerPlayer != null)
            {
                strItemName += " (" + item.FormerPlayer.FullName + ")";
            }
            <li><a href="@Url.Action(MVC.PvPAdmin.ViewItemTransferLog(item.Id))">@strItemName</a></li>
        }
    }
</ul>