@using TT.Domain.ViewModels
@{
    ItemViewModel item = ViewBag.item;
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    @if (item.dbItem.OwnerId != null && item.dbItem.OwnerId != -1)
    {
        <li><a href="@Url.Action(MVC.PvPAdmin.ViewPlayerItems((int) item.dbItem.OwnerId))">View owner's other items</a></li>
    }
}

<h1>Item transfer log for @item.Item.FriendlyName</h1>
<ul>
@{
    var lasttime = new DateTime();
    foreach(ItemTransferLogViewModel itemlog in ViewBag.transferlog)
    {
        <li>
            @{
            if (itemlog.OwnerName == "-1")
            {
                @("Dropped")
            }
            else
            {
                @("Transferred to ")
                <a href="@Url.Action(MVC.PvP.LookAtPlayer(itemlog.ItemLog.OwnerId))">@itemlog.OwnerName</a>
            }
            if (itemlog.OwnerIP != "-1")
            {
                @("(" + itemlog.OwnerIP + ") ")
            }
            @(" on " + itemlog.ItemLog.Timestamp + " ")
            if (lasttime != DateTime.MinValue)
            {
                var timediff = itemlog.ItemLog.Timestamp - lasttime;
                if (timediff.TotalMinutes <= 15)
                {
                    if (timediff.TotalMinutes < 1)
                    {
                        <b>(@Math.Round(timediff.TotalSeconds,2) second(s) difference from above)</b>
                    }
                    else
                    {
                        <b>(@Math.Round(timediff.TotalMinutes,2) minutes(s) difference from above)</b>
                    }
                }
            }
            lasttime = itemlog.ItemLog.Timestamp;
            }
        </li>
    }
}
</ul>