@model TT.Domain.ViewModels.FairyChallengeBag

@using (Html.BeginForm("WriteFaeEncounterSend", "PvPAdmin", FormMethod.Post))
{
    <h3>Location</h3>
    @Html.TextBoxFor(m => m.dbLocationName)
    
    <br /><br />
    
      <h3>Form</h3>
    @Html.TextBoxFor(m => m.RequiredForm)
    
    <br /><br />
    
      <h3>Intro Text</h3>
    @Html.TextAreaFor(m => m.IntroText)
    
       <br /><br />
      <h3>Failure Text</h3>
    @Html.TextAreaFor(m => m.FailureText)
    
    <br /><br />
    
      <h3>Success Text</h3>
    @Html.TextAreaFor(m => m.CorrectFormText)

    <br /><br />

   
    if (ViewBag.IntroText != null)
    {
        
        <div>@Html.Raw(ViewBag.IntroText)</div> <hr />
    }

    if (ViewBag.FailureText != null)
    {
        
         <div>@Html.Raw(ViewBag.FailureText)</div> <hr />
    }

    if (ViewBag.CorrectFormText != null)
    {
        
         <div>@Html.Raw(ViewBag.CorrectFormText)</div> <hr />
    }
    



     <input type="submit" value="Save" />
}

<style>
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 200px;
    }

    .faevoice,fae {
        color: darkviolet;
    }



</style>