@model IEnumerable<TT.Domain.Models.NewsPost>
    @using TT.Domain.Models
@using TT.Domain.Statics

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Planned Game Features", "GameNews_PlannedFeatures", "Info")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "Info")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "Info")</li>
                <li>@Html.ActionLink("Equipment Helper", "GearTool", "Info")</li>
                <li>@Html.ActionLink("Server Population By Turn", "ServerPopulation", "Info")</li>
                @{if (User.IsInRole(PvPStatics.Permissions_Admin) == true)
                    {
                        <li>@Html.ActionLink("Edit News", "ListNewsPosts", "PvPAdmin", null, null)</li>
                    }
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner listdots">

    Misc Links:  <span class="glyphicon glyphicon-star-empty"></span><a href="https://www.zeemaps.com/map?group=1523025#">Unofficial TT Nuclear Strike Map</a>, <span class="glyphicon glyphicon-star-empty"></span><a href="http://portalz.xyz/newwiki/browse.php">Kevin Portalz's Unofficial TT Wiki</a>, <span class="glyphicon glyphicon-star-empty"></span>@Html.ActionLink("Message Judoo", "LookAtPlayer_FromMembershipId", "PvP", new { id = "69" }, null)



    <h1>Updates, News, and Announcements</h1>
    <h4>We will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    @{
        foreach (NewsPost n in Model)
        {

            if (User.IsInRole(PvPStatics.Permissions_Admin) == true)
            {
                @Html.ActionLink("[Edit]", "EditNewsPost", "PvPAdmin", new { Id = n.Id }, new { @class= "bad" })
            }

            <p>@n.Timestamp.ToString("MMMM d")</p>
            @Html.Raw(n.Text)

    <hr />

        }
    }

    <h2><a name="contributorsTable">Contributions and Contributors</a></h2>

    <p>These following artists and authors have spent much time and effort creating unique art and written spells for Transformania Time:</p>

    <h3>Arist Biographies</h3>

@Html.ActionLink("Aurora Ryall", "AuthorArtistBio", "Settings", new { id = "44c5a42e-dc52-4b36-b850-d6b60fd534fb" }, null)
<br />
@Html.ActionLink("Babblingfaces", "AuthorArtistBio", "Settings", new { id = 6024 }, null)
<br />
@Html.ActionLink("Blanca (aka Dandelion aka Spacedande)", "AuthorArtistBio", "Settings", new { id = 6196 }, null)
<br />
@Html.ActionLink("Brooky Brooks", "AuthorArtistBio", "Settings", new { id = "7462fbe7-c988-4ec2-bfac-3770fc9a1a28" }, null)
<br />
@Html.ActionLink("JBovinne", "AuthorArtistBio", "Settings", new { id = 77 }, null)
<br />
@Html.ActionLink("Luxianne", "AuthorArtistBio", "Settings", new { id = 4481 }, null)
<br />
@Html.ActionLink("Martiandawn", "AuthorArtistBio", "Settings", new { id = 873 }, null)
<br />
@Html.ActionLink("Meddle", "AuthorArtistBio", "Settings", new { id = 1117 }, null)
<br />
@Html.ActionLink("Melina Mercy", "AuthorArtistBio", "Settings", new { id = 14785 }, null)
<br />
@Html.ActionLink("Ninian Fay", "AuthorArtistBio", "Settings", new { id = 12223 }, null)
<br />
@Html.ActionLink("Wrenzephyr", "AuthorArtistBio", "Settings", new { id = 272 }, null)
<br />






    <p class="bad">A complete count of all authors and their spell counts can be viewed @Html.ActionLink("here.", "GetContributionTable", "Contribution")</p>



    <p>
        If you are interested in contributing new content to the game, click @(Html.ActionLink("here", "Contribute", "Contribution", new { Id = -1 }, null)).
    </p>

</div>
