@model IEnumerable<TT.Domain.ClassifiedAds.DTOs.RPClassifiedAdAndPlayerDetail>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Settings.MyRPClassifiedAds())">My RP Classified Ads</a></li>
}

<div class="containerInner">
    <h1>Recent RP Classified Ads</h1>
    <p style="margin: 20px 0px; text-align: center;">Looking for an RP partner?  On this page you will find all recent RP Classified Ad postings that have been updated within the past 3 days.</p>

    <div class="row boxContainer">
        @foreach (var ad in Model.OrderByDescending(m => m.RPClassifiedAd.RefreshTimestamp))
        {
            var player = ad.Players.FirstOrDefault();

            <div class="col-xs-12 col-md-3 rp-ad textSpaced">
                <p>
                    <i><b><u>@ad.RPClassifiedAd.Title</u></b></i>
                </p>
                <p>
                @if (player != null)
                {
                    <span style="font-size: 10px; color: grey">By:</span>
                    <span style="font-size: 11px;">
                        @(string.Format("{0} {1}{2}",
                            player.FirstName,
                            (player.DonatorLevel >= 2 && !player.Nickname.IsNullOrEmpty() ? "'" + player.Nickname + "' " : ""),
                            player.LastName))
                    </span>
                }
                else
                {
                    <span style="font-size: 10px; color: grey">The owner of this ad hadn't made a character yet</span>
                }
                </p>
                <p>
                    <b>Description</b><br>
                    <i>@ad.RPClassifiedAd.Text</i>
                </p>
                <p>
                    <span class="good">Desired themes</span><br>
                    @ad.RPClassifiedAd.YesThemes
                </p>
                <p>
                    <span class="bad">Undesired themes</span><br>
                    @ad.RPClassifiedAd.NoThemes
                </p>
                <p>
                    <span class="timeago">Availability / Timezones</span><br>
                    @ad.RPClassifiedAd.PreferredTimezones
                </p>
                <p class="timeago">
                    Created @TT.Web.CustomHtmlHelpers.HtmlHelpers.DatetimeToTimeago(ad.RPClassifiedAd.CreationTimestamp)<br>
                    Last Refreshed @TT.Web.CustomHtmlHelpers.HtmlHelpers.DatetimeToTimeago(ad.RPClassifiedAd.RefreshTimestamp)
                </p>

                @if (player != null)
                {
                    <p><a href="@Url.Action(MVC.PvP.LookAtPlayer(player.Id))">Look at Ad Poster</a></p>
                }

                @if (User.IsInRole(TT.Domain.Statics.PvPStatics.Permissions_Admin) || User.IsInRole(TT.Domain.Statics.PvPStatics.Permissions_Moderator))
                {
                    <p><a href="@Url.Action(MVC.PvPAdmin.ModDeleteClassified(ad.RPClassifiedAd.Id))">Delete for Violation</a></p>
                }

            </div>
        }
    </div>
</div>