@model IEnumerable<TT.Domain.ViewModels.ItemViewModel>
@using TT.Domain.ViewModels
@using tfgame.CustomHtmlHelpers

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("Back to Purchase List", "TradeWithPetMerchant", "NPC")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="containerInner">
    

    @{
        if (Model.Count() > 0 && Model.First().dbItem.IsPermanent == true)
        {
            <p>You can sell your pet to Wuffie.  Wuffie will make sure <b>@Model.First().dbItem.GetFullName()</b> your <b>@Model.First().Item.FriendlyName</b> is well taken care of until a new owner can be found for them!</p>
        }
        else if (Model.Count() > 0 && Model.First().dbItem.IsPermanent == false)
        {
            <p>While you have a pet, Wuffie only takes care of pets who have been permanently sealed in their new form.</p>
        }
        else
        {
            <p>You can sell your pet to Wuffie later.  Unfortunately you don't have a pet right now.</p>
        }
    }


    <hr />

    @{
        foreach (ItemViewModel item in Model.OrderByDescending(i => i.dbItem.Level))
        {
            <h3>
                @{
            if (item.dbItem.Level > 0)
            {
                <span>Level @item.dbItem.Level</span>
            }
                }

                @item.Item.FriendlyName <span> (@item.dbItem.GetFullName())</span>
            </h3>
            <p>
                You will receive:  @TT.Domain.Procedures.ItemProcedures.GetCostOfItem(item, "sell") Arpeyjis
                @Html.ActionLink("Sell", "SellPet", "NPC", new { id = item.dbItem.Id }, null)
            </p>

            <hr />
        }
    }

</div>


