@model IEnumerable<TT.Domain.ViewModels.ItemViewModel>
@using TT.Domain.ViewModels
@using tfgame.CustomHtmlHelpers

<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

<p>You can sell your items to Lindella here.</p>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>
<p>@Html.ActionLink("Back to Purchase List", "TradeWithMerchant", "NPC", new { filter = "shirt" }, null)</p>

<hr />

@{
    foreach (ItemViewModel item in Model.OrderByDescending(i => i.dbItem.Level))
    {
        <h3>
            @{
        if (item.dbItem.Level > 0)
        {
            <span>Level @item.dbItem.Level</span>
        }
            }

            @item.Item.FriendlyName <span> (@item.dbItem.GetFullName())</span>
        </h3>
        <p>
            You will receive:  @TT.Domain.Procedures.ItemProcedures.GetCostOfItem(item, "sell") Arpeyjis
            @Html.ActionLink("Sell", "Sell", "NPC", new { id = item.dbItem.Id }, null)
        </p>

        <hr />
    }
}

<p>@Html.ActionLink("Back to Purchase List", "TradeWithMerchant", "NPC", new { filter = "shirt" }, null)</p>
<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>